<div id="currency-ethereum-questions-segment" class="ui center aligned grid">

    <div class="ui two column stackable row">
      <div class="ui six wide column">
        <div class="row">
            <div class="ui center aligned header">
                {{t 'currency.ethereum.questions.header1'}}
            </div>
            <div class="text">
                {{t 'currency.ethereum.questions.text1'}}
            </div>
        </div>

        <div class="row">
            <div class="ui center aligned header">
            <p>{{t 'currency.ethereum.questions.header2'}}</p>
            </div>
            <div class="text">
                {{t 'currency.ethereum.questions.text2'}}
            </div>
        </div>

        <div class="row">
            <div class="ui center aligned header">
            <p>{{t 'currency.ethereum.questions.header3'}}</p>
            </div>
            <div class="text">
                {{t 'currency.ethereum.questions.text3'}}
            </div>
        </div>

        <div class="row">
            <div class="ui center aligned header">
            <p>{{t 'currency.ethereum.questions.header4'}}</p>
            </div>
            <div class="text">
                {{t 'currency.ethereum.questions.text4'}}
            </div>
        </div>

      </div>

      <div class="ui two wide column"></div>

      <div class="ui six wide column">
        <div class="row">
            <h3 class="ui center aligned header">
            <p>{{t 'currency.ethereum.questions.header5'}}</p>
            </h3>
            <div class="text">
                {{t 'currency.ethereum.questions.text5'}}
            </div>
        </div>

        <div class="row">
            <h3 class="ui center aligned header">
            <p>{{t 'currency.ethereum.questions.header6'}}</p>
            </h3>
            <div class="text">
                {{t 'currency.ethereum.questions.text6'}}
            </div>
        </div>

        <div class="row">
            <h3 class="ui center aligned header">
            <p>{{t 'currency.ethereum.questions.header7'}}</p>
            </h3>
            <div class="text">
                {{t 'currency.ethereum.questions.text7'}}<strong>Jaxx, KeepKey, Ledger Nano S, Mist.</strong>
            </div>
        </div>
      </div>

    </div>

</div>