<div id="currency-ethereum-history-segment" class="ui center aligned grid">

    <div class="ui row">
        <div class="header1" class="ui center aligned sixteen wide column">
            {{t 'currency.ethereum.history.title'}}
        </div>
    </div>

    <div class="ui row">
        <div class="ui container">
            <div class="ui image" class="currency-background-image" onselectstart="return false" onmousedown="return false">
                <img src="/ember/images/currency/years-ethereum.svg" onselectstart="return false" onmousedown="return false">
            </div>
            
            <div class="ui bottom aligned five column grid">
                <div class= "line-item" class="column">
                    {{t 'currency.ethereum.history.text1'}}
                </div>
                <div class= "line-item" class="column">
                    {{t 'currency.ethereum.history.text2'}}
                </div>
                <div class= "line-item" class="column">
                    {{t 'currency.ethereum.history.text3'}}
                </div>
                <div class= "line-item" class="column">
                    {{t 'currency.ethereum.history.text4'}}
                </div>

                <div class= "line-item" class="column">
                    {{t 'currency.ethereum.history.text5'}}
                </div>
                <div class= "line-item" class="column">
                    {{t 'currency.ethereum.history.text6'}}
                </div>
                <div class= "line-item" class="column">
                    {{t 'currency.ethereum.history.text7'}}
                </div>
                <div class= "line-item" class="column">
                    {{t 'currency.ethereum.history.text8'}}
                </div>
                <div class= "line-item" class="column">
                    {{t 'currency.ethereum.history.text9.part1'}}<br>
                    {{t 'currency.ethereum.history.text9.part2'}}
                </div>

            </div>

        </div>
    </div>
</div>