<div class="poly-bg"></div>
<div class="fullpage">

<div id="main-page-container">
  <div class="ui container grid">
    <div class="ui row">
      <div class="ui center aligned column">
        {{application/navbar-header}}
      </div>
    </div>
  </div>
</div>

  <div class="ui container grid" id="main-header" style="margin-bottom: 7em;">
    {{!--<div class="ui computer only tablet only row">
      <div class="ui center aligned column">
        <div id="slogan" class="ui inverted header tagline">
          <h1>{{t 'fullpage.header' }}</h1>
          <div class="sub header"><span>{{t 'fullpage.sub' }}</span></div>
        </div>
      </div>
    </div>
    <div class="ui mobile only row">
      <div class="ui center aligned column">
        <div id="slogan" class="ui inverted header tagline">
          <h1>{{t 'fullpage.header' }}</h1>
          <div class="sub header">{{t 'fullpage.sub' }}</div>
        </div>
      </div>
    </div>--}}

    <div class="ui computer only tablet only row">
      <div class="ui center aligned column">
        <div id="slogan" class="ui inverted header tagline" class="title">
          {{!--<h1>{{t 'fullpage.header' }}</h1>--}}
          <h1>{{fullpageHeader}}</h1>
        </div>
      </div>
    </div>
    <div class="ui mobile only row">
      <div class="ui center aligned column">
        <div id="slogan" class="ui inverted header tagline" class="title-mob">
          {{!--<h1>{{t 'fullpage.header' }}</h1>--}}
          <h1>{{fullpageHeader}}</h1>
        </div>
      </div>
    </div>



    <div class="ui computer only tablet only row">
      <div class="ui center aligned column">
        <div id="slogan" class="ui inverted header tagline" class="sub-title">
          {{!--<div class="sub header" style="">{{t 'fullpage.sub' }}</div>--}}
          <div class="sub header">{{fullpageSubHeader}}</div>
        </div>
      </div>
    </div>
    <div class="ui mobile only row">
      <div class="ui center aligned column">
        <div id="slogan" class="ui inverted header tagline" class="sub-title-mob">
          <div class="sub header">{{fullpageSubHeader}}</div>
        </div>
      </div>
    </div>

<div class="ui container stackable grid" class="form-exchange" id="form-exchange-container">
  <div class="six wide column" class="you-have-field">
    
    <div class="visa-logo over-head">
      <img src="/ember/images/cards.svg" class="ui image">
    </div>

    <div class="ui right labeled input">
      <label>{{t 'form.youGive'}}</label>
      {{input id="test" key-up="pullCurrency" type="tel" value=100 autocomplete="off"}}
      <div class="ui dropdown label">
        <div class="text">USD</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{!-- <div {{action 'switchGiveCur'}} class="item">USD</div>
          <div {{action 'switchGiveCur'}} class="item">EUR</div>
          <div {{action 'switchGiveCur'}} class="item">RUB</div>
          <div {{action 'switchGiveCur'}} class="item">BTC</div>
 --}}

              {{#each model.cashinfo as |item|}}

                {{#if item.usdAvailable}}
                  <div {{action 'switchGiveCur'}} class="item">USD</div>
                {{/if}}

                {{#if item.eurAvailable}}
                  <div {{action 'switchGiveCur'}} class="item">EUR</div>
                {{/if}}

                {{#if item.rubAvailable}}
                  <div {{action 'switchGiveCur'}} class="item">RUB</div>
                {{/if}}

                {{#if item.audAvailable}}
                  <div {{action 'switchGiveCur'}} class="item">AUD</div>
                {{/if}}

                {{#if item.gbpAvailable}}
                  <div {{action 'switchGiveCur'}} class="item">GBP</div>
                {{/if}}

                {{#if item.btcAvailable}}
                  <div {{action 'switchGiveCur'}} class="item">BTC</div>
                {{/if}}

              {{/each}}


        </div>
      </div>
    </div>
  </div>

  <div class="seven wide column" class="you-get-field">

    <div class="over-head price" style="color: white;"></div>

    <div class="ui right labeled input">
    <label>{{t 'form.youTake'}}</label>
    {{input class="input-field" type="tel" key-up="pullCurrencyCrypto" autocomplete="off"}}
      <div class="ui label" id="takeCur-select">
        <div class="ui floating labeled icon button" id="cur-dropdown">
        <span class="text" id="coinid"></span>
        <i class="dropdown icon crypto-arrow"></i>
        <div class="menu" style="display: none; position: absolute;">
          <div class="ui icon search input" class="search-field" id="cryptocurrency-search-field">
            <input value={{filter}} id="qwerty" style="z-index: 1000;" type="text" placeholder={{t 'exchange-form.search'}}>
            <div id="etc" style="position: relative; overflow-y: scroll;">
            {{#vertical-collection
                filteredBooks
                estimateHeight=42
                staticHeight=true
                bufferSize=7
                renderAll=false
                as |item i|}}
                <div class="item currencyClass" {{action 'switchTakeCur'}} data-value={{item.name}}>
                  <span class="coinFullName">{{item.name}}</span>
                  <span class="right-part" >
                    <span class="scrolling-short-cur-img">
                      <span class="sprite-main crypto-icon sprite-{{item.short_name}}" style="position: absolute;"></span>
                    </span>
                    <span class="scrolling-short-cur">{{item.short_name}}</span>
                  </span>
                </div>
            {{/vertical-collection}}
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="three wide column">
    <div class="over-head"></div>
    <button {{action 'goToExchange' orderConfirm order }} class="green-button">
        {{t 'exchange-form.submit'}}
    </button>
  </div>

</div>
  </div>
</div>
