<div id="accounts-segment" class="ui center aligned grid">
  <div class="ui row">
    <div class="ui center aligned ten wide column" class="header1">
        {{t 'affiliate.accounts.header'}}
    </div>
  </div>
    <div class="ui center aligned row">
        <div class="ui fourteen wide mobile four wide tablet column">
            {{#link-to 'lang.register' class="ui fluid big button" tagName="button"}}{{t 'affiliate.accounts.button'}}{{/link-to}}
        </div>
    </div>
</div>