<div id="achievements-segment" class="ui center aligned grid">

  <div class="ui row">
    <div class="ui center aligned sixteen wide column" class="header1">
        {{t 'affiliate.achievements.header'}}
    </div>
    <div class="ui center aligned sixteen wide column" class="header2">
        {{t 'affiliate.achievements.subheader'}}
    </div>
  </div>

  <div class="ui row" class="text1">
    <div class="ui center aligned sixteen wide mobile fourteen wide tablet fourteen wide computer column">
      {{t 'affiliate.achievements.text1' company='Indacoin'}}
    </div>
  </div>

  <div class="ui stackable row">
    <div class="ui seven wide column">
      <div class="ui center aligned ten wide column" class="text2">
        {{t 'affiliate.achievements.text2'}}
      </div>
      <div class="ui center aligned ten wide column" class="text3">
        {{t 'affiliate.achievements.text3'}}
      </div>
    </div>
    <div class="ui six wide column" class="transfer">
        <img class="ui centered image" src="/ember/images/affiliate/achievements-segment/transfer.png">
    </div>
  </div>

</div>