<div id="benefits-segment" class="ui center aligned grid">
  <div class="ui stackable row">

    <div class="ui six wide column">
      <div style="height: 100%" class="ui middle aligned grid">
        <div class="ui middle aligned column">
          <img class="ui centered image" src="/ember/images/affiliate/benefits-segment/image.png">
        </div>
      </div>
    </div>

    <div class="ui seven wide column">

      <div class="ui left aligned ten wide column" class="text1">
        {{t 'affiliate.benefits.header'}}
      </div>

      <div class="ui left aligned ten wide column" class="text2">
        {{t 'affiliate.benefits.text1'}}
      </div>

      <div class="ui left aligned ten wide column" class="text3">
        {{t 'affiliate.benefits.text2'}}
      </div>

      <div class="ui left aligned ten wide column" class="text4">
        {{t 'affiliate.benefits.text3'}}
      </div>
      
    </div>

  </div>
</div>