<div id="clients-segment" class="ui center aligned grid">
    <div class="ui row">
        <div class="ui center aligned sixteen wide mobile eight wide tablet column" class="header1">
            {{t 'affiliate.clients.header'}}
        </div>
    </div>

    <div class="ui row">
        <div class="ui center aligned sixteen wide mobile eight wide tablet column" class="header2">
            {{t 'affiliate.clients.subheader'}}
        </div>
    </div>

</div>