<div id="affiliate-partnership-segment" class="ui center aligned grid">

  <div class="ui row">
    <div class="ui center aligned eight wide column" class="left-block">
        <p class="header">{{t 'affiliate.achievements.partnership-title'}}</p>
        <p class="text">{{t 'affiliate.achievements.partnership-text'}}</p>
    </div>
    <div class="ui middle aligned eight wide column" class="right-block">
        <img class="ui centered image" src="/ember/images/affiliate/partnership-segment/cubes.png">
    </div>
  </div>

    <div class="three column row" class="three-blocks">

        <div class="four wide left floated column">
            <div class="ui grid">
                <div class="eight wide bottom aligned column">
                    <p class="header">{{t 'affiliate.achievements.block-1.header'}}</p>
                </div>
                <div class="eight wide column">
                    <img class="ui centered image" src="/ember/images/affiliate/partnership-segment/cub-1.png">
                </div>
            </div>
            <p class="text">{{t 'affiliate.achievements.block-1.text'}}</p>
        </div>

        <div class="four wide column">
            <div class="ui grid">
                <div class="eight wide bottom aligned column">
                    <p class="header">{{t 'affiliate.achievements.block-2.header'}}</p>
                </div>
                <div class="eight wide column">
                    <img class="ui centered image" src="/ember/images/affiliate/partnership-segment/cub-2.png">
                </div>
            </div>
            <p class="text">{{t 'affiliate.achievements.block-2.text'}}</p>
        </div>

        <div class="four wide right floated column">
            <div class="ui grid">
                <div class="eight wide bottom aligned column">
                    <p class="header">{{t 'affiliate.achievements.block-3.header'}}</p>
                </div>
                <div class="eight wide column">
                    <img class="ui centered image" src="/ember/images/affiliate/partnership-segment/cub-3.png">
                </div>
            </div>
            <p class="text">{{t 'affiliate.achievements.block-3.text'}}</p>
        </div>

    </div>

</div>