<div id="promo-segment" class="ui center aligned grid">

  <div class="ui row" class="promo">
    <div class="ui six wide left floated column" class="left-block">

        <p class="header">{{t 'affiliate.promo.api.title'}}</p>
        <p class="text-block">{{t 'affiliate.promo.api.text'}}</p>

    </div>
    <div class="ui six wide right floated column" class="right-block">

        <p class="header">{{t 'affiliate.promo.affiliate.title'}}</p>
        <p class="text-block">{{t 'affiliate.promo.affiliate.text'}}</p>

        {{#if expandSegment}}
          <p class="header sub">{{t 'affiliate.promo.affiliate.block-1.title'}}</p>
          <p class="text-block example-link">{{signUp}}</p>

          <p class="header sub">{{t 'affiliate.promo.affiliate.block-2.title'}}</p>
          <p class="text-block">{{t 'affiliate.promo.affiliate.block-2.text'}}</p>

          <p class="header sub">{{t 'affiliate.promo.affiliate.block-3.title'}}</p>
          <p class="text-block">{{t 'affiliate.promo.affiliate.block-3.text'}}</p>

          <p class="header sub">{{t 'affiliate.promo.affiliate.block-4.title'}}</p>
          <p class="text-block example-link">{{discountExample}}</p>

          <p class="more" {{action "closeSegment"}}>{{t 'affiliate.promo.close'}}</p>
        {{else}}

          <div class="ui grid">
            <div class="left aligned column">
              <button {{action 'expandSegment'}} class="green-button small_text_size fix_medium_size">
                  {{t 'affiliate.promo.more'}}
              </button>
            </div>
          </div>

        {{/if}}

    </div>
  </div>

<div class="ui row">
  <div class="column">
    <div class="questions-search-segment" class="ui center aligned grid">
      <div class="ten wide computer only ten wide tablet only column">

        <div class="ui row">
          <div class="ui column title">
              {{t 'affiliate.promo.offer-block.text'}}
          </div>
        </div>

        <div class="ui row">
          <div id="expandFeedback" class="ui center aligned grid">
            <div class="ui column">
              {{!-- <button {{action 'expandFeedback'}} class="green-button small_text_size fix_medium_size"> --}}
              <button {{action 'expandFeedback'}} class="green-button">
                  {{t 'affiliate.promo.offer-block.open'}}
              </button>
            </div>
          </div>
        </div>
        <div class="ui row">
          <div class="ui form" class="transition hidden" id="bodyFeedback">

            <div class="inline fields">
              <div class="sixteen wide field">
                <label>{{t 'affiliate.promo.offer-block.name'}}</label>
                {{input name="name" type="text"}}
              </div>
            </div>

            <div class="inline fields">
              <div class="sixteen wide field">
                <label>{{t 'affiliate.promo.offer-block.telegram'}}</label>
                <input type="text" name="phone">
              </div>
            </div>

            <div class="inline fields">
              <div class="sixteen wide field">
                <label>{{t 'affiliate.promo.offer-block.email'}}</label>
                {{input name="email" type="text"}}
              </div>
            </div>

            <div class="inline fields">
              <div class="sixteen wide field">
                <label>{{t 'affiliate.promo.offer-block.website'}}</label>
                {{input name="website" type="text"}}
              </div>
            </div>

            <div class="inline fields" style="">
              <div class="sixteen wide field">
                <label>{{t 'affiliate.promo.offer-block.project-kind'}}</label>
                <div class="ui fluid dropdown" class="project-kinds">
                    <input type="hidden" name="project">
                    <i class="dropdown icon"></i>
                    <div class="default text">{{t 'affiliate.promo.offer-block.kinds.default'}}</div>
                    <div class="menu">
                      <div class="item" data-value="ico">{{t 'affiliate.promo.offer-block.kinds.ico'}}</div>
                      <div class="item" data-value="exchnage">{{t 'affiliate.promo.offer-block.kinds.exchange'}}</div>
                      <div class="item" data-value="wallet">{{t 'affiliate.promo.offer-block.kinds.wallet'}}</div>
                      <div class="item" data-value="crypto-fund">{{t 'affiliate.promo.offer-block.kinds.crypto-fund'}}</div>
                      <div class="item" data-value="mobile-app">{{t 'affiliate.promo.offer-block.kinds.mobile-app'}}</div>
                      <div class="item" data-value="other">{{t 'affiliate.promo.offer-block.kinds.other'}}</div>
                    </div>
                </div>
              </div>
            </div>
            
            <div class="inline fields">
              <div class="sixteen wide field">
                <label>{{t 'affiliate.promo.offer-block.message'}}</label>
                <textarea name="message" rows="4"></textarea>
              </div>
            </div>

              <div class="expandFeedback__error error message"></div>

            <div class="ui center aligned grid">
              <div class="ui six wide column">
                <button {{action 'goToExchange2'}} class="green-button">
                    {{t 'affiliate.promo.offer-block.button'}}
                </button>
              </div>
            </div>

            <div class="ui center aligned grid">
              <div class="column">
                <span id="closeFeedback" class="more" style="display: none;" {{action "expandFeedback"}}>{{t 'affiliate.promo.offer-block.close'}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ui center aligned grid">

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='http://bitcoinist.com/indacoin-buying-bitcoin-credit-card/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-1"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='http://www.ewdn.com/2017/09/25/this-app-aims-to-simplify-transactions-with-more-than-200-cryptocurrencies/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-2"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://www.cryptocoinsnews.com/indacoin-mobile-wallet-operate-200-cryptocurrencies-using-one-app/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-3"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://cointelegraph.com/press-releases/freewallet-has-launched-the-simplest-way-to-buy-bitcoins'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-4"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://wavesplatform.com/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-6"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://changelly.com/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-7"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://trustwalletapp.com/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-8"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://bitbay.net/en'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-9"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://changenow.io/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-10"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://crypto.tickets'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-11"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://www.dorado.tech'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-12"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://genesis.vision/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-13"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://guarda.co/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-14"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://coinranking.com/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-16"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://byteball.org/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-17"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://icoadm.in'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-18"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://phenom.team/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-19"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://coincheckup.com/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-20"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://www.edgeless.io/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-21"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://icobazaar.com/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-22"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://quickex.io/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-23"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://suex.io/'>
      <span class='sprite-wrapper'>
        <i class="partners-white partners-white-24"></i>
      </span>
    </a>
  </div>

</div>
{{!-- convert 22.png -fuzz 100% -fill '#87e6f0' -opaque black 22_blue.png --}}
</div>

{{!-- Promo segment modals --}}
<div id="errorModalPromo" class="ui tiny modal">
  <div class="header">{{t 'error.title'}}</div>
  <div class="content">
    <p id="errorModalMessagePromo"></p>
  </div>
  <div class="actions">
    <button class="ui positive right button">
      OK
    </button>
  </div>
</div>

<div id="successModalPromo" class="ui tiny modal">
  <div class="content">
    <p>{{t 'affiliate.promo.offer-block.mail-success'}}</p>
  </div>
  <div class="actions">
    <div class="ui positive right button">
      OK
    </div>
  </div>
</div>