<div id="services-segment" class="ui center aligned grid">

  <div class="row">

    <div class="ui small images">
      <a href='https://www.cryptocompare.com/'>
        <img class="services-segment-image1" class="ui middle aligned small image" alt='CryptoCompare.com' src='/ember/images/affiliate/services-segment/4.png'/>
      </a>
      <a href='https://changelly.com/'>
        <img class="services-segment-image2" class="ui middle aligned small image" alt='changelly.com' src='/ember/images/affiliate/services-segment/5.png'/>
      </a>
      <a href='http://bitcoinist.com/indacoin-buying-bitcoin-credit-card/'>
        <img class="services-segment-image3" class="ui middle aligned small image" alt='bitcoinist.com' src='/ember/images/affiliate/services-segment/6.png'/>
      </a>
    </div>

  </div>

  {{!--<div class="ui row">
    <div class="ui center aligned ten wide column" class="header1">
        INDACOIN service is universal for any carrier
    </div>
  </div>

    <div class="ui three column stackable row">
        <div class="ui column">
            <div class="ui image">
                <img src="/ember/images/affiliate/services-segment/phone.png">
            </div>
        </div>
        <div class="ui column">
            <div class="ui image">
                <img src="/ember/images/affiliate/services-segment/notebook.png">
            </div>
        </div>
        <div class="ui column">
            <div class="ui image">
                <img src="/ember/images/affiliate/services-segment/pad.png">
            </div>
        </div>
    </div>

    <div class="ui row services-segment-images">
        <div class="ui ten wide computer sixteen wide tablet sixteen wide mobile column">
            <div class="ui tiny images">
                <a href='https://play.google.com/store/apps/details?id=com.indacoin.android'>
                    <img class="google-play" class="ui centered image" alt='Get it on Google Play' src='/ember/images/phone-segment/download-android.png'/>
                </a>
                <a href="https://itunes.apple.com/ru/app/indacoin-bitcoin-wallet-and-store/id1255080553?l=en&mt=8">
                    <img class="app-store" class="ui centered image" alt='Get it on App Store' src='/ember/images/phone-segment/download-ios.png'/>
                </a>
            </div>
        </div>
    </div>--}}
    
</div>