<div id="news-slider" class="ui center aligned grid">
   {{#if news}}
   <div class="ui row">
      <div class="ui container">
         <div class="ui three column doubling stackable masonry grid">
            {{#each news as |article|}}


            <div class="column" id="news-{{article.id}}">
               <div class="ui fluid card" class="news-block" onclick={{action "expandNews" article.id}}>
               <div class="content">
                  <div class="meta">{{article.date}}</div>
                  <div class="header">{{article.title}}</div>
                  <div class="ui image" onselectstart="return false" onmousedown="return false">
                     <img src="/assets/exclude/news-slider/{{article.id}}.png" onerror="this.src='/assets/exclude/news-slider/image-not-found.png';">
                  </div>
                  {{#if article.show}}
                  <div class="description">
                     {{html-safe article.fullText}}
                  </div>
                  {{else}}
                  <div class="description">
                     {{html-safe article.text}}
                  </div>
                  {{/if}}
               </div>
            </div>
         </div>

         
         {{/each}}
      </div>
   </div>
</div>
{{else}}
<div class="ui row">
   <div class="ui center aligned ten wide column" class="title1">
      {{t 'news-segment.no-news'}}
   </div>
</div>
{{/if}}
</div>