<div id="news-error" class="ui center aligned grid">

  <div class="ui row">
    <div class="ui center aligned ten wide column" class="title1">
        {{t 'news-segment.news-error'}}
    </div>
  </div>

</div>