<div class="fullpage-alt">
  <div id="navbar-alt" class="ui row">
    <div id="top-header" class="ui container">
        <div class="ui center aligned column">
          {{application/navbar-header}}
        </div>
    </div>
  </div>

<div id="error-page" class="ui center aligned grid">
  <div class="ui row">
    <div class="ui center aligned ten wide column" class="title">
        {{t 'error.page-404'}}
    </div>
  </div>
</div>

  <div id="footer-segment-container">
    <div class="buy-page ui basic segment container">
      {{change/footer-segment lang=langRoute}}
    </div>
  </div>

</div>