<select id="language-select" class="ui inverted dropdown" {{action 'setLocale' on='change'}}>
  {{#each locales as |loc|}}
    <option value="{{loc.id}}" selected={{is-equal loc.id i18n.locale}}>
      <i class="{{loc.id}} flag"></i>
      {{loc.text}}
    </option>
  {{/each}}
</select>
