<div class="row">
  <div class="ui sixteen wide column">
    <div class="ui computer only grid">
      <nav id="nav-main-static" class="ui inverted huge sticky secondary menu">
        <div class="ui container">
          {{#link-to 'index' class="item" id="logo"}}
            <img src="/ember/images/indacoin.svg">
          {{/link-to}}
      {{#link-to 'lang.change' class="item" tagName="a"}}{{t 'navbar.btc' }}{{/link-to}}

      {{#link-to 'lang.change' 'buy-ethereum-with-cardusd' class="item" tagName="a"}}{{t 'navbar.eth' }}{{/link-to}}
      {{#link-to 'lang.affiliate' class="item" tagName="a"}}{{t 'navbar.affiliate' }}{{/link-to}}
      {{#link-to 'lang.news' class="item" tagName="a"}}{{t 'navbar.news' }}{{/link-to}}
      {{#link-to 'lang.help' class="item" tagName="a"}}{{t 'navbar.faq' }}{{/link-to}}
      {{#link-to 'lang.api' class="item" tagName="a"}}API{{/link-to}}

      {{!--<a href="https://indacoin.com/change/buy-ethereum-with-cardusd/" class="item">{{t 'navbar.eth' }}</a>
      <a href="https://indacoin.com/affiliate" class="item">{{t 'navbar.affiliate' }}</a>
      <a href="https://indacoin.com/news" class="item">{{t 'navbar.news' }}</a>
      <a href="https://indacoin.com/help" class="item">{{t 'navbar.faq' }}</a>--}}


      <div class="right menu">
        <a href="https://indacoin.com/login" class="ui item">{{t 'navbar.login' }}</a>
        <div class="ui item">
          {{application/language-select}}
        </div>
      </div>
        </div>
      </nav>
    </div>
    <div class="ui mobile only tablet only grid">
      <nav id="nav-main" class="ui inverted huge sticky secondary menu">
        <div class="ui container">
          <a id="burger" class="item">
            <i class="sidebar large icon"></i>
          </a>
          <div class="right menu">
            <div class="ui item">{{application/language-select-mobile}}</div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<div id="burger-menu">
  <div class="ui vertical inverted fixed menu">
    {{#link-to 'index' class="item" tagName="a"}}{{t 'navbar.main' }}{{/link-to}}
    {{#link-to 'change' class="item" tagName="a"}}{{t 'navbar.btc' }}{{/link-to}}

    {{#link-to 'lang.change' 'buy-ethereum-with-cardusd' class="item" tagName="a"}}{{t 'navbar.eth' }}{{/link-to}}
    {{#link-to 'lang.affiliate' class="item" tagName="a"}}{{t 'navbar.affiliate' }}{{/link-to}}
    {{#link-to 'lang.news' class="item" tagName="a"}}{{t 'navbar.news' }}{{/link-to}}
    {{#link-to 'lang.help' class="item" tagName="a"}}{{t 'navbar.faq' }}{{/link-to}}
    {{#link-to 'lang.api' class="item" tagName="a"}}API{{/link-to}}


  {{!--
    <a href="https://indacoin.com/change/buy-ethereum-with-cardusd/" class="item">{{t 'navbar.eth' }}</a>
    <a href="https://indacoin.com/affiliate" class="item">{{t 'navbar.affiliate' }}</a>
    <a href="https://indacoin.com/news" class="item">{{t 'navbar.news' }}</a>
    <a href="https://indacoin.com/help" class="item">{{t 'navbar.faq' }}</a>--}}
  </div>
</div>
