<div class="row">
  <div class="ui sixteen wide column">
    <div class="ui computer only grid">
      <nav id="nav-main" class="ui inverted huge sticky secondary menu">
        <div class="ui container" style="justify-content: space-between;">

    {{!-- <div class="ui grid">
      <div class="ui centered row">

        <div class="message-section" class="ui fourteen wide computer six wide tablet eight wide mobile column"> --}}

          {{#if (value-equal ENV.i18n.lang 'en_GB')}}
            {{#link-to 'change' class="item bottom-highligh" id="link1" tagName="a"}}{{t 'navbar.btc' }}{{/link-to}}
          {{else}}
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-bitcoin-with-cardusd' class="item bottom-highligh" id="link1" tagName="a"}}{{t 'navbar.btc' }}{{/link-to}}
          {{/if}}
          {{#link-to 'lang.change' ENV.i18n.lang 'buy-ethereum-with-cardusd' class="item bottom-highligh" id="link2" tagName="a"}}{{t 'navbar.eth' }}{{/link-to}}
          {{#link-to 'lang.affiliate' ENV.i18n.lang class="item bottom-highligh" tagName="a"}}{{t 'navbar.affiliate' }}{{/link-to}}
          {{#link-to 'lang.news' ENV.i18n.lang class="item bottom-highligh" tagName="a"}}{{t 'navbar.news' }}{{/link-to}}

          {{!-- {{#link-to 'index' class="item" id="logo"}}
            {{#if fullHeader}}
              <img src="/ember/images/indacoin.svg">
            {{else}}
              <img src="/ember/images/indacoin.svg">
            {{/if}}
          {{/link-to}} --}}
          {{#link-to 'index' id="logo" class="item bottom-highligh" tagName="a"}}Indacoin{{/link-to}}




          {{#link-to 'lang.help' ENV.i18n.lang class="item bottom-highligh" tagName="a"}}{{t 'navbar.faq' }}{{/link-to}}

          <div id="platform-menu" class="ui dropdown" class="item">
            <div class="text">{{t 'navbar.platform' }}</div>
            <i class="dropdown icon top-level"></i>
            <div class="ui vertical menu">
              {{#link-to 'lang.change' ENV.i18n.lang 'buy-bitcoin-with-cardusd' class="item" tagName="a"}}{{t 'navbar.buy-instantly' }}{{/link-to}}
              {{!-- {{#link-to 'lang.api' ENV.i18n.lang class="item" tagName="a"}}{{t 'navbar.payment-processing' }}{{/link-to}} --}}
              <div class="ui dropdown item">
                {{t 'navbar.trading-platform' }}
                <i class="dropdown icon"></i>
                <div class="ui menu">
                  {{#if nickName}}
                    <a href="/inner" id="top-menu-login" class="item" tagName="a">{{nickName}}</a>
                    <span {{action 'logout'}} class="item">{{t 'navbar.logout' }}</span>
                  {{else}}
                    {{#link-to 'lang.login' ENV.i18n.lang id="top-menu-login" class="item" tagName="a"}}{{t 'navbar.login' }}{{/link-to}}
                    {{#link-to 'lang.register' ENV.i18n.lang id="top-menu-register" class="item" tagName="a"}}{{t 'navbar.registration' }}{{/link-to}}
                  {{/if}}
                </div>
              </div>
              <div class="ui dropdown item">
                {{t 'navbar.mobile-wallet' }}
                <i class="dropdown icon"></i>
                <div class="ui menu">
                  <a class="item" href="https://play.google.com/store/apps/details?id=com.indacoin.android">Google Play</a>
                  <a class="item" href="https://itunes.apple.com/ru/app/indacoin-bitcoin-wallet-and-store/id1255080553?l=en&mt=8">App Store</a>
                </div>
              </div>
            </div>
          </div>

            <div class="ui item">
              {{application/language-select}}
            </div>

          <div class="ui item" style="justify-content: space-between; width: 80px;">

            <a href='https://twitter.com/indacoin' class="header-segment-social">
            {{#if fullHeader}}
              <img src="/ember/images/header/twitter.svg">
            {{else}}
              <img src="/ember/images/header/twitter.svg">
            {{/if}}
            </a>

            {{!-- <a href='https://www.facebook.com/indacoinlimited/' class="header-segment-social">
            {{#if fullHeader}}
              <img src="/ember/images/header/facebook.svg">
            {{else}}
              <img src="/ember/images/header/facebook.svg">
            {{/if}}
            </a> --}}
            
            <a href='https://www.instagram.com/indacoin_limited/' class="header-segment-social">
            {{#if fullHeader}}
              <img src="/ember/images/header/instagram.svg">
            {{else}}
              <img src="/ember/images/header/instagram.svg">
            {{/if}}
            </a>
          </div>
        </div>





      </nav>
    </div>
    <div class="ui mobile only tablet only grid" id="nav-main-container">
      <nav id="nav-main" class="ui inverted huge sticky secondary menu">
        <div class="ui container">
          <a id="burger" class="item">
          <i class="sidebar large icon"></i>
          </a>
          <div class="right menu">
            <div class="ui item">{{application/language-select-mobile}}</div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<div id="burger-menu">
  <div class="ui vertical inverted fixed menu">
    {{#link-to 'index' class="item" tagName="a"}}{{t 'navbar.main' }}{{/link-to}}
    {{#link-to 'lang.change' ENV.i18n.lang 'buy-bitcoin-with-cardusd' class="item" tagName="a"}}{{t 'navbar.btc' }}{{/link-to}}
    {{#link-to 'lang.change' ENV.i18n.lang 'buy-ethereum-with-cardusd' class="item" tagName="a"}}{{t 'navbar.eth' }}{{/link-to}}
    {{#link-to 'lang.affiliate' ENV.i18n.lang class="item" tagName="a"}}{{t 'navbar.affiliate' }}{{/link-to}}
    {{#link-to 'lang.news' ENV.i18n.lang class="item" tagName="a"}}{{t 'navbar.news' }}{{/link-to}}
    {{#link-to 'lang.help' ENV.i18n.lang class="item" tagName="a"}}{{t 'navbar.faq' }}{{/link-to}}
    {{!-- {{#link-to 'lang.api' ENV.i18n.lang class="item" tagName="a"}}API{{/link-to}} --}}
  </div>
</div>