<div id="currency-error" class="ui center aligned grid">
  <div class="ui row">
    <div class="ui center aligned ten wide column" class="title1">
        {{t 'currency.no-currency'}}
    </div>
  </div>
</div>