<div id="currency-history-segment" class="ui center aligned grid">

    <div class="ui row">
        <div class="header1" class="ui center aligned sixteen wide column">
            {{t 'currency.history.title'}}
        </div>
    </div>

    <div class="ui row">
        <div class="ui container">
            <div class="ui image" class="currency-background-image" onselectstart="return false" onmousedown="return false">
                <img src="/ember/images/currency/years.svg" onselectstart="return false" onmousedown="return false">
            </div>
            
            {{!--<div style="height: 100%" class="ui bottom aligned five column grid">--}}
            <div class="ui bottom aligned five column grid">
                <div class= "line-item" class="column">
                    {{t 'currency.history.text1'}}
                </div>
                <div class= "line-item" class="column">
                    {{t 'currency.history.text2'}}
                </div>
                <div class= "line-item" class="column">
                    {{t 'currency.history.text3'}}
                </div>
                <div class= "line-item" class="column">
                    {{t 'currency.history.text4'}}
                </div>
                <div class= "line-item" class="column">
                    {{t 'currency.history.text5.part1'}}<br>
                    {{t 'currency.history.text5.part2'}}
                </div>



                <div class= "line-item" class="column">
                    {{t 'currency.history.text6'}}
                </div>
                <div class= "line-item" class="column">
                    {{t 'currency.history.text7.part1'}}<br>
                    {{t 'currency.history.text7.part2'}}<br>
                    {{t 'currency.history.text7.part3'}}
                </div>
                <div class= "line-item" class="column">
                    {{t 'currency.history.text8.part1'}}<br>
                    {{t 'currency.history.text8.part2'}}<br>
                    {{t 'currency.history.text8.part3'}}
                </div>
                <div class= "line-item" class="column">
                    {{t 'currency.history.text9'}}
                </div>

            </div>

        </div>
    </div>
</div>