<div id="currency-questions-segment" class="ui center aligned grid">
    <div class="column">
        <div class="questions-block" class="ui center aligned stackable two column grid">
            <div class="ui five wide column">
                <div class="header">
                    {{t 'currency.questions.header1'}}
                </div>
                <div class="sub-header">
                    {{t 'currency.questions.text1'}}
                </div>
            </div>
            <div class="ui three wide column"></div>
            <div class="ui five wide column">
                <div class="header">
                    {{t 'currency.questions.header2'}}
                </div>
                <div class="sub-header">
                    {{t 'currency.questions.text2'}}
                </div>
            </div>
        </div>

        <div class="questions-block" class="ui center aligned stackable two column grid">
            <div class="ui five wide column">
                <div class="header">
                    {{t 'currency.questions.header3'}}
                </div>
                <div class="sub-header">
                    {{t 'currency.questions.text3'}}
                </div>
            </div>
            <div class="ui three wide column"></div>
            <div class="ui five wide column">
                <div class="header">
                    {{t 'currency.questions.header4'}}
                </div>
                <div class="sub-header">
                    {{t 'currency.questions.text4'}}
                </div>
            </div>
        </div>

        <div class="questions-block" class="ui center aligned stackable two column grid">
            <div class="ui five wide column">
                <div class="header">
                    {{t 'currency.questions.header5'}}
                </div>
                <div class="sub-header">
                    {{t 'currency.questions.text5'}}
                    <strong>TREZOR, Ledger, Blockchain.info, Coinbase.</strong>
                </div>
            </div>
            <div class="ui three wide column"></div>
            <div class="ui five wide column"></div>
        </div>

    </div>
</div>