<div id="currency-numbers-segment" class="ui center aligned stackable three column grid">

    <div class="column">
        <div class="header">
            {{volume}} $
        </div>
        <div class="sub-header">
            {{t 'currency-table.volume'}}
        </div>
    </div>

    <div class="column">
        <div class="header">
            {{market-cup}} $
        </div>
        <div class="sub-header">
            {{t 'currency-table.market'}}
        </div>
    </div>
    
    <div class="column">
        <div class="header">
            {{available-supply}} $
        </div>
        <div class="sub-header">
            {{t 'currency-table.available-supply'}}
        </div>
    </div>

</div>