<div id="currency-motivation-segment" class="ui center aligned grid">

    <div class="ui row">
        <div class="header1" class="ui center aligned sixteen wide column">
            {{t 'currency.motivation.title'}}
        </div>
    </div>

</div>