<div id="currency-difference-segment" class="ui center aligned grid">

    <div class="ui row">
        <div class="header1" class="ui center aligned sixteen wide column">
            {{t 'currency.difference.title'}}
        </div>
    </div>

    <div class="ui row">
        <div class="currency-difference-group" class="ui center aligned stackable two column grid">

            <div class="currency-difference-column" class="ui five wide column">
                
                <div class="currency-difference-block">
                    <div class="ui center aligned header">
                        <div class="ui image" class="image-1">
                            <img src="/ember/images/currency/icon-1.svg">
                        </div>
                        <p>{{t 'currency.difference.header1'}}</p>
                    </div>
                    <div class="text">
                        {{t 'currency.difference.text1'}}
                    </div>
                </div>

                <div class="currency-difference-block">
                    <div class="ui center aligned header">
                        <div class="ui image" class="image-2">
                            <img src="/ember/images/currency/icon-2.svg">
                        </div>
                        <p>{{t 'currency.difference.header2'}}</p>
                    </div>
                    <div class="text">
                        {{t 'currency.difference.text2'}}
                    </div>
                </div>

            </div>

            <div class="currency-difference-column" class="ui five wide column">

                <div class="currency-difference-block" class="middle-block">
                    <div class="ui center aligned header">
                        <div class="ui image" class="image-3">
                            <img src="/ember/images/currency/icon-3.svg">
                        </div>
                        <p>{{t 'currency.difference.header3'}}</p>
                    </div>
                    <div class="text">
                        {{t 'currency.difference.text3'}}
                    </div>
                </div>

            </div>

            <div class="currency-difference-column" class="ui five wide column">

                <div class="currency-difference-block">
                    <div class="ui center aligned header">
                        <div class="ui image" class="image-4">
                            <img src="/ember/images/currency/icon-4.svg">
                        </div>
                        <p>{{t 'currency.difference.header4'}}</p>
                    </div>
                    <div class="text">
                        {{t 'currency.difference.text4'}}
                    </div>
                </div>

                <div class="currency-difference-block">
                    <div class="ui center aligned header">
                        <div class="ui image" class="image-5">
                            <img src="/ember/images/currency/icon-5.svg">
                        </div>
                        <p>{{t 'currency.difference.header5'}}</p>
                    </div>
                    <div class="text">
                        {{t 'currency.difference.text5'}} 
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>