<div id="currency-graph-segment" class="ui center aligned grid container">
    <div class="ui middle aligned content stackable row">
        <div class="currency-header1-container" class="ui two wide column">
            <h2 class="ui header" class="currency-header1">{{currency-header1}}</h2>
        </div>

        <div class="currency-header2-container" class="ui six wide computer six wide tablet sixteen wide mobile column">
            <h2 class="ui header" class="currency-header2">{{info.price_usd}}$</h2>
        </div>

        {{!--
        <div class="currency-graph-dropdown-container" class="ui two wide column">
            <div id="currency-graph-dropdown" class="ui selection dropdown">
                <div class="text">USD</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="active item">USD</div>
                    <div class="item">EUR</div>
                    <div class="item">RUB</div>
                </div>
            </div>
        </div>
        --}}

        <div class="prompt-container" class="ui six wide column" style="visibility: hidden;">
            <div class="ui search">
                <div class="ui icon input">
                    <i class="search icon"></i>
                    <input class="prompt" type="text" placeholder={{t 'currency-table.search-cryptocurrency'}}>
                </div>
                <div class="results"></div>
            </div>
        </div>

    </div>
    <div class="ui tablet only computer only row">
        <div class="ui twelve wide column">
            <div class="ui bottom attached segment">
                {{!----}}
                <canvas id="currencyChart"></canvas>
                {{!-- {{ember-chart id="myChart" type=type data=data options=options}} --}}
            </div>
        </div>
        <div class="ui four wide column">

            <div class="ui three column grid">

                <div class="currency-graph-row-1" class="row">
                    <div class="ui image" class="currency-graph-arrow-1" onselectstart="return false" onmousedown="return false">
                        {{!--<img src="/ember/images/currency/blue-arrow.svg" onselectstart="return false" onmousedown="return false">--}}
                        {{positive-number info.change1h}}
                    </div>
                    
                    <div class="currency-graph-percent" class="ui sixteen wide column">{{info.change1h}}%</div>
                    <div class="currency-graph-time" class="ui sixteen wide column">{{t 'currency-table.change-1h'}}</div>
                </div>

                <div class="currency-graph-row-2" class="row">
                    <div class="ui image" class="currency-graph-arrow-2" onselectstart="return false" onmousedown="return false">
                        {{!--<img src="/ember/images/currency/red-arrow.svg" onselectstart="return false" onmousedown="return false">--}}
                        {{positive-number info.change7d}}
                    </div>
                    <div class="currency-graph-percent" class="ui sixteen wide column">{{info.change7d}}%</div>
                    <div class="currency-graph-time" class="ui sixteen wide column">{{t 'currency-table.change-24h'}}</div>
                </div>

                <div class="currency-graph-row-3" class="row">
                    <div class="ui image" class="currency-graph-arrow-3" onselectstart="return false" onmousedown="return false">
                        {{!--<img src="/ember/images/currency/blue-arrow.svg" onselectstart="return false" onmousedown="return false">--}}
                        {{positive-number info.change24h}}
                    </div>
                    <div class="currency-graph-percent" class="ui sixteen wide column">{{info.change24h}}%</div>
                    <div class="currency-graph-time" class="ui sixteen wide column">{{t 'currency-table.change-7d'}}</div>
                </div>

            </div>
        </div>
    </div>

    <div id="currency-numbers-segment" class="ui center aligned stackable row">

        <div class="four wide column">
            <div class="header">
                {{volume}} $
            </div>
            <div class="sub-header">
                {{t 'currency-table.volume'}}
            </div>
        </div>

        <div class="four wide column">
            <div class="header">
                {{market-cup}} $
            </div>
            <div class="sub-header">
                {{t 'currency-table.market'}}
            </div>
        </div>
        
        <div class="four wide column">
            <div class="header">
                {{available-supply}} $
            </div>
            <div class="sub-header">
                {{t 'currency-table.available-supply'}}
            </div>
        </div>


        
        <div class="four wide column" class="currency-graph-button">
            <div class="ui four wide computer eight wide tablet sixteen wide mobile column">
                {{#link-to 'lang.change' ENV.i18n.lang (concat 'buy-' (to-lower-case currency-header1) '-with-cardusd') tagName="a"}}
                    <button class="ui teal fluid big button"><span>{{t 'currency.graph.buy-button'}}</span></button>
                {{/link-to}}
            </div>
        </div>


        {{!--

        https://indacoin.com/en_DE/change/buy-bitcoin-with-cardusd
        let link = "https://indacoin.com/" + lang + "_" + region + "/change/buy-" + currency + "-with-cardusd";


        {{#link-to 'lang.change' ENV.i18n.lang (concat 'buy-' (to-lower-case name) '-with-cardusd') class="item" tagName="a"}}
            <button class="ui basic fluid button">{{t 'buy'}}</button>
        {{/link-to}}
        --}}



        {{!--
        <div class="four wide column" class="currency-graph-button">
            <div class="ui four wide computer eight wide tablet sixteen wide mobile column">
                <button {{action 'toPurchasePage' isBitcoin }} class="ui teal fluid big button"><span>{{t 'currency.graph.buy-button'}}</span></button>
            </div>
        </div>--}}
    </div>
</div>