<div id="currency-buy-segment" class="ui center aligned grid container">
    
    {{!--
    <div class="ui row">
        <div class="ui five wide computer eight wide tablet sixteen wide mobile column">
            <button {{action 'toPurchasePage' isBitcoin }} class="ui teal fluid button currency-buy-button">Buy</button>
        </div>
    </div>
    --}}
    <div class="ui row">
        <div class="ui five wide computer eight wide tablet sixteen wide mobile column">
            <button {{action 'toPurchasePage' isBitcoin }} class="ui teal fluid big button">Buy</button>
        </div>
    </div>

</div>