<div id="currency-presented-segment" class="ui center aligned grid">

    <div class="ui row">
        <div class="header1" class="ui center aligned sixteen wide column">
            {{t 'currency.presented.header'}}
        </div>
    </div>
    
</div>