<div class="ui center aligned grid">
  <div class="ui row">
    <div class="ui center aligned ten wide column" class="header1">
        {{#if isAgreement}}
			<span>Terms of use</span> / <span class="blue pointer" {{action "turnPolicy"}}>Aml policy</span>
        {{else}}
        	<span class="blue pointer" {{action "turnAgreement"}}>Terms of use</span> / <span>Aml policy</span>
        {{/if}}
    </div>
  </div>

  {{#unless isAgreement}}
		<div class="policy">
			<div class="container2">Indacoin Policy</div>
			<div class="container3">It is the policy of Indacoin to prohibit and actively prevent money laundering and any activity that facilitates money laundering or the financing of terrorist or criminal activities. We will comply with all applicable requirements and regulations. Money laundering is generally defined as engaging in acts designed to conceal or disguise the true origins of criminally derived proceeds so that the proceeds appear to have derived from legitimate origins or constitute legitimate assets. Indacoin has zero-tolerance policy for money laundering activities. Our AML/CFT policies, procedures and internal controls are designed to ensure compliance with all applicable regulations and will be reviewed and updated on a regular basis to ensure appropriate policies, procedures and internal controls are in place to account for both changes in regulations and changes in our business.</div>
			<br>
			<div class="container8">This AML Policy aims to prevent the use of Indacoin’s services by criminal entities for the purposes of money laundering, financing of terrorism, fraud, corruption, or any other criminal activity. To this end, the company has established strict money laundering detection and prevention policy. Also, to counter money laundering, the company has implemented a sophisticated electronic customer verification system and introduced detailed statistics logging for all customer transactions. Furthermore, Indacoin, under no circumstances, accepts cash from or pays cash to its customers. The company reserves the right to suspend any transaction of its customer that may be considered illegal or, in Indacoin employees’ opinion, may be related to money laundering. </div>
			<div class="container4">The principal requirements, obligations and penalties, on which Indacoin AML policy is based, are contained in:</div>
			<div class="container5">– The Proceeds of Crime Act 2002 (POCA), as amended by the:<br><br>
				Serious Organised Crime and Police Act 2005 (SOCPA); and the
				Proceeds of Crime Act (Amendment) Regulations 2007;<br><br>
				– The Terrorism Act 2000, as amended by the:<br><br>
				The Anti Terrorism, Crime & Security Act 2001; and the
				Terrorism Act (Amendment) Regulations 2007;<br><br>
				– The Terrorism Act 2006;<br><br>
				– The Bribery Act 2010;<br><br>
				– The Money Laundering Regulations 2007, transposing the requirements of the EU’s Third Money Laundering         Directive;<br><br> 
				– The Joint Money Laundering Steering Group (JMLSG) Guidance for the UK Financial Sector on the prevention of money laundering/combating terrorist fi nancing.<br><br>
			</div>
			<div class="container6">We have a designated Money Laundering Reporting Officer (“MLRO”).  The MLRO has full responsibility for our AML/CFT program. The duties of the MLRO will include monitoring our compliance with AML/CFT obligations, overseeing communication and training for employees and overseeing software modifications to ensure they comply with AML/CFT obligations. The MLRO will also ensure that we keep and maintain all of the required AML/CFT records.</div>
			<div class="container7">2 KYC - identification and verification of new customers, deposits, transfers and withdrawals
				In order to verify the account (confirm the customers’ identity), the user must provide the following information:
			</div>
			<ul>
				<li><span>Full name;</span></li>
				<br>
				<li><span>Date of birth;</span></li>
				<br>
				<li><span>Country of residence;</span></li>
				<br>
				<li><span>Phone number, which Indacoin will send test message or call to verify the identity;</span></li>
				<br>
				<li><span>Email with which account is registered. This is followed by verification of the customer’s phone number in all kinds of databases, such as yellow/white pages. In case of suspicion, our employee will also call the bank and request a bank clerk to contact the customer to verify that the user did use his or her debit/credit card to purchase bitcoins on Indacoin;</span></li>
				<br>
				<li><span>Verified proof of residence (e.g., utility bill no more than 3 months old);</span></li>
				<br>
				<li><span>If a potential or existing customer either refuses to provide the information described above when requested, or appears to have intentionally provided misleading information, we will deactivate the account and, after considering the risks involved, consider closing any existing account. In either case, our MLRO will be notified so that we can determine whether we should report the situation to the authorities.</span></li>
				<br>
				<li><span>If the amount of funds deposited in/withdrawn from an account every month exceeds EUR 5,000 a video is required, of the customer showing his or her passport or driver’s license, as well as the front of his or her bankcard so that the first and last name can be read easily. The card number should be covered for security reasons;</span></li>
				<br>
				<li><span>If the amount of funds deposited in/withdrawn from an account every month exceeds EUR 10,000, Indacoin may request the account user to provide some additional information, including to answer questions about how he or she developed an interest in bitcoins, the purpose of his or her transactions, his or her trading strategy, the user’s biography, and the origins of the funds operated on the Website of the Service, including documentary evidence (e.g., a bank statement showing the receipt of a salary, a contract for the sale of an interest in a business, etc.)</span></li>
				<br>
				<li><span>Based on the risk, and to the extent reasonable and practicable, we will ensure that we have a reasonable belief that we know the true identity of our customers by using risk-based procedures to verify and document the accuracy of the information we get about our customers, but in any case complying with the statutory requirements. The MLRO will analyse the information we obtain to determine whether the information is sufficient to form a reasonable belief that we know the true identity of the customer (e.g., whether the information is logical or contains inconsistencies). We will verify customer identity through documentary means, non-documentary means or both.</span></li>
				<br>
				<li><span>We will monitor account activity for unusual size, volume, pattern or type of transactions, taking into account risk factors and red flags that are appropriate to our business. The MLRO or his or her designee will be responsible for this monitoring, will review any activity that our monitoring system detects, will determine whether any additional steps are required, will document when and how this monitoring is carried out, and will report suspicious activities to the appropriate authorities. The MLRO or his or her designee will conduct an appropriate investigation and review relevant information from internal or third-party sources before the authorities are notified. We monitor possible insufficient or suspicious information provided by the customer, particularly when the customer:</span></li>
			</ul>
			<div class="container9">– Provides unusual or suspicious identification documents that cannot be readily verified.<br>
				– Reluctant to provide complete information about nature and purpose of transaction, anticipated account activity etc.<br>
				– Refuses to identify a legitimate source for funds or information is false, misleading or substantially incorrect.<br>
				– Background is questionable or differs from expectations based on business activities.
			</div>
			<br><br>
		</div>
	{{else}}
	<div class="agreement">
		<div class="container2">Introduction This is a contract between you and Indacoin (“The Service”, “Indacoin”). By signing up to use an account through indacoin.com, APIs, or mobile applications, you agree that you have read, understood, and accept all of the terms and conditions contained in this Agreement, as well as our Privacy Policy.<br>
			Please read these Terms of Use ("Terms", "Terms of Use") carefully before using the https://indacoin.com/ website and the Indacoin mobile application (the "Service") operated by our company.<br> 
			Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. <br> 
			If you do not agree to accept and comply with any of the provisions of the Terms of Use, or if the Terms of Use are contrary to your national law or to the law of your location, you agree not to use the Service, otherwise, you are liable for all losses and damages to the Service or to third parties, caused by your failure to follow the Terms of Use. <br> 
			In addition, when using the Indacoin particular services, you shall be subject to any posted guidelines or rules applicable to such services, which may be posted and modified from time to time.  
			To be eligible to use the Service, you must be at least 18 years old.
		</div>
		<div class="caption">Changes</div>
		<div class="container4">Occasionally we may, in our discretion, make changes and improvements to the Indacoin Terms of Use. When we make changes to the Terms that we consider substantial, we’ll notify you through the Service. By continuing to use the Service after those changes are made, you express and acknowledge your acceptance of the changes.</div>
		<div class="caption">Indacoin Account</div>
		<div class="container6">Users access the account, interface, and some services of the Service through the use of the user login and password, which are provided upon the User’s registration at the Service. In order to create an Account at the Service, as well as to access the services of Indacoin, the User must first register at the Service. An account at the Service is a personal page of the User, and may only be used by the User who have access to the Account through the Service. The User is prohibited to provide his account access information or the account itself to third parties or to other Users. In the case of theft of the account access information or account itself by a third party, the User bears the burden of proving he was not responsible. The User is liable for the actions of any third party who was provided with access to his Account.
			In order to use certain features of the Service, including certain transfers of Digital Currency, you may be required to provide the Service with certain personal information, including, but not limited to, your name, address, telephone number, e-mail address, date of birth and information regarding your bank account. In submitting this or any other personal information that may be required, you verify that the information is accurate and authentic, and you agree to update the Service if any information changes. 
		</div>
		<div class="caption">Services Provided</div>
		<div class="container8">Eligible users in certain jurisdictions may buy or sell supported Digital Currency through the Conversion Services. The Conversion Services are subject to the conversion rate for the given transaction. That conversion rate will be displayed on the page of your order with all fees included. After the submitting a request for buying Digital Currency, you will need to complete the verification procedures that include verifying you credit card information and your phone number. Indacoin reserves the right to delay any Conversion Service transaction if it perceives a risk of fraud or illegal activity. 	Indacoin may require you to provide or verify additional information, or to wait some amount of time after completion of a transaction, before permitting you to use any Indacoin Services and/or before permitting you to engage in transactions beyond certain volume limits.<br><br>
			The amount that the user receives may differ from originally shown due to sharp jumps in rate. In this case, if the amount differs by more than 0.5 percent, the user has the right to request a refund.<br><br>
			The Hosted Digital Currency Wallet services are available only in connection with those Digital Currencies that Indacoin, in its sole discretion, decides to support. The Digital Currencies that Indacoin supports may change from time to time. If you have any questions about which Digital Currencies Indacoin currently supports, please write a request to support@indacoin.com. Under no circumstances should you attempt to use your Hosted Digital Currency Wallet services to store, send, request, or receive digital currencies in any form that are not supported by Indacoin. Indacoin assumes no responsibility or liability in connection with any attempt to use Indacoin Services for digital currencies that Indacoin does not support.<br><br>
			Indacoin processes supported Digital Currency according to the instructions received from its users. You should verify all transaction information prior to submitting instructions to Indacoin. In the event you initiate a Digital Currency Transaction by entering the recipient's phone number and the recipient does not have an existing Indacoin Account, Indacoin will contact the recipient and invite him to open a Indacoin Account. Indacoin may charge network fees (miner fees) to process a Digital Currency transaction on your behalf. Indacoin will calculate the network fee in its discretion, although Indacoin will always notify you of the network fee at or before the time you authorize the transaction.
		</div>
		<div class="caption">General Use, Prohibited Use and Cancellation</div>
		<div class="container10">License  We grant you a limited, nonexclusive, nontransferable license, subject to the terms of this Agreement, to access and use the Service, and related content, materials, information (collectively, the "Content") solely for approved purposes as permitted by Indacoin. Any other use of the Service or Content is expressly prohibited and all other right, title, and interest in the Service or Content is exclusively the property of Indacoin and its licensors. You agree you will not copy, transmit, distribute, sell, license, reverse engineer, modify, publish, or participate in the transfer or sale of, or in any other way exploit any of the Content, in whole or in part. "Indacoin.com", "Indacoin", and all logos related to the Indacoin or displayed on the Indacoin.com are either trademarks or registered marks of Indacoin or its licensors. You may not copy, imitate or use them without Indacoin prior written consent. 
			<br><br>
			Although we intend to provide accurate and timely information on the Service, the Service may not always be entirely accurate, complete or current and may also include technical inaccuracies or typographical errors. This site and its components are offered for informational purposes only; this site shall not be responsible or liable for the accuracy, usefulness or availability of any information transmitted or made available via the site, and shall not be responsible or liable for any error or omissions in that information.  
			<br><br>
			Suspension, Termination, and Cancellation.  
			Indacoin may suspend, restrict, or terminate your access to any or all of the services, and/or  deactivate or cancel your Indacoin Account if we are so required by a facially valid subpoena, court order, or binding order of a government authority; or we reasonably suspect you of using your Indacoin Account in connection with a Prohibited Use or Business; or use of your Indacoin Account is subject to any pending litigation, investigation, or government proceeding and/or we perceive a heightened risk of legal or regulatory non-compliance associated with your Account activity; or our service partners are unable to support your use; or you take any action that Service deems as circumventing Indacoin's controls, including, but not limited to, opening multiple Indacoin Accounts or abusing promotions which Indacoin may offer from time to time; or you breach our Behavior Policy. 
			<br><br>
			Password Information You are responsible for maintaining adequate security and control of any and all IDs, passwords, personal identification numbers (PINs) or any other codes that you use to access Indacoin. Any loss or compromise of the foregoing information and/or your personal information may result in unauthorized access to your Indacoin Account by third-parties and the loss or theft of any Digital Currency and/or funds held in your Indacoin Account and any associated accounts, including your linked bank account(s) and credit card(s). You are responsible for keeping your email address and telephone number up to date in your Account Profile in order to receive any notices or alerts that we may send you. We assume no responsibility for any loss that you may sustain due to compromise of account login credentials due to no fault of Indacoin and/ or failure to follow or act on any notices or alerts that we may send to you. In the event you believe your Indacoin Account information has been compromised, contact Indacoin Support immediately at support@indacoin.com.
		</div>
		<div class="caption">Complaints and Dispute Resolution</div>
		<div class="container10">If you have any feedback, questions, or complaints, write us an email to support@indacoin.com or contact an agent via online chat on our webpage https://indacoin.com. 
			<br><br>
			In the event of a complaint, please set out the cause of your complaint, how you would like us to resolve the complaint and any other information you believe to be relevant. A Customer Complaints agent will consider your complaint. The Agent will consider your complaint without prejudice based on the information you have provided and any information provided by Indacoin. Your complaint will be considered within a reasonable time. An Agent will offer to resolve your complaint in the way your requested - you requested; make a determination rejecting your complaint and set out the reasons for the rejection; or offer to resolve your complaint with an alternative solution. 
			You agree to use the complaints procedure of this Section 6 before filing any claim in a competent court. Failure to comply with this provision may be used as evidence of your unwillingness to settle the issue and/or the vexatious nature of the complaint. 
			<br><br>
			You agree to use the complaints procedure of this Section 6 before filing any claim with a bank in case of stolen cards, duplicate processing, refund and similar cases. The user has a right for refund if he raises a request within 3 days of purchase. The reason of the request will be considered by our specialists within a reasonable time. Failure to comply with this provision may be used as evidence of your fraudulent conduct, unwillingness to settle the issue and/or the vexatious nature of the complaint
		</div>
		<div class="caption">General Provisions</div>
		<div class="container11">
			Indacoin does not offer general or personal financial advice. Nothing in this website is intended to be or should be taken as financial, legal or taxation advice. Users should seek their own financial, legal, tax and accounting advice as to the likely outcomes for them of trading Digital Currency.<br><br>
			We shall not bear any liability, whatsoever, for any damage or interruptions caused by any computer viruses, spyware, scareware, Trojan horses, worms or other malware that may affect your computer or other equipment, or any phishing, spoofing or other attack. We advise the regular use of a reputable and readily available virus screening and prevention software.
			<br><br>
			Although the Indacoin takes all necessary and reasonable measures to keep the Service up and working, Using the Service users do so at their own risk. The Service is provided without any guarantees, representations and warranties, express or implied, provided by law with respect to software or sites, including, but not limited to warranties or conditions of quality, performance, non-infringement, merchantability, and fitness for use for a particular purpose. The Service does not represent or warrant that the Service or any other related software will always be available, accessible, uninterrupted, timely, secure, accurate, complete and error-free, or will operate without packet loss.
			Subject to section Indacoin shall not assume liability of any type for any losses or damages arising out of or in connection with the use of the Service, even if the Service was advised and/or aware of the possibility of such losses or damages. Your damages are limited to no more than the value of the supported digital currency at issue in the transaction. In particular the Service shall not be liable for:
		</div>
		<div class="container12">
			<ul>
				<li><span>Loss of any actual or anticipated profits, income, or any indirect, special, incidental or consequential damages and loss of opportunities; </span></li>
				<br>
				<li><span>Any indirect, special, incidental or consequential damages; </span></li>
				<br>
				<li><span>Any damage to or corruption of data (whether direct or indirect);</span></li>
				<br>
				<li><span>Loss of goodwill or reputation (whether direct or indirect); </span></li>
				<br>
			</ul>
		</div>
		<div class="container10">We shall not be liable for delays, failure in performance or interruption of service which result directly or indirectly from any cause or condition beyond our reasonable control, including but not limited to, any delay or failure due to any act of God, act of civil or military authorities, act of terrorists, civil disturbance, war, strike or other labor dispute, fire, interruption in telecommunications or Internet services or network provider services, failure of equipment and/or software, other catastrophe or any other occurrence which is beyond our reasonable control and shall not affect the validity and enforceability of any remaining provisions.     
			<br><br>
			Notwithstanding any other provision of this Agreement, any translation of this Agreement is provided for your convenience. The meanings of terms, conditions and representations herein are subject to definitions and interpretations in the English language. Any translation provided may not accurately represent the information in the original English.
			<br><br>
			We shall not be liable for the circumstances that effect the transaction after the altcoins have been sent to the address stipulated. If there is a  confirmation on blockchain that the altcoins have been sent, our obligations shall be treated as fully performed.
			<br><br>
			You shall be responsible for the correctness of the wallet address you specify in case of loss of the altcoins because the address proves to be wrong, invalid or unsuitable for the particular type of cryptocurrency.
		</div>

		<div class="caption">Limits</div>
		<div class="container13">First time buyers have to provide their email & mobile phone number, which Indacoin will send a test message or call to verify the identity and upload photo/video of the customer showing his or her passport or driver’s license, as well as the front of his or her bankcard so that the first and last name can be read easily. The first 12 digits of the card number should be covered for security reasons. The limit for the first purchase is set to EUR 500, next transaction could be made in 2 business days, EUR 3,000 limit wil be applied.</div>
		<br>
		<div class="container13">If the amount of funds deposited in/withdrawn from an account every month exceeds EUR 10,000, Indacoin may request the account user to provide some additional information, including answers to the questions about how he or she developed an interest in bitcoins, the purpose of his or her transactions, his or her trading strategy, the user’s biography, and the origins of the funds operated on Indacoin, including documentary evidence (e.g., a bank statement showing the receipt of a salary, a contract for the sale of an interest in a business, etc.)</div>
		{{!-- <div class="container13">First time buyers have to provide their email & mobile phone number, which Indacoin will send a test message or call to verify the identity. The limit for such purchases is set to EUR 500. If a client wants the limit to be increased up to EUR 3000 per transaction, he/she has to upload photo/video of the customer showing his or her passport or driver’s license, as well as the front of his or her bankcard so that the first and last name can be read easily. The first 12 digits of the card number should be covered for security reasons.</div> --}}

		{{ember-anchor a=privacypolicy}}
		
		<div id="privacypolicy" data-anchor='privacypolicy' name="privacypolicy" class="caption">Privacy policy</div>
		<div class="container13">Protection of Users’ personal data is one of Indacoin major priorities. To maintain high level of your privacy protection our company strictly follows the norms of EU’s data protection acts, in particular, the General Data Protection Regulation (GDPR) coming into force on 25<sup>th</sup> May of 2018.
			<br><br>
			Our privacy policy is based on 6 main principles, ensuring your personal data protection:
		</div>

		<div class="container14">
			<ol>
				<li><span><i>Lawfulness, Fairness and Transparency:</i> data processing is to be performed fairly, in accordance with applicable laws and in a transparent manner;</span></li>
				<br>
				<li><span><i>Purpose Limitation:</i> data processing is limited to a purpose of the Services provision;</span></li>
				<br>
				<li><span><i>Data Minimisation:</i> personal data collection takes place in a volume necessary for processing purposes;</span></li>
				<br>
				<li><span><i>Accuracy:</i> we take all reasonable steps to keep your personal data accurate and up to date, otherwise we erase it;</span></li>
				<br>
				<li><span><i>Storage Limitation:</i> we store your personal data in a form, which permits to identify you as a data subject as long as it is necessary for processing purposes;</span></li>
				<br>
				<li><span><i>Integrity and Confidentiality:</i> while processing your personal data, we ensure protection against unauthorised or unlawful processing, accidental loss, destruction or damage.</span></li>
				<br>
			</ol>
		</div>

		<div class="container15">
			The Indacoin company collects and processes personal data with your consent, for compliance with a legal obligation which Indacoin is subject to or when we have assessed it is necessary for the purposes of the legitimate interests pursued by Indacoin or a third party to whom it may be necessary to disclose information. We collect and process personal data when it is needed for the performance of our agreements with clients in order to provide full-function service and appropriate facilities. Data collection is required in order to maintain contact with our clients as well as to provide stable operation of the service and optimize it. Personal information helps us to provide security of our clients, Indacoin and third parties. We may also use your personal information to send important notices, such as communications about purchases and changes to our terms, conditions, and policies because this information is important to your interaction with Indacoin.
			<br><br>
			Before using our Services you shall provide express consent to process your personal data including, but not limited to your name, address, phone, email, Skype ID as well as any other information reported to the Service voluntary for the purposes of the Services provision. You are entitled to withdraw your consent at any time. When you use Indacoin Services, we may collect information about your computer, mobile device, or other access device for fraud prevention purposes, to monitor for possible breach of your Indacoin Account. You may choose to provide us with access to certain personal information stored by third parties such as social media sites (such as Facebook and Twitter).To keep your personal data accurate and up-to-date we recommend to update it from time to time.
			<br><br>
			We store collected personal date during the period required to achieve the goals or during the period required by law.
			<br><br>
			Indacoin does not take any decisions involving the use of algorithms or profiling that significantly affects you.
			<br><br>
			{{!--When you access our website or our application or other Indacoin Services, we or our counterparts may place small data files called cookies on your computer or other device. Cookies were designed to help a website operator determine that a particular user had visited the site previously and thus save and remember any preferences that may have been set. We encode our cookies so that only we can interpret the information stored in them. You are free to decline our cookies, if your browser or browser add-on permits, but doing so may interfere with your use of Indacoin Services. The help section of most browsers or browser add-ons provides instructions on blocking, deleting, or disabling cookies. 
			<br><br>--}}
			We undertake an obligation to process, to record, to store, to use and to transfer the personal data provided by maintaining physical, electronic, and procedural safeguards in compliance with applicable law. We use computer safeguards such as firewalls and data encryption, we enforce physical access controls to our buildings and files, and we authorize access to personal information only for the employees/service providers, who are acknowledged to our corporate personal data protection policy. Except to the extent required by any applicable law or governmental or judicial body, we will not disclose your personal information to any third party without your prior written consent. In case a personal data breach occurs we will inform you as well as responsible supervisory authorities about it within 72 hours since the moment we’re aware of this fact.
			<br><br>
			In case you decide to share your personal data collected with any other companies, we’d like to provide an electronic copy of your personal data on a gratuitous basis.  Inter alia we respect your “right to be forgotten”: we delete your personal data from our database at your request, except in the following cases:
		</div>

		<div class="container16">
			<ul>
				<li><span>the personal data is needed to exercise the right of freedom of expression;</span></li>
				<br>
				<li><span>there is a legal obligation to keep your data;</span></li>
				<br>
				<li><span>your personal data shall be kept for reasons of public interest (for example public health, scientific, statistical or historical research purposes).</span></li>
				<br>
			</ul>
		</div>

		<div class="container15">
			You have the right to obtain without undue delay the rectification of inaccurate personal data concerning him or her. 
			<br><br>
			You have the right to obtain the erasure of personal data concerning you and restriction of processing without undue delay where one of the grounds described in the Regulation applies. 
			<br><br>
			We will provide you with access (including a copy) for any purpose including to request that we correct the data if it is inaccurate or delete the data if Indacoin is not required to retain it by law or for legitimate business purposes. We may decline to process requests that are frivolous/vexatious, jeopardize the privacy of others, are extremely impractical, or for which access is not otherwise required by local law.
			<br><br>
			In order to change or delete your personal data you can turn for help to the agents of our customer support. Moreover in your account you can choose Settings and then press Delete account, your request will be sent to our specialist. Your request will be considered within the reasonable time without undue delay and you will receive a reasonable response.
			<br><br>
			You can also manage the personal data we collect in the Settings in your App.
		</div>

		<div id="cookiepolicy" class="caption">Cookie policy</div>
		<div class="container13">
			When you access our website or our application or other Indacoin Services, we or our counterparts may place small data files called cookies on your computer or other device. Cookies were designed to help a website operator determine that a particular user had visited the site previously and thus save and remember any preferences that may have been set. 
			<br><br>
			Cookies are necessary for the website to function and cannot be switched off in our systems. They are usually only set in response to actions made by you which amount to a request for services, such as setting your privacy preferences, logging in or filling in forms.
			<br><br>
			Cookies allow us to count visits and traffic sources, so we can measure and improve the performance of our site. They help us know which pages are the most and least popular and see how visitors move around the site. All information these cookies collect is aggregated and therefore anonymous. If you do not allow these cookies, we will not know when you have visited our site.
			<br><br>
			We encode our cookies so that only we can interpret the information stored in them. You are free to decline our cookies, if your browser or browser add-on permits, but doing so may interfere with your use of Indacoin Services. The help section of most browsers or browser add-ons provides instructions on blocking, deleting, or disabling cookies.
		</div>

		<br><br>
	</div>
  {{/unless}}

</div>