<div class="ui center aligned basic segment">
  <p class="ui large"><b>{{value.price}}</b> BTC<div>{{t 'buy-blocks.get'}}</div></p>
  <p><i class="chevron up icon"></i></p>
  <div></div>
  <p><div>{{t 'buy-blocks.give'}}</div><b>{{value.sum}}</b> {{value.cur}}</p>
  <a href="{{value.url}}" class="ui fluid basic button">{{t 'buy' }}</a>
</div>
