<div id="featured" class="ui basic segment center aligned featured">
  <div class="content">
    <div class="center">
    {{#if title}}
      <a class="ui header">{{title}}</a>
    {{/if}}
    {{#if price}}
      <p class="price">$ <span>{{price}}</span></p>
    {{/if}}
    <p>
      {{!--<a href="https://indacoin.com/change/buy-{{symbol}}-with-usd/"><button class="ui basic fluid button">{{t 'buy'}}</button></a>--}}
      {{#link-to 'lang.change' ENV.i18n.lang (concat 'buy-' (to-lower-case eternal) '-with-cardusd') class="item" tagName="a"}}
        <button class="gray-button">{{t 'buy'}}</button>
      {{/link-to}}
    </p>
    {{yield}}
    </div>
  </div>
</div>
