<div id="currency" class="ui row">
  <!-- Desktop table  -->

  <div class="ui sixteen wide column">
    <table id="currency-table" class="ui selectable sortable celled unstackable compact table">
      <thead>
      <tr>
        <th class="border-left" class="center aligned">{{t 'currency-table.coin'}}</th>
        <th class="center aligned">{{t 'currency-table.market'}}</th>
        <th class="center aligned">{{t 'currency-table.price'}}</th>
        <th class="center aligned">{{t 'currency-table.volume'}}</th>
        <th class="border-right" class="center aligned">{{t 'currency-table.change'}}</th>
      </tr></thead>
      <tbody>

      {{yield}}

      </tbody>
    </table>
  </div>

</div>
