{{#link-to 'lang.change' ENV.i18n.lang (concat 'buy-' (to-lower-case value.name) '-with-cardusd') tagName = 'tr' class="currency-table-row"}}
  <td class="currency-name">
    <h4 class="ui small header"><i class="cc-{{value.symbol}}"></i> 

      {{#link-to 'lang.change' ENV.i18n.lang (concat 'buy-' (to-lower-case value.name) '-with-cardusd') class="item" tagName="a"}}
        {{value.name}}
      {{/link-to}}

    </h4>
    <div class="show">
      <button class="ui centered fluid tiny button">{{t 'meta.buy'}} {{value.name}}</button>
    </div>
  </td>
  <td class="market-cup center aligned">
    $ {{format-money value.market_cap_usd symbol=selectedCurrency format="%v" precision=0}}
  </td>
  <td class="price center aligned">
    $ {{format-money value.price_usd symbol=selectedCurrency format="%v"}}
  </td>
  <td class="volume center aligned">
    $ {{format-money value.volume24h symbol=selectedCurrency format="%v" precision=0}}
 </td>
  <td class="change center aligned" class="{{value.color}}">
    {{value.change24h}}%
  </td>
{{!--</tr>--}}
{{/link-to}}