<div class="ui basic segment container">
  <div id="exchanger-block" class="ui grid">
    
    {{!--
    <div class="ui row">
      <div class="ui sixteen wide column">
        <h2 class="ui header">
          {{t 'exchange-form.title'}}
        </h2>
      </div>
    </div>
    --}}

      {{!--<div class="ui row" class="switch-buttons">
        <div class="ui column">
          <button {{action 'switchToUSD'}} id="usd-btn" class="ui teal button">USD</button>
          <button {{action 'switchToEUR'}} id="eur-btn" class="ui button">EUR</button>
          <button {{action 'switchToRUB'}} id="rub-btn" class="ui button">RUB</button>
        </div>
      </div>--}}

  {{#if model.exchanger_usd}}
    <div id="usd-row" class="ui stackable computer only tablet only row">
      <div class="ui sixteen wide column">
        <div id="buy-blocks" class="ui grid">
          {{#each model.exchanger_usd as |value|}}
           
          {{!--  {{index/buy-block value=value}}--}}

          <div class="ui eight wide mobile four wide tablet four wide computer column ember-view">

            <div class="ui center aligned basic segment">
              <p class="ui large" class="btc-price">{{value.price}} BTC<div>{{t 'buy-blocks.get'}}</div></p>
              <p><i class="chevron up icon"></i></p>
              <div></div>
              <p><div>{{t 'buy-blocks.give'}}</div>{{value.sum}} {{value.cur}}</p>

              <p>
                <a href="{{value.url}}" class="item">
                  <button class="gray-button">{{t 'buy'}}</button>
                </a>
              </p>

            </div>
          
          </div>
            
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}
  
  {{!--
  {{#if model.exchanger_usd}}
    <div id="usd-row" class="ui stackable computer only tablet only row">
      <div class="ui sixteen wide column">
        <div id="buy-blocks" class="ui horizontal fixed segments">
          {{#each model.exchanger_usd as |value|}}
            {{index/buy-block value=value}}
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}
  --}}


{{!--
  {{#if model.exchanger_usd}}
    <div id="eur-row" class="ui stackable computer only tablet only row">
      <div class="ui sixteen wide column">
        <div id="buy-blocks" class="ui horizontal fixed segments">
          {{#each model.exchanger_eur as |value|}}
            {{index/buy-block value=value}}
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}


  {{#if model.exchanger_usd}}
    <div id="rub-row" class="ui stackable computer only tablet only row">
      <div class="ui sixteen wide column">
        <div id="buy-blocks" class="ui horizontal fixed segments">
          {{#each model.exchanger_rub as |value|}}
            {{index/buy-block value=value}}
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}
--}}
  
{{!--
    <div class="ui stackable row" class="exchange-bottom">
      <div class="ui sixteen wide column">
        {{index/exchange-form giveCur=giveCur giveCurSymbol=giveCurSymbol}}
      </div>
    </div>
--}}

  </div>
</div>