<div id="exchanger" class="ui form">
    <div class="inline fields">
      <div class="six wide field">
        <div class="ui right labeled input">
          <label>{{t 'exchange-form.give'}}</label>
          <!-- <input name="giveCurAmount" id="exchange-give" type="tel"> -->
          {{input id="giveCurAmount" value=giveCurAmount key-up="pullCurrency" type="tel"}}
          <div class="ui label" id="exchange-give-currency">{{giveCur}}</div>
        </div>
      </div>
      <div class="six wide field">
        <div class="ui right labeled input">
          <label>{{t 'exchange-form.get'}}</label>
          <!-- <input name="currencyGive" id="takeCurAmount" type="tel"> -->
          {{input id="takeCurAmount" value=takeCurAmount value=takeCurAmount key-press="pullCurrencyCrypto" type="tel" readonly=true}}
          <div class="ui label" id="exchange-take-currency">BTC</div>
        </div>
      </div>

      
      {{!--<div class="ui row" class="switch-buttons">--}}
      <div class="four wide field" class="switch-buttons">
        <div class="ui three column grid">
            <div class="column">
                <button {{action 'switchToUSD'}} id="usd-btn" class="ui teal button">USD</button>
            </div>
            <div class="column">
                <button {{action 'switchToEUR'}} id="eur-btn" class="ui button">EUR</button>
            </div>
            <div class="column">
                <button {{action 'switchToRUB'}} id="rub-btn" class="ui button">RUB</button>
            </div>
        </div>
      </div>

      {{!--<div class="four wide field">
        <button {{action 'exchange'}} id="exchange-submit" class="ui fluid teal button" disabled={{isDisabledGive}} formaction="submit">{{t 'exchange-form.submit'}}</button>
      </div>--}}
    </div>


    <div class="ui row">
      <div class="inline fields">
        <div class="ui six wide field"></div>
        <div class="ui four wide centered aligned field">
          <button {{action 'exchange'}} id="exchange-submit" class="ui centered fluid teal button" disabled={{isDisabledGive}} formaction="submit">{{t 'exchange-form.submit'}}</button>
        </div>
        <div class="ui six wide field"></div>
      </div>
    </div>


  </div>
