<div id="change-exchange" class="field">

  <div class="two fields">
    <div class="six wide field">
      <div class="ui right labeled input" class="input-1">
        {{input name="giveCurAmount" id="exchange-give" key-up="pullCurrency" placeholder=(t 'form.youGive') type="tel" autocomplete="off"}}
        <div class="ui label" id="giveCur-select" style="z-index: 11;">
          <div class="ui selection dropdown">
            <div class="text" id="curid">USD</div>
            <i class="dropdown icon"></i>
            <div class="menu">

              {{#each model.cashinfo as |item|}}

                {{#if item.usdAvailable}}
                  <div {{action 'switchGiveCur'}} class="active item" id="curidusd">USD</div>
                {{/if}}

                {{#if item.eurAvailable}}
                  <div {{action 'switchGiveCur'}} class="item" id="curideur">EUR</div>
                {{/if}}

                {{#if item.rubAvailable}}
                  <div {{action 'switchGiveCur'}} class="item" id="curidrub">RUB</div>
                {{/if}}

                {{#if item.audAvailable}}
                  <div {{action 'switchGiveCur'}} class="item" id="curidaud">AUD</div>
                {{/if}}

                {{#if item.gbpAvailable}}
                  <div {{action 'switchGiveCur'}} class="item" id="curidgbp">GBP</div>
                {{/if}}

                {{#if item.btcAvailable}}
                  <div {{action 'switchGiveCur'}} class="item" id="curidbtc">BTC</div>
                {{/if}}

              {{/each}}

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ten wide field">
      <div class="ui right labeled input" id="take-block">
        
        {{input name="takeCurAmount" id="exchange-take" key-up="pullCurrencyCrypto" class="input-2" value=takeCurAmount placeholder=(t 'form.youTake') type="tel" autocomplete="off"}}


    <div class="ui label" id="takeCur-select">
      {{!--<div class="ui floating labeled icon button" id="cur-dropdown" {{action 'triggerDropdown'}}>--}}
      <div class="ui floating labeled icon button" id="cur-dropdown">
      <span class="text" id="coinid"></span>
      <i class="dropdown icon crypto-arrow"></i>
      <div class="menu" style="display: none; position: absolute;">
        <div class="ui icon search input" class="search-field" id="cryptocurrency-search-field">
          <input value={{filter}} id="qwerty" style="z-index: 1000;" type="text" placeholder={{t 'exchange-form.search'}}>
          <div id="etc" style="position: relative; overflow-y: scroll;">
  
            {{#vertical-collection 
              filteredBooks
              estimateHeight=42
              staticHeight=true
              bufferSize=7
              renderAll=false
              as |item i|}}
              <div class="item currencyClass" {{action 'switchTakeCur'}} data-value={{item.name}}>
                <span class="coinFullName">{{item.name}}</span>
                <span class="right-part" >
                  <span class="scrolling-short-cur-img">
                    <span class="sprite crypto-icon sprite-{{item.short_name}}" style="position: absolute;"></span>
                  </span>
                  <span class="scrolling-short-cur">{{item.short_name}}</span>
                </span>
              </div>
            {{/vertical-collection}}

          </div>
        </div>
      </div>
    </div>
    </div>


      </div>
    </div>
  </div>
</div>

{{!-- {{#if cardWarning}}
<div class="field">
  <p id="cardWarning">
    {{cardWarning}}
  </p>
</div>
{{/if}} --}}
{{!-- // TODO: card_limit --}}
{{#if limitsWarning}}
<div class="field">
  <p id="limitsWarning">
      {{t 'limits-warning.message' limitsMin=limitsMin limitsCur=limitsCur limitsMax=limitsMax}}
      {{!-- {{t 'limits-warning.message-only-min' limitsMin=limitsMin limitsCur=limitsCur}} --}}
  </p>
</div>
{{/if}}

<div id="neoPickModal" class="ui tiny modal">
  <div class="content">
    <p>{{t 'modals.neoAttention'}}</p>
  </div>
  <div class="actions">
    <div class="ui positive right button">
      OK
    </div>
  </div>
</div>

<div id="USBlock" class="ui tiny modal">
  <div class="content">
    <p>We sincerely apologize for the inconvenience but Indacoin doesn't operate in the US and can't offer digital currency exchange services in that region</p>
  </div>
</div>