<div class="ui basic segment container features-block-container">
  <div id="features-block" class="ui center aligned grid">
    <div class="ui row">
      <div class="sixteen wide left aligned column">
          <p class="ui header top-header">
            {{t 'features.title'}}
          </p>
      </div>
    </div>
    <div class="ui three column stackable row">

      <div class="features-column" class="ui column">
        <div class="ui center aligned header">
          <div class="ui image features-image">
            <img src="/ember/images/indacoin-features/bitcoin.svg">
          </div>
          {{#link-to 'lang.change' ENV.i18n.lang 'buy-ethereum-with-cardusd' tagName="a"}}
          <p class="title">{{t 'features.column1.title'}}</p>
          {{/link-to}}
        </div>
        <div class="text">
          {{t 'features.column1.text'}}
        </div>
      </div>

      <div class="features-column" class="ui column">
        <h3 class="ui center aligned header">
          <div class="ui image features-image">
            <img src="/ember/images/indacoin-features/search.svg">
          </div>
          {{#link-to 'lang.currency' ENV.i18n.lang 'bitcoin' tagName="a"}}
          <p class="title">{{t 'features.column2.title'}}</p>
          {{/link-to}}
        </h3>
        <div class="text">
          {{t 'features.column2.text'}}
        </div>
      </div>

      <div class="features-column" class="ui column">
        <h3 class="ui center aligned header">
          <div class="ui image features-image">
            <img src="/ember/images/indacoin-features/chain.svg">
          </div>
          <p class="title">{{t 'features.column3.title'}}</p>
        </h3>
        <div class="text">
          {{t 'features.column3.text'}}
        </div>
      </div>

      <div class="ui features-column bottom-content column">
        <h3 class="ui center aligned header">
          <div class="ui image features-image">
            <img src="/ember/images/indacoin-features/rocket.svg">
          </div>
          {{#link-to 'lang.change' ENV.i18n.lang 'buy-bitcoin-with-cardusd' tagName="a"}}
          <p class="title">{{t 'features.column4.title'}}</p>
          {{/link-to}}
        </h3>
        <div class="text">
          {{t 'features.column4.text'}}
        </div>
      </div>

      <div class="ui features-column bottom-content column">
        <h3 class="ui center aligned header">
          <div class="ui image features-image">
            <img src="/ember/images/indacoin-features/voices.svg">
          </div>
          <p class="title">{{t 'features.column5.title'}}</p>
        </h3>
        <div class="text">
          {{t 'features.column5.text'}}
        </div>
      </div>

      <div class="ui features-column bottom-content column">
        <h3 class="ui center aligned header">
          <div class="ui image features-image">
            <img src="/ember/images/indacoin-features/bag.svg">
          </div>
          <p class="title">{{t 'features.column6.title'}}</p>
        </h3>
        <div class="text">
          {{t 'features.column6.text'}}
        </div>
      </div>

    </div>
  </div>
</div>


{{!-- <div class="ui basic segment container">
  <div id="features-block" class="ui center aligned grid">
    <div class="ui row">
      <div class="sixteen wide column">
          <h2 class="ui header">
            {{t 'features.title'}}
          </h2>
      </div>
    </div>
    <div class="ui three column stackable row">

      <div class="features-column" class="ui column">
        <div class="ui center aligned header">
          <div class="ui image">
            <img src="/ember/images/indacoin-features/search.svg">
          </div>
          {{#link-to 'lang.change' ENV.i18n.lang 'buy-ethereum-with-cardusd' tagName="a"}}
          <p>{{t 'features.column1.title'}}</p>
          {{/link-to}}
        </div>
        <div class="text">
          {{t 'features.column1.text'}}
        </div>
      </div>

      <div class="features-column" class="ui column">
        <h3 class="ui center aligned header">
          <div class="ui image">
            <img src="/ember/images/indacoin-features/bitcoin.svg">
          </div>
          {{#link-to 'lang.currency' ENV.i18n.lang 'bitcoin' tagName="a"}}
          <p>{{t 'features.column2.title'}}</p>
          {{/link-to}}
        </h3>
        <div class="text">
          {{t 'features.column2.text'}}
        </div>
      </div>

      <div class="features-column" class="ui column">
        <h3 class="ui center aligned header">
          <div class="ui image">
            <img src="/ember/images/indacoin-features/chain.svg">
          </div>
          <p>{{t 'features.column3.title'}}</p>
        </h3>
        <div class="text">
          {{t 'features.column3.text'}}
        </div>
      </div>

      <div class="ui features-column bottom-content column">
        <h3 class="ui center aligned header">
          <div class="ui image">
            <img src="/ember/images/indacoin-features/rocket.svg">
          </div>
          {{#link-to 'lang.change' ENV.i18n.lang 'buy-bitcoin-with-cardusd' tagName="a"}}
          <p>{{t 'features.column4.title'}}</p>
          {{/link-to}}
        </h3>
        <div class="text">
          {{t 'features.column4.text'}}
        </div>
      </div>

      <div class="ui features-column bottom-content column">
        <h3 class="ui center aligned header">
          <div class="ui image">
            <img src="/ember/images/indacoin-features/voices.svg">
          </div>
          <p>{{t 'features.column5.title'}}</p>
        </h3>
        <div class="text">
          {{t 'features.column5.text'}}
        </div>
      </div>

      <div class="ui features-column bottom-content column">
        <h3 class="ui center aligned header">
          <div class="ui image">
            <img src="/ember/images/indacoin-features/bag.svg">
          </div>
          <p>{{t 'features.column6.title'}}</p>
        </h3>
        <div class="text">
          {{t 'features.column6.text'}}
        </div>
      </div>

    </div>
  </div>
</div> --}}