<div id="exchanger-block" class="ui center aligned grid">
  <div class="ui row">

    <div class="ui image">
      {{!--<img id="exchanger-block-mac" src="/assets/exclude/mac.png">--}}


{{!-- {{#lazy-image url='/assets/exclude/mac.png'}}
  <!-- custom template goes here, spinner, svg, etc. -->loading...
{{/lazy-image}} --}}

<img src="/assets/exclude/mac.jpg" alt="Our applications" srcset="">


{{!-- <img srcset="/assets/exclude/mac-mobile.png 600w,
            /assets/exclude/mac.png 1000w"
     src="/assets/exclude/mac-mobile.png" alt="Our applications"> --}}



      {{!--<div id="exchanger-block-mac"></div>--}}
      {{!--<img id="exchanger-block-mac">--}}
    </div>
    <div class="ui ten wide computer sixteen wide tablet sixteen wide mobile centered column">
      <h2 id="exchanger-block-header" class="ui center aligned header">
        {{t 'mobileMockups.title'}}
      </h2>
    </div>

    <div class="ui ten wide computer sixteen wide tablet sixteen wide mobile centered column">
      <p id="exchanger-block-text">{{t 'mobileMockups.text'}}</p>
    </div>

    <div class="ui ten wide computer sixteen wide tablet sixteen wide mobile centered column">
      <div class="ui tiny images">
          <a href='https://play.google.com/store/apps/details?id=com.indacoin.android'><img id="google-play" class="ui centered image mobile-mockups-links" alt='Get it on Google Play' src="/assets/exclude/download-android/{{t 'lang' }}.png"/></a>
          <a href="https://itunes.apple.com/ru/app/indacoin-bitcoin-wallet-and-store/id1255080553?l=en&mt=8"><img id="app-store" class="ui centered image mobile-mockups-links" alt='Get it on App Store' src="/assets/exclude/download-ios/{{t 'lang' }}.svg"/></a>
      </div>
    </div>

  </div>
</div>