<div id="orders-control-block" class="ui center aligned grid">

    <div class="ui row">
        <div class="sixteen wide column">
            <h2 class="ui header">{{t 'sidebar.orders.title'}}</h2>
        </div>
    </div>

  <div class="orders-control-box"></div>

  <div class="ui row">
    <p>{{t 'orderText'}}</p>
  </div>
{{!--<div id="eur-row" class="ui stackable computer only tablet only row"></div>--}}
    <div class="ui stackable grid center aligned row">
        <div class="ui three wide computer six wide tablet column">
            <div class="ui left fluid input">
                {{input id="but" type="text" placeholder=(t 'sidebar.orders.order') value=order}}
            </div>
        </div>
        <div class="ui three wide computer six wide tablet column">
            <div class="ui left fluid input">
                {{input type="text" placeholder=(t 'sidebar.orders.confirm') value=orderConfirm}}
            </div>
        </div>
    </div>

    <div class="ui stackable grid center aligned row">
        <div class="ui three wide computer six wide tablet column">
            <button {{action 'checkOrder' orderConfirm order }} class="ui fluid button order-buttons">
                {{t 'sidebar.orders.check'}}
            </button>
        </div>
        <div class="ui three wide computer six wide tablet column">
            <button {{action 'newOrder'}} class="ui fluid button order-buttons">
                {{ t 'sidebar.orders.new'}}
            </button>
        </div>
    </div>
</div>