
  <div class="ui grid container">

    <div class="ui row">
      <div class="ui sixteen wide column">
        <div class="ui red message">
            <h1>Loading 5...</h1>
        </div>
      </div>
    </div>

  </div>