{{misc/reveal-plugin}}

<div class="fullpage-alt">
  <div id="navbar-alt" class="ui row">
    <div id="top-header" class="ui container">
        <div class="ui center aligned column">
          {{application/navbar-header}}
        </div>
    </div>
  </div>

{{!-- Start new block --}}

{{!----}} <div id="affiliate-partnership-segment-container">
  <div class="ui basic segment container">
    {{affiliate/partnership-segment}}
  </div>
</div>

<div id="promo-segment-container">
  <div class="ui basic segment container">
    {{affiliate/promo-segment}}
  </div>


{{!-- End new block --}}

{{!--
<div id="achievements-segment-container">
  <div class="ui basic segment container">
    {{affiliate/achievements-segment}}
  </div>
</div>

<div id="clients-segment-container">
  <div class="ui basic segment container">
    {{affiliate/clients-segment}}
  </div>
</div>

<div id="benefits-segment-container">
  <div class="ui basic segment container">
    {{affiliate/benefits-segment}}
  </div>
</div>

<div id="accounts-segment-container">
  <div class="ui basic segment container">
    {{affiliate/accounts-segment}}
  </div>
</div>

<div id="links-segment-container">
  <div class="buy-page ui basic segment container">
    {{change/links-segment}}
  </div>
</div>--}}


{{!--<div id="footer-segment-container">--}}
  <div class="buy-page ui basic segment container">
    {{change/footer-segment lang=langRoute}}
  </div>
</div>

</div>