{{misc/reveal-plugin}}

<div class="fullpage-alt">
  <div id="navbar-alt" class="ui row">
    <div id="top-header" class="ui container">
        <div class="ui center aligned column">
          {{application/navbar-header}}
        </div>
    </div>
  </div>

{{!-- New blocks --}}


  <div id="api-segment-container">
    <div class="ui basic segment container">
      {{api/api-segment}}
    </div>
  </div>


{{!-- End new blocks --}}


{{!--
  <div id="describe-segment-container">
    <div class="ui basic segment container">
      {{api/describe-segment}}
    </div>
  </div>

  <div id="functions-segment-container">
    <div class="ui basic segment container">
      {{api/functions-segment}}
    </div>
  </div>

  <div id="partnership-segment-container">
    <div class="ui basic segment container">
      {{api/partnership-segment}}
    </div>
  </div>

  <div id="secret-segment-container">
    <div class="ui basic segment container">
      {{api/secret-segment}}
    </div>
  </div>

  <div id="statuses-segment-container">
    <div class="ui basic segment container">
      {{api/statuses-segment}}
    </div>
  </div>--}}

  <div id="footer-segment-container">
    <div class="buy-page ui basic segment container">
      {{change/footer-segment lang=langRoute}}
    </div>
  </div>

</div>