{{misc/reveal-plugin}}
<div class="fullpage-alt">
   <div id="navbar-alt" class="ui row">
      <div id="top-header" class="ui container">
         <div class="ui center aligned column">
            {{application/navbar-header}}
         </div>
      </div>
   </div>

   {{#unless noFoundCurrency}}

        <div id="currency-graph-container">
            <div class="ui basic segment container">
                {{
                    currency/currency-graph
                    currency-header1=model.info.name
                    chartData=chartData
                    chartLabels=chartLabels
                    data=chart.data
                    options=chart.options
                    type=chart.type
                    info=model.info
                    volume=model.info.volume_usd_24h
                    market-cup=model.info.market_cap_usd
                    available-supply=model.info.available_supply
                    isBitcoin=isBitcoin
                }}
            </div>
        </div>

            {{!--

        <div id="currency-numbers-container">
            <div class="ui basic segment container">
                {{currency/currency-numbers volume=model.info.0.24h_volume_usd market-cup=model.info.0.market_cap_usd available-supply=model.info.0.available_supply}}
            </div>
        </div>
            
        <div id="currency-buy-container">
            <div class="ui basic segment container">
                {{currency/currency-buy isBitcoin=isBitcoin}}
            </div>
        </div>
        
        --}}

        {{#if isBitcoin}}

                <div id="currency-presented-container">
                    <div class="ui basic segment container">
                        {{currency/currency-presented}}
                    </div>
                </div>

                <div id="currency-difference-container">
                    <div class="ui basic segment container">
                        {{currency/currency-difference}}
                    </div>
                </div>

                <div id="currency-motivation-container">
                    <div class="ui basic segment container">
                        {{currency/currency-motivation}}
                    </div>
                </div>

                <div id="currency-questions-container">
                    <div class="ui basic segment container">
                        {{currency/currency-questions}}
                    </div>
                </div>

                <div id="currency-history-container">
                    <div class="ui basic segment container">
                        {{currency/currency-history}}
                    </div>
                </div>

        {{/if}}

        {{#if isEthereum}}

                <div id="currency-ethereum-presented-container">
                    <div class="ui basic segment container">
                        {{currency/ethereum/currency-presented}}
                    </div>
                </div>

                <div id="currency-ethereum-questions-container">
                    <div class="ui basic segment container">
                        {{currency/ethereum/currency-questions}}
                    </div>
                </div>

                <div id="currency-ethereum-history-container">
                    <div class="ui basic segment container">
                        {{currency/ethereum/currency-history}}
                    </div>
                </div>

        {{/if}}

   {{else}} {{!-- noFoundCurrency --}}

    <div id="currency-error-container">
        <div class="ui basic segment container">
        {{currency/currency-error}}
        </div>
    </div>

   {{/unless}} {{!-- noFoundCurrency --}}
   

   <div id="footer-segment-container">
      <div class="buy-page ui basic segment container">
         {{change/footer-segment lang=langRoute}}
      </div>
   </div>

</div>