{{!-- Informer right sidebar about expired currency --}}
{{#if model.cashinfo.changeDirection}}
<div class="ui basic segment container">
    {{sidebar/stop-sidebar}}
</div>
{{/if}}


{{#if errorLoadData}}
<div class="ui row" class="main-page-error-container">
  <div class="ui center aligned container">
      <div class="ui column" class="main-page-error">
        {{t 'error.mainPageError1'}}<br>{{t 'error.mainPageError2'}}
      </div>
  </div>
</div>

{{else}}

<div id="content" class="ui padded segment">
  <div class="ui grid container">
    <div class="ui row featured-section">

      {{#if model.featured}}
      {{#each model.featured as |value|}}
        {{#index/currency-featured symbol=value.symbol name=value.name color=color title=value.name price=value.price_usd eternal=value.eternal}}
          <p id="crypto"><div class="cc-{{value.symbol}}"></div></p>
        {{/index/currency-featured}}
      {{/each}}
      {{else}}
        <div class="ui header">Data wasn't loaded</div>
      {{/if}}

   </div>
   {{#index/currency-table value=value}}
        {{#if model.currency}}
          {{#each model.currency as |value|}}
            {{index/currency-table-item value=value}}
          {{/each}}
        {{else}}
          <div class="ui header">Data wasn't loaded</div>
        {{/if}}
      {{/index/currency-table}}
      {{index/currency-pagination}}
      {{!-- <div id="pagination" class="ui row">
        <div class="ui four wide computer six wide tablet sixteen wide mobile centered center aligned column">
            <button id="moreButton" {{action 'getMore'}} class="ui centered fluid {{loading}} button">
              <span>{{t 'pagination.next'}}</span>
            </button>
        </div>
      </div> --}}
      <div id="pagination" class="ui row">
        <div class="ui right floated column">
            <span {{action 'getMore'}}>{{t 'pagination.next'}}<i class="icon"></i></span>
            
        </div>
      </div>

  </div>
</div>

<div class="ui padded segment">
  {{index/exchanger-crypto language=language model=model giveCur=giveCur giveCurSymbol=giveCurSymbol}}
</div>

{{/if}}

<div class="ui padded segment">
  {{index/indacoin-features}}
</div>

{{!-- <div class="ui computer only " id="orders-segment-container">
  <div class="buy-page ui basic segment container">
    {{index/orders-control}}
  </div>
</div> --}}

<div class="ui padded segment">
  {{index/mobile-mockups}}
</div>

<div id="social-segment-container">
  <div class="buy-page ui basic segment container">
    {{change/social-segment facebook=model.facebook}}
  </div>
</div>