<div id="locale-segment-container">
  <div class="ui basic segment container">
    <div id="locale-segment" class="ui center aligned grid">

    <div class="ui row">
      <div class="ui center aligned sixteen wide column" class="header1">
          {{t 'locale.title'}}
      </div>
    </div>

    <div class="ui grid">
      <div class="four wide column">

        <p>{{#link-to 'lang' (concat model.country '_AD') class="item" tagName="a"}}{{t 'country.AD.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AE') class="item" tagName="a"}}{{t 'country.AE.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AF') class="item" tagName="a"}}{{t 'country.AF.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AG') class="item" tagName="a"}}{{t 'country.AG.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AG') class="item" tagName="a"}}{{t 'country.AG.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AI') class="item" tagName="a"}}{{t 'country.AI.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AL') class="item" tagName="a"}}{{t 'country.AL.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AM') class="item" tagName="a"}}{{t 'country.AM.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AN') class="item" tagName="a"}}{{t 'country.AN.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AO') class="item" tagName="a"}}{{t 'country.AO.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AQ') class="item" tagName="a"}}{{t 'country.AQ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AR') class="item" tagName="a"}}{{t 'country.AR.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AS') class="item" tagName="a"}}{{t 'country.AS.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AT') class="item" tagName="a"}}{{t 'country.AT.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AU') class="item" tagName="a"}}{{t 'country.AU.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AW') class="item" tagName="a"}}{{t 'country.AW.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AX') class="item" tagName="a"}}{{t 'country.AX.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_AZ') class="item" tagName="a"}}{{t 'country.AZ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BA') class="item" tagName="a"}}{{t 'country.BA.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BB') class="item" tagName="a"}}{{t 'country.BB.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BD') class="item" tagName="a"}}{{t 'country.BD.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BE') class="item" tagName="a"}}{{t 'country.BE.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BF') class="item" tagName="a"}}{{t 'country.BF.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BG') class="item" tagName="a"}}{{t 'country.BG.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BH') class="item" tagName="a"}}{{t 'country.BH.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BI') class="item" tagName="a"}}{{t 'country.BI.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BJ') class="item" tagName="a"}}{{t 'country.BJ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BM') class="item" tagName="a"}}{{t 'country.BM.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BN') class="item" tagName="a"}}{{t 'country.BN.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BO') class="item" tagName="a"}}{{t 'country.BO.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BR') class="item" tagName="a"}}{{t 'country.BR.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BS') class="item" tagName="a"}}{{t 'country.BS.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BT') class="item" tagName="a"}}{{t 'country.BT.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BV') class="item" tagName="a"}}{{t 'country.BV.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BW') class="item" tagName="a"}}{{t 'country.BW.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BY') class="item" tagName="a"}}{{t 'country.BY.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_BZ') class="item" tagName="a"}}{{t 'country.BZ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CA') class="item" tagName="a"}}{{t 'country.CA.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CC') class="item" tagName="a"}}{{t 'country.CC.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CD') class="item" tagName="a"}}{{t 'country.CD.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CF') class="item" tagName="a"}}{{t 'country.CF.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CG') class="item" tagName="a"}}{{t 'country.CG.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CH') class="item" tagName="a"}}{{t 'country.CH.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CI') class="item" tagName="a"}}{{t 'country.CI.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CK') class="item" tagName="a"}}{{t 'country.CK.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CL') class="item" tagName="a"}}{{t 'country.CL.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CM') class="item" tagName="a"}}{{t 'country.CM.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CN') class="item" tagName="a"}}{{t 'country.CN.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CO') class="item" tagName="a"}}{{t 'country.CO.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CR') class="item" tagName="a"}}{{t 'country.CR.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CS') class="item" tagName="a"}}{{t 'country.CS.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CU') class="item" tagName="a"}}{{t 'country.CU.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CV') class="item" tagName="a"}}{{t 'country.CV.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CX') class="item" tagName="a"}}{{t 'country.CX.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CY') class="item" tagName="a"}}{{t 'country.CY.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_CZ') class="item" tagName="a"}}{{t 'country.CZ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_DE') class="item" tagName="a"}}{{t 'country.DE.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_DJ') class="item" tagName="a"}}{{t 'country.DJ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_DK') class="item" tagName="a"}}{{t 'country.DK.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_DM') class="item" tagName="a"}}{{t 'country.DM.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_DO') class="item" tagName="a"}}{{t 'country.DO.name'}}{{/link-to}}</p>

      </div>
      <div class="four wide column">

        <p>{{#link-to 'lang' (concat model.country '_DZ') class="item" tagName="a"}}{{t 'country.DZ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_EC') class="item" tagName="a"}}{{t 'country.EC.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_EE') class="item" tagName="a"}}{{t 'country.EE.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_EG') class="item" tagName="a"}}{{t 'country.EG.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_EH') class="item" tagName="a"}}{{t 'country.EH.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_ER') class="item" tagName="a"}}{{t 'country.ER.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_ES') class="item" tagName="a"}}{{t 'country.ES.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_ET') class="item" tagName="a"}}{{t 'country.ET.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_FI') class="item" tagName="a"}}{{t 'country.FI.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_FJ') class="item" tagName="a"}}{{t 'country.FJ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_FK') class="item" tagName="a"}}{{t 'country.FK.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_FM') class="item" tagName="a"}}{{t 'country.FM.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_FO') class="item" tagName="a"}}{{t 'country.FO.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_FR') class="item" tagName="a"}}{{t 'country.FR.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GA') class="item" tagName="a"}}{{t 'country.GA.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GB') class="item" tagName="a"}}{{t 'country.GB.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GD') class="item" tagName="a"}}{{t 'country.GD.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GE') class="item" tagName="a"}}{{t 'country.GE.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GF') class="item" tagName="a"}}{{t 'country.GF.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GG') class="item" tagName="a"}}{{t 'country.GG.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GH') class="item" tagName="a"}}{{t 'country.GH.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GI') class="item" tagName="a"}}{{t 'country.GI.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GL') class="item" tagName="a"}}{{t 'country.GL.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GM') class="item" tagName="a"}}{{t 'country.GM.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GN') class="item" tagName="a"}}{{t 'country.GN.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GP') class="item" tagName="a"}}{{t 'country.GP.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GQ') class="item" tagName="a"}}{{t 'country.GQ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GR') class="item" tagName="a"}}{{t 'country.GR.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GS') class="item" tagName="a"}}{{t 'country.GS.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GT') class="item" tagName="a"}}{{t 'country.GT.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GU') class="item" tagName="a"}}{{t 'country.GU.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GW') class="item" tagName="a"}}{{t 'country.GW.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_GY') class="item" tagName="a"}}{{t 'country.GY.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_HK') class="item" tagName="a"}}{{t 'country.HK.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_HM') class="item" tagName="a"}}{{t 'country.HM.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_HN') class="item" tagName="a"}}{{t 'country.HN.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_HR') class="item" tagName="a"}}{{t 'country.HR.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_HT') class="item" tagName="a"}}{{t 'country.HT.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_HU') class="item" tagName="a"}}{{t 'country.HU.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_ID') class="item" tagName="a"}}{{t 'country.ID.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_IE') class="item" tagName="a"}}{{t 'country.IE.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_IL') class="item" tagName="a"}}{{t 'country.IL.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_IM') class="item" tagName="a"}}{{t 'country.IM.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_IN') class="item" tagName="a"}}{{t 'country.IN.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_IO') class="item" tagName="a"}}{{t 'country.IO.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_IQ') class="item" tagName="a"}}{{t 'country.IQ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_IS') class="item" tagName="a"}}{{t 'country.IS.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_IT') class="item" tagName="a"}}{{t 'country.IT.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_JE') class="item" tagName="a"}}{{t 'country.JE.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_JM') class="item" tagName="a"}}{{t 'country.JM.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_JO') class="item" tagName="a"}}{{t 'country.JO.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_KE') class="item" tagName="a"}}{{t 'country.KE.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_KG') class="item" tagName="a"}}{{t 'country.KG.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_KH') class="item" tagName="a"}}{{t 'country.KH.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_KI') class="item" tagName="a"}}{{t 'country.KI.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_KM') class="item" tagName="a"}}{{t 'country.KM.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_KN') class="item" tagName="a"}}{{t 'country.KN.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_KR') class="item" tagName="a"}}{{t 'country.KR.name'}}{{/link-to}}</p>

      </div>
      <div class="four wide column">

        <p>{{#link-to 'lang' (concat model.country '_KW') class="item" tagName="a"}}{{t 'country.KW.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_KY') class="item" tagName="a"}}{{t 'country.KY.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_KZ') class="item" tagName="a"}}{{t 'country.KZ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_LA') class="item" tagName="a"}}{{t 'country.LA.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_LB') class="item" tagName="a"}}{{t 'country.LB.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_LC') class="item" tagName="a"}}{{t 'country.LC.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_LI') class="item" tagName="a"}}{{t 'country.LI.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_LK') class="item" tagName="a"}}{{t 'country.LK.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_LR') class="item" tagName="a"}}{{t 'country.LR.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_LS') class="item" tagName="a"}}{{t 'country.LS.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_LT') class="item" tagName="a"}}{{t 'country.LT.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_LU') class="item" tagName="a"}}{{t 'country.LU.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_LV') class="item" tagName="a"}}{{t 'country.LV.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_LY') class="item" tagName="a"}}{{t 'country.LY.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MA') class="item" tagName="a"}}{{t 'country.MA.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MC') class="item" tagName="a"}}{{t 'country.MC.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MD') class="item" tagName="a"}}{{t 'country.MD.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MG') class="item" tagName="a"}}{{t 'country.MG.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MH') class="item" tagName="a"}}{{t 'country.MH.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MK') class="item" tagName="a"}}{{t 'country.MK.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_ML') class="item" tagName="a"}}{{t 'country.ML.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MM') class="item" tagName="a"}}{{t 'country.MM.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MN') class="item" tagName="a"}}{{t 'country.MN.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MO') class="item" tagName="a"}}{{t 'country.MO.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MP') class="item" tagName="a"}}{{t 'country.MP.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MQ') class="item" tagName="a"}}{{t 'country.MQ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MR') class="item" tagName="a"}}{{t 'country.MR.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MS') class="item" tagName="a"}}{{t 'country.MS.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MT') class="item" tagName="a"}}{{t 'country.MT.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MU') class="item" tagName="a"}}{{t 'country.MU.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MV') class="item" tagName="a"}}{{t 'country.MV.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MW') class="item" tagName="a"}}{{t 'country.MW.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MX') class="item" tagName="a"}}{{t 'country.MX.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MY') class="item" tagName="a"}}{{t 'country.MY.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_MZ') class="item" tagName="a"}}{{t 'country.MZ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_NA') class="item" tagName="a"}}{{t 'country.NA.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_NC') class="item" tagName="a"}}{{t 'country.NC.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_NE') class="item" tagName="a"}}{{t 'country.NE.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_NF') class="item" tagName="a"}}{{t 'country.NF.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_NG') class="item" tagName="a"}}{{t 'country.NG.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_NI') class="item" tagName="a"}}{{t 'country.NI.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_NL') class="item" tagName="a"}}{{t 'country.NL.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_NO') class="item" tagName="a"}}{{t 'country.NO.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_NP') class="item" tagName="a"}}{{t 'country.NP.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_NR') class="item" tagName="a"}}{{t 'country.NR.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_NU') class="item" tagName="a"}}{{t 'country.NU.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_NZ') class="item" tagName="a"}}{{t 'country.NZ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_OM') class="item" tagName="a"}}{{t 'country.OM.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_PA') class="item" tagName="a"}}{{t 'country.PA.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_PE') class="item" tagName="a"}}{{t 'country.PE.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_PF') class="item" tagName="a"}}{{t 'country.PF.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_PG') class="item" tagName="a"}}{{t 'country.PG.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_PH') class="item" tagName="a"}}{{t 'country.PH.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_PK') class="item" tagName="a"}}{{t 'country.PK.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_PL') class="item" tagName="a"}}{{t 'country.PL.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_PM') class="item" tagName="a"}}{{t 'country.PM.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_PN') class="item" tagName="a"}}{{t 'country.PN.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_PR') class="item" tagName="a"}}{{t 'country.PR.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_PS') class="item" tagName="a"}}{{t 'country.PS.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_PT') class="item" tagName="a"}}{{t 'country.PT.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_PW') class="item" tagName="a"}}{{t 'country.PW.name'}}{{/link-to}}</p>

      </div>
      <div class="four wide column">

        <p>{{#link-to 'lang' (concat model.country '_PY') class="item" tagName="a"}}{{t 'country.PY.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_QA') class="item" tagName="a"}}{{t 'country.QA.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_RE') class="item" tagName="a"}}{{t 'country.RE.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_RO') class="item" tagName="a"}}{{t 'country.RO.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_RU') class="item" tagName="a"}}{{t 'country.RU.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_RW') class="item" tagName="a"}}{{t 'country.RW.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SA') class="item" tagName="a"}}{{t 'country.SA.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SB') class="item" tagName="a"}}{{t 'country.SB.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SC') class="item" tagName="a"}}{{t 'country.SC.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SD') class="item" tagName="a"}}{{t 'country.SD.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SE') class="item" tagName="a"}}{{t 'country.SE.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SG') class="item" tagName="a"}}{{t 'country.SG.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SH') class="item" tagName="a"}}{{t 'country.SH.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SI') class="item" tagName="a"}}{{t 'country.SI.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SJ') class="item" tagName="a"}}{{t 'country.SJ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SK') class="item" tagName="a"}}{{t 'country.SK.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SL') class="item" tagName="a"}}{{t 'country.SL.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SM') class="item" tagName="a"}}{{t 'country.SM.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SN') class="item" tagName="a"}}{{t 'country.SN.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SO') class="item" tagName="a"}}{{t 'country.SO.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SR') class="item" tagName="a"}}{{t 'country.SR.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_ST') class="item" tagName="a"}}{{t 'country.ST.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SV') class="item" tagName="a"}}{{t 'country.SV.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SY') class="item" tagName="a"}}{{t 'country.SY.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_SZ') class="item" tagName="a"}}{{t 'country.SZ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_TC') class="item" tagName="a"}}{{t 'country.TC.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_TD') class="item" tagName="a"}}{{t 'country.TD.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_TF') class="item" tagName="a"}}{{t 'country.TF.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_TG') class="item" tagName="a"}}{{t 'country.TG.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_TH') class="item" tagName="a"}}{{t 'country.TH.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_TJ') class="item" tagName="a"}}{{t 'country.TJ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_TK') class="item" tagName="a"}}{{t 'country.TK.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_TL') class="item" tagName="a"}}{{t 'country.TL.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_TM') class="item" tagName="a"}}{{t 'country.TM.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_TN') class="item" tagName="a"}}{{t 'country.TN.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_TO') class="item" tagName="a"}}{{t 'country.TO.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_TR') class="item" tagName="a"}}{{t 'country.TR.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_TT') class="item" tagName="a"}}{{t 'country.TT.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_TV') class="item" tagName="a"}}{{t 'country.TV.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_TW') class="item" tagName="a"}}{{t 'country.TW.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_TZ') class="item" tagName="a"}}{{t 'country.TZ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_UA') class="item" tagName="a"}}{{t 'country.UA.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_UG') class="item" tagName="a"}}{{t 'country.UG.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_UY') class="item" tagName="a"}}{{t 'country.UY.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_UZ') class="item" tagName="a"}}{{t 'country.UZ.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_VA') class="item" tagName="a"}}{{t 'country.VA.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_VC') class="item" tagName="a"}}{{t 'country.VC.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_VE') class="item" tagName="a"}}{{t 'country.VE.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_VG') class="item" tagName="a"}}{{t 'country.VG.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_VI') class="item" tagName="a"}}{{t 'country.VI.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_VN') class="item" tagName="a"}}{{t 'country.VN.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_VU') class="item" tagName="a"}}{{t 'country.VU.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_WF') class="item" tagName="a"}}{{t 'country.WF.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_WS') class="item" tagName="a"}}{{t 'country.WS.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_YE') class="item" tagName="a"}}{{t 'country.YE.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_YT') class="item" tagName="a"}}{{t 'country.YT.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_ZA') class="item" tagName="a"}}{{t 'country.ZA.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_ZM') class="item" tagName="a"}}{{t 'country.ZM.name'}}{{/link-to}}</p>
        <p>{{#link-to 'lang' (concat model.country '_ZW') class="item" tagName="a"}}{{t 'country.ZW.name'}}{{/link-to}}</p>


      </div>
    </div>

    </div>
  </div>
</div>










{{!--<div id="language-map" class="ui center aligned grid">
  <div class="ui row">
    {{#each model.locNames as |loc|}}
        {{#each model.regNames as |reg|}}
            <span><a href="{{concat model.path '/' loc.shortName '_' reg.shortName}}">{{concat loc.name ' - ' reg.name}}</a></span>
        {{/each}}
    {{/each}}
  </div>
</div>--}}




{{!--
<div id="language-map" class="ui center aligned grid">
  <div class="ui row">
    <ul>
    {{#each model.locNames as |loc|}}
        {{#each model.regNames as |reg|}}
            <li><a href="{{concat model.path '/' loc.shortName '_' reg.shortName}}">{{concat loc.name ' - ' reg.name}}</a></li>
        {{/each}}
    {{/each}}
    </ul>
  </div>
</div>
--}}