{{misc/reveal-plugin}}

<div class="fullpage-alt">
  <div id="navbar-alt" class="ui row">
    <div id="top-header" class="ui container">
        <div class="ui center aligned column">
          {{application/navbar-header}}
        </div>
    </div>
  </div>

  {{!--<div class="ui button" class="news-block" {{action "hello"}}>Button</div>--}}

{{#unless errorLoadData}}

  <div id="news-slider-container">
    <div class="ui basic segment container news-slider-container">
      {{news/news-slider news=model.news expandNews=(action "expandNews")}}
    </div>
  </div>

{{else}}

  <div id="news-error-container">
    <div class="ui basic segment container">
      {{news/news-error}}
    </div>
  </div>

{{/unless}}

  <div id="footer-segment-container">
    <div class="buy-page ui basic segment container">
      {{change/footer-segment lang=langRoute}}
    </div>
  </div>

</div>