{{misc/reveal-plugin}}

<div class="fullpage-alt">
  <div id="navbar-alt" class="ui row">
    <div id="top-header" class="ui container">
        <div class="ui center aligned column">
          {{application/navbar-header}}
        </div>
    </div>
  </div>

  <div id="terms-of-use">
    <div class="ui basic segment container">
      {{terms-of-use/terms-of-use-component}}
    </div>
  </div>

  <div id="footer-segment-container">
    <div class="buy-page ui basic segment container">
      {{change/footer-segment lang=langRoute}}
    </div>
  </div>

</div>