<div id="api-segment" class="ui center aligned grid">

  <div class="ui row">
    <div class="ui eight wide computer sixteen wide tablet sixteen wide mobile column">
        <p class="header-1">{{t 'api.introduction.header-1'}}</p>
        <p class="text-1">{{t 'api.introduction.text-1'}}</p>
        <p class="title-1" class="big-margin-top">{{t 'api.introduction.title-1'}}</p>

        <div class="vert-list">
            <ul>
            <li style="margin-bottom: 5px;"><span>{{t 'api.introduction.text-3'}}</span></li>
            <li style="margin-bottom: 5px;"><span>{{t 'api.introduction.text-4'}}</span></li>
            <li style="margin-bottom: 5px;"><span>{{t 'api.introduction.text-5'}}</span></li>
            <li style="margin-bottom: 5px;"><span>{{t 'api.introduction.text-6'}}</span></li>
            </ul>
        </div>

        <p class="text-1" style="margin-top: 20px;"><strong>{{contactEmail}}</strong></p>

    </div>
    <div class="ui middle aligned computer only eight wide column">
        <img class="ui centered image" src="/ember/images/api/api-segment/notebook.png">
    </div>
  </div>

    <div class="ui row">
        <div class="ui column">
            <p class="header-1 header-1-size">{{t 'api.introduction.header-2'}}</p>
            <p class="title-2">{{t 'api.introduction.title-2'}}</p>



            <div class="ui grid">
                <div class="sixteen wide column">

                <p class="text-2">{{t 'api.introduction.text-12'}}</p>
                <p class="text-2">{{fullList}}</p>
                <p class="text-2">{{generalView}}</p>

                {{#if hidden1}}
                    <p class="text-3 break-block blue pointer" style="cursor: pointer;" {{action "turnHidden1"}}>{{t 'api.describe-segment.example'}}</p>
                {{else}}
                    <p class="text-3 break-block blue">Example: https://indacoin.com/gw/payment_form?partner=bitcoinist&cur_from=USD&cur_to=BCD&amount=100&address=1CGETsHqcQC5xU9y3oh6FMpZE4UPKADy5m&user_id=test%40gmail.com</p>
                {{/if}}

                </div>
            </div>

            <p class="title-2" style="margin-top: 40px;">{{t 'api.introduction.title-3'}}</p>

            <div class="vert-list">
                <ul>
                    <li style="margin-bottom: 20px;"><span>{{t 'api.introduction.text-9'}}</span></li>
                    <li style="margin-bottom: 20px;"><span>{{t 'api.introduction.text-10'}}</span></li>
                    <li style="margin-bottom: 20px;"><span>{{t 'api.introduction.text-11'}}</span></li>
                </ul>
            </div>

            <p class="text-2">{{t 'api.introduction.text-7'}}</p>
            <p class="text-2">{{t 'api.introduction.text-8'}}</p>

            <p class="title-1" style="margin-top: 20px;">{{t 'api.introduction.title-4'}}</p>

            {{!-- <p class="text-2">
                NotFound<br>
                Chargeback<br>
                Declined<br>
                Cancelled<br>
                Failed<br>
                Draft<br>
                Paid<br>
                Verification<br>
                FundsSent<br>
                Finished<br>
            </p> --}}
            <div class="simple-list">
                <ul>
                    <li><span>NotFound</span> — {{t 'api.introduction.NotFound'}};</li>
                    <li><span>Chargeback</span> — {{t 'api.introduction.Chargeback'}};</li>
                    <li><span>Declined</span> — {{t 'api.introduction.Declined'}};</li>
                    <li><span>Cancelled</span> — {{t 'api.introduction.Cancelled'}};</li>
                    <li><span>Failed</span> — {{t 'api.introduction.Failed'}};</li>
                    <li><span>Draft</span> — {{t 'api.introduction.Draft'}};</li>
                    <li><span>Paid</span> — {{t 'api.introduction.Paid'}};</li>
                    <li><span>Verification</span> — {{t 'api.introduction.Verification'}};</li>
                    <li><span>FundsSent</span> — {{t 'api.introduction.FundsSent'}};</li>
                    <li><span>Finished</span> — {{t 'api.introduction.Finished'}}.</li>
                </ul>
            </div>


            <p class="text-2">{{t 'api.statuses-segment.title'}}</p>
            <p class="text-2"><span class="blue">https://indacoin.com/api/exgw_gettransactioninfo</span></p>
            <p class="text-2"><span class="blue">https://indacoin.com/api/exgw_getTransactions</span></p>

            <p class="text-2">{{t 'api.introduction.text-15'}}</p>

            <p class="title-1" style="margin-top: 40px;">{{t 'api.introduction.title-11'}}</p>

            <p class="title-3">{{t 'api.introduction.title-6'}}</p>
            <p class="text-2">
                <code>POST /api/exgw_createTransaction</code><br>
                - {{t 'api.introduction.text-16'}}<br>
                {{t 'api.introduction.text-17'}}<br>
                <code>user_id</code> - string;<br>
                <code>cur_in</code> - string(eur, usd);<br>
                <code>cur_out</code> - string (btc,eth,usd,euro);<br>
                <code>target_address</code> - string<br>
                <code>amount_in</code> - decimal<br>
                Optional parameters:<br>
                <code>success_url</code> - url for redirecting user after successful payment, <code>transaction_id</code> in get parameter will be added to url;<br>
                <code>fail_url</code> - url for redirecting user after failed payment, <code>transaction_id</code> in get parameter will be added to url;<br>
                <code>extra_info</code> - json object with extra info ( will be returned back with all callbacks and transaction info);<br>
                <code>tag</code> - tag parameter if needed
            </p>

            <p class="title-3">{{t 'api.introduction.title-7'}}</p>
            <p class="text-2">
                ({{t 'api.introduction.text-18'}})<br>
                <code>/api/GetCoinConvertAmount/{currencyFrom}/{currencyTo}/{amount:decimal}/{partner?}/{userId?}</code><br>
                - {{t 'api.introduction.text-19'}}<br>
                {{t 'api.introduction.text-20'}}<br>
                <code>Currency</code> - string (usd, euro);<br>
                <code>Amount</code> - numeric_string;<br>
                <code>PartnerName</code> - string<br>
            </p>

            <p class="title-3">{{t 'api.introduction.title-8'}}</p>
            <p class="text-2">
                <code>POST /api/exgw_getTransactions</code><br>
                - {{t 'api.introduction.text-21'}}<br>
                {{t 'api.introduction.text-22'}}<br>
                <code>user_id</code> - string;<br>
                <code>tx_id</code> - string;<br>
                <code>status</code> - tx_status;<br>
                <code>created_at</code> - int/timestamp;<br>
                <code>hash</code> - string (or null);<br>
                <code>cur_in</code> - string (usd, eur);<br>
                <code>cur_out</code> - string (btc, eth, usd, euro);<br>
                <code>amount_in</code> - numeric_string;<br>
                <code>amount_out</code> - numeric_string;<br>
                <code>target_address</code> - string;<br>
                <code>limit</code> - int;<br>
                <code>offset</code> - int<br>
                {{t 'api.introduction.text-23'}}<br>
            </p>

            <p class="title-3">{{t 'api.introduction.title-9'}}</p>
            <p class="text-2">
                <code>POST /api/exgw_gettransactioninfo</code><br>
                - {{t 'api.introduction.text-24'}}<br>
                {{t 'api.introduction.text-25'}}<br>
                <code>transaction_id</code> - numeric<br>
                <br>
                {{t 'api.introduction.text-26'}}<br>
                <br>
                
                <div id="api-segmnent__tabs_1">
                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="php_1">PHP</a>
                    <a class="item" data-tab="nodejs_1">Node.js</a>
                </div>

                <div class="code" class="ui bottom attached tab segment active" data-tab="php_1">
                $method = 'POST';<br>
                $target_url = 'https://indacoin.com/api/exgw_createTransaction';<br>
                $user_id = 'test_user_1';<br>
                $cur_in = 'usd';<br>
                $cur_out = 'btc';<br>
                $target_address = '1FeGgKxU5gjC562wZXd67VTVfwcSjpqv3Y';<br>
                $amount_in = '55';<br>
                <br>
                $nonce = 1000000;<br>
                $partnername=;//ask for it<br>
                $string=$partnername."_".$nonce;<br>
                $secret= ; //ask for it<br>
                $sig = base64_encode(hash_hmac('sha256', $string, $secret,true));<br>
                <br>
                $arr = array(<br>
                &nbsp;&nbsp;'user_id' => $user_id,<br>
                &nbsp;&nbsp;'cur_in' => $cur_in,<br>
                &nbsp;&nbsp;'cur_out' => $cur_out,<br>
                &nbsp;&nbsp;'target_address' => $target_address,<br>
                &nbsp;&nbsp;'amount_in' => $amount_in<br>
                );<br>
                <br>
                $data = json_encode($arr);<br>
                <br>
                $options = array(<br>
                &nbsp;&nbsp;'http' => array(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;'header' => "Content-Type: application/json\r\n"<br>
                &nbsp;&nbsp;&nbsp;&nbsp;."gw-partner: $partnername\r\n"<br>
                &nbsp;&nbsp;&nbsp;&nbsp;."gw-nonce: ".$nonce."\r\n"<br>
                &nbsp;&nbsp;&nbsp;&nbsp;."gw-sign: ".$sig."\r\n",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;'method' => $method,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;'content' => $data<br>
                &nbsp;&nbsp;)<br>
                )<br><br>
                $context = stream_context_create($options);<br>
                $result = file_get_contents($target_url, false, $context);<br><br>
                echo "start";<br>
                </div>

                <div class="code" class="ui bottom attached tab segment" data-tab="nodejs_1">
                const request = require('then-request');<br>
                const crypto = require('crypto');<br>
                <br>
                const method = 'POST';<br>
                const target_url = 'https://indacoin.com/api/exgw_createTransaction';<br>
                const user_id = 'test_user_1';<br>
                const cur_in = 'usd';<br>
                const cur_out = 'btc';<br>
                const target_address = '1FeGgKxU5gjC562wZXd67VTVfwcSjpqv3Y';<br>
                const amount_in = '55';<br>
                <br>
                const nonce = 1000000;<br>
                const partnername = ''; // ask for it<br>
                const string = partnername + '_' + nonce;<br>
                const secret = ''; // ask for it<br>
                const sig = crypto.createHmac('sha256', secret).update(string).digest('base64');<br>
                <br>
                const arr = {<br>
                &nbsp;&nbsp;'user_id': user_id,<br>
                &nbsp;&nbsp;'cur_in': cur_in,<br>
                &nbsp;&nbsp;'cur_out': cur_out,<br>
                &nbsp;&nbsp;'target_address': target_address,<br>
                &nbsp;&nbsp;'amount_in': amount_in<br>
                };<br>
                <br>
                request(method, target_url, {<br>
                &nbsp;&nbsp;json: arr,<br>
                &nbsp;&nbsp;headers: {<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"Content-Type": "application/json",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"gw-partner": partnername,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"gw-nonce": nonce,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"gw-sign": sig<br>
                &nbsp;&nbsp;}<br>
                }).done((res) => {<br>
                &nbsp;&nbsp;console.log(res.getBody('utf-8'));<br>
                });<br>
                <br>
                console.log('start');<br>
                </div>
                </div>

                <br>
                <br>
                {{t 'api.introduction.text-27'}}<br>
                <br>
                {{t 'api.introduction.text-28'}}<br>
                <br>

                <div id="api-segmnent__tabs_2">
                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="php_2">PHP</a>
                    <a class="item" data-tab="nodejs_2">Node.js</a>
                </div>

                <div class="code" class="ui bottom attached tab segment active" data-tab="php_2">
                $transaction_id =; //get it from previous method<br>
                $string=$partnername."_".$transaction_id;<br>
                $secret="secret";<br>
                $sig = base64_encode(base64_encode(hash_hmac('sha256', $string, $secret,true)));
                </div>

                <div class="code" class="ui bottom attached tab segment" data-tab="nodejs_2">
                const crypto = require('crypto');<br>
                <br>
                const transaction_id =; //get it from previous method<br>
                const string = partnername + '_' + transaction_id;<br>
                const secret = "secret";<br>
                const sig = Buffer.from(crypto.createHmac('sha256', secret).update(string).digest('base64')).toString('base64');
                </div>
                </div>

                <br>
                <span class="blue">https://indacoin.com/gw/payment_form?transaction_id=1154&partner=indacoin&cnfhash=Ny8zcXVWbCs5MVpGRFFXem44NW
                h5SE9xTitlajkydFpDTXhDOVMrOFdOOD0=</span>
            </p>

            {{!-- <p class="title-3">{{t 'api.introduction.title-5'}}</p>
            <p class="text-2">
                <code>POST /api/exgw_getUserlimits</code><br>
                - {{t 'api.introduction.text-29'}}<br>
                {{t 'api.introduction.text-30'}}<br>
                <code>user_id</code> - string;<br>
                <code>cur_in</code> - string (usd, eur)<br>
            </p> --}}

            <p class="title-2" style="margin-top: 60px;">{{t 'api.introduction.title-10'}}</p>
            <p class="text-1">{{t 'api.introduction.text-31'}}<br></p>

                <div id="api-segmnent__tabs_3">
                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="php_3">PHP</a>
                    <a class="item" data-tab="nodejs_3">Node.js</a>
                </div>

                <div class="code" class="ui bottom attached tab segment active" data-tab="php_3">
                base64_encode(base64_encode(hash_hmac(<br>
                &nbsp;&nbsp;'sha256',<br>
                &nbsp;&nbsp;partnerName + '_' +<br>
                &nbsp;&nbsp;trInfo.userId + '_' +<br>
                &nbsp;&nbsp;nonce + '_' +<br>
                &nbsp;&nbsp;trInfo.transactionId,<br>
                &nbsp;&nbsp;$secret,<br>
                &nbsp;&nbsp;true<br>
                )));</div>

                <div class="code" class="ui bottom attached tab segment" data-tab="nodejs_3">
                Buffer.from(Buffer.from(crypto.createHmac(<br>
                &nbsp;&nbsp;'sha256',<br>
                &nbsp;&nbsp;secret).update(<br>
                &nbsp;&nbsp;&nbsp;&nbsp;partnerName + '_' +<br>
                &nbsp;&nbsp;&nbsp;&nbsp;trInfo.userId + '_' +<br>
                &nbsp;&nbsp;&nbsp;&nbsp;nonce + '_' +<br>
                &nbsp;&nbsp;&nbsp;&nbsp;trInfo.transactionId<br>
                ).digest('bin')).toString('base64')).toString('base64');<br>
                </div>
                </div>
  
                <br>


                <p class="text-1">{{t 'api.introduction.text-32'}}<br></p>
                    <div class="code" class="ui fourteen wide column">
                        {<br>
                        &nbsp;&nbsp;"userId": "support@mail.com"<br>
                        &nbsp;&nbsp;,"transactionId": 453668<br>
                        &nbsp;&nbsp;,"requestId": -1<br>
                        &nbsp;&nbsp;,"status": "Draft"<br>
                        &nbsp;&nbsp;,"createdAt": "2018-05-11T11:40:03.75Z"<br>
                        &nbsp;&nbsp;,"confirmedAt": "0001-01-01T00:00:00Z"<br>
                        &nbsp;&nbsp;,"finishedAt": "0001-01-01T00:00:00Z"<br>
                        &nbsp;&nbsp;,"blockchainHash": ""<br>
                        &nbsp;&nbsp;,"link": "/notify.aspx?confirm_code=&request_id=-1"<br>
                        &nbsp;&nbsp;,"curIn": "USD"<br>
                        &nbsp;&nbsp;,"curOut": "BTC"<br>
                        &nbsp;&nbsp;,"amountIn": 112.0<br>
                        &nbsp;&nbsp;,"amountOut": 0.010335<br>
                        &nbsp;&nbsp;,"realAmountOut": 0.0<br>
                        &nbsp;&nbsp;,"targetAddress": "{<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;"btcAddress":<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;"mtULnCAMY3iUiZmxGUqARhKuoiZQbFT36H"<br>
                        &nbsp;&nbsp;}"<br>
                        &nbsp;&nbsp;,"reason": ""<br>
                        &nbsp;&nbsp;,"extra_info": {}<br>
                        &nbsp;&nbsp;,"couponCode": ""<br>
                        }<br>
                    </div>
        </div>


    </div>



</div>