<div id="describe-segment" class="ui center aligned grid">

  <div class="ui row">
    <div class="ui center aligned ten wide column" class="title1">
        {{t 'api.describe-segment.header1'}}
    </div>
  </div>

  <div class="ui row">
    <div class="ui center aligned sixteen wide column" class="text1">
      {{t 'api.describe-segment.text1'}}
      {{#if hidden1}}
        <span class="text7 break-block blue pointer" {{action "turnHidden1"}}>{{t 'api.describe-segment.example'}}</span>
      {{else}}
        <br><br>
        <span class="text2 break-block blue">https://indacoin.com/en_DE/change/buy-bitcoin-with-cardusd?amount_pay=100&wallet=1FeGgKxU5gjC562wZXd67VTVfwcSjpqv3Y&discount=1000</span>
      {{/if}}
    </div>
  </div>
  
</div>