<div id="functions-segment" class="ui center aligned grid">

  <div class="ui row">
    <div class="ui center aligned ten wide column" class="title1">
        {{t 'api.functions-segment.header'}}
    </div>
  
    <div class="title2" class="ui center aligned sixteen wide column buying-title">
        {{t 'api.functions-segment.title'}}
    </div>
  </div>

</div>