<div id="partnership-segment" class="ui center aligned grid">

  <div class="ui row">
    <div class="ui center aligned ten wide column" class="title5">
        Integration without API:
    </div>
  </div>

  {{!--<div class="ui row">
    <div class="ui center aligned sixteen wide column" class="text1">
      We added new option of payment page for quick integration  you can forward users to url without creation of transaction by API, cur_from should be used from list (USD, EURO,RUB)
cur_to should be short_name of coin (BTC,ETH etc ... full list here https://indacoin.com/api/mobgetcurrencies )
      <br><br>
      https://indacoin.com/gw/payment_form?partner={YourPartnerName}&cur_from={CurrencyFrom}&cur_to={CurrencyTo}&amount={Amount}&address={WalletAddress}&user_id={UserID}
      {{#if hidden1}}
        <span class="text2 break-block blue pointer" {{action "turnHidden1"}}>{{t 'api.describe-segment.example'}}</span>
      {{else}}
        <br><br>
        <span class="text2 break-block blue">https://indacoin.com/gw/payment_form?partner=bitcoinist&cur_from=EURO&cur_to=BCD&amount=100&address=1FeGgKxU5gjC562wZXd67VTVfwcSjpqv3Y&user_id=test%40gmail.com</span>
      {{/if}}
    </div>
  </div>--}}

  <div class="ui grid">
    <div class="sixteen wide column">

      <div class="ui center aligned ten wide column" class="text3">
        We added a new option of the payment page for quick integration. You can forward users to URL without the creation of transaction by API, cur_from should be used from the list (USD, EURO, RUB) cur_to should be short_name of the coin (BTC, ETH etc ... full list here https://indacoin.com/api/mobgetcurrencies).
      </div>
      <div class="ui center aligned ten wide column" class="text3 top-indent">
        General view of the query: https://indacoin.com/gw/payment_form?partner={YourPartnerName}&cur_from={CurrencyFrom}&cur_to={CurrencyTo}&amount={Amount}&address={WalletAddress}&user_id={UserID}
      {{#if hidden1}}
        <span class="text7 break-block blue pointer" {{action "turnHidden1"}}>{{t 'api.describe-segment.example'}}</span>
      {{else}}
        <br><br>
        <span class="text6 break-block blue">Example: https://indacoin.com/gw/payment_form?partner=bitcoinist&cur_from=USD&cur_to=BCD&amount=100&address=1CGETsHqcQC5xU9y3oh6FMpZE4UPKADy5m&user_id=test%40gmail.com</span>
      {{/if}}

      </div>

    </div>
  </div>

  <div class="ui row">
    <div class="ui center aligned ten wide column" class="title6">
        Integration with API:
    </div>
  </div>

  <div class="ui grid">
    <div class="one wide mobile four wide tablet column"></div>
    <div class="fourteen wide mobile eight wide tablet column">
      <div class="ui center aligned ten wide column" class="header1">
        {{t 'api.partnership-segment.block1.title1'}}
      </div>
      <div class="vert-list">
        <ul>
          <li><span>{{t 'api.partnership-segment.block1.text1'}}</span></li>
          <li><span>{{t 'api.partnership-segment.block1.text2'}}</span></li>
          <li><span>{{t 'api.partnership-segment.block1.text3'}}</span></li>
          <li><span>{{t 'api.partnership-segment.block1.text4'}}</span></li>
          <li><span>{{t 'api.partnership-segment.block1.text5'}}</span>
          
      {{#if hidden2}}
        <span style="color: #64aecc" class="text7 pointer" {{action "turnHidden2"}}>{{t 'api.describe-segment.example'}}</span>
      {{else}}
        <br><br>
        
        <div class="ui left aligned fourteen wide column">
          <div class="text-with-code-1" class="ui left aligned fourteen wide column">
            {<br>
            &nbsp;&nbsp;&nbsp; "userId": "support@mail.com"<br>
            &nbsp;&nbsp;&nbsp;  ,"transactionId": 453668<br>
            &nbsp;&nbsp;&nbsp;  ,"requestId": -1<br>
            &nbsp;&nbsp;&nbsp;  ,"status": "Draft"<br>
            &nbsp;&nbsp;&nbsp;  ,"createdAt": "2018-05-11T11:40:03.75Z"<br>
            &nbsp;&nbsp;&nbsp;  ,"confirmedAt": "0001-01-01T00:00:00Z"<br>
            &nbsp;&nbsp;&nbsp;  ,"finishedAt": "0001-01-01T00:00:00Z"<br>
            &nbsp;&nbsp;&nbsp;  ,"blockchainHash": ""<br>
            &nbsp;&nbsp;&nbsp;  ,"link": "/notify.aspx?confirm_code=&request_id=-1"<br>
            &nbsp;&nbsp;&nbsp;  ,"curIn": "USD"<br>
            &nbsp;&nbsp;&nbsp;  ,"curOut": "BTC"<br>
            &nbsp;&nbsp;&nbsp;  ,"amountIn": 112.0<br>
            &nbsp;&nbsp;&nbsp;  ,"amountOut": 0.010335<br>
            &nbsp;&nbsp;&nbsp;  ,"realAmountOut": 0.0<br>
            &nbsp;&nbsp;&nbsp;  ,"targetAddress": "{<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "btcAddress":<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "mtULnCAMY3iUiZmxGUqARhKuoiZQbFT36H"<br>
            &nbsp;&nbsp;&nbsp;  }"<br>
            &nbsp;&nbsp;&nbsp;  ,"reason": ""<br>
            &nbsp;&nbsp;&nbsp;  ,"extra_info": {}<br>
            &nbsp;&nbsp;&nbsp;  ,"couponCode": ""<br>
            }
          </div>
        </div>
        
      {{/if}}
          
          </li>
        </ul>
      </div>
      <div class="ui center aligned ten wide column" class="text3">
        {{t 'api.partnership-segment.block1.text6'}}
      </div>
      <div class="ui center aligned ten wide column" class="text3 top-indent">
        {{t 'api.partnership-segment.block1.text7'}}
      </div>
      <div class="ui center aligned ten wide column" class="text3 top-indent">
        {{t 'api.partnership-segment.block1.text8'}}
      </div>

      <div class="ui center aligned ten wide column" class="text4 break-block">
        
      <span class="text3">/gw/payment_form?transaction_id={transactionId}&partner={indacoin}&cnfhash={cnfhash}=</span><br>
        <br>
        <span class="text4">https://indacoin.com/gw/payment_form?transaction_id=1154&partner=indacoin&cnfhash=Ny8zcXVWbCs5MVpGRFFXem44NWh5SE9xTitlajkydFpDTXhDOVMrOFdOOD0=</span>

      </div>

      <div class="ui center aligned ten wide column" class="text3 top-indent">
        {{t 'api.partnership-segment.block1.text9'}}
      </div>

      <div class="ui center aligned ten wide column" class="header1 small-indent">
        {{t 'api.partnership-segment.block1.text10'}}
      </div>
      <div class="vert-list">
        <ul>
          <li><span>NotFound</span></li>
          <li><span>Chargeback</span></li>
          <li><span>Declined</span></li>
          <li><span>Cancelled</span></li>
          <li><span>Failed</span></li>
          <li><span>Draft</span></li>
          <li><span>Paid</span></li>
          <li><span>Verification</span></li>
          <li><span>FundsSent</span></li>
          <li><span>Finished</span></li>
        </ul>
      </div>

    </div>
    <div class="one wide mobile four wide tablet column"></div>
  </div>

  <div class="ui row">
    <div class="ui center aligned ten wide column" class="title4">
        {{t 'api.partnership-segment.block1.title2'}}
    </div>
  </div>

  <div class="ui stackable grid">
    <div class="ui five wide column">

      <div class="ui center aligned ten wide column" class="header1">
        {{t 'api.partnership-segment.block1.text11'}}
      </div>
      <div class="ui center aligned ten wide column" class="text4">
        POST /api/exgw_createTransaction
      </div>
      <div class="ui center aligned ten wide column" class="text3 item-indent">
        {{t 'api.partnership-segment.block1.text12'}}
      </div>
      <div class="ui center aligned ten wide column" class="text3">
        {{t 'api.partnership-segment.block1.text13'}}
      </div>
      <div class="vert-list">
        <ul>
          <li><span>user_id - string;</span></li>
          <li><span>cur_in - string(eur, usd);</span></li>
          <li><span>cur_out - string (btc,eth,usd,euro);</span></li>
          <li><span>target_address - string</span></li>
          <li><span>amount_in - decimal</span></li>
        </ul>
      </div>

      <div class="ui center aligned ten wide column" class="header1 small-indent">
        {{t 'api.partnership-segment.block1.text14'}}
      </div>
      <div class="ui center aligned ten wide column" class="text4">
        POST /api/exgw_getUserlimits
      </div>
      <div class="ui center aligned ten wide column" class="text3 item-indent">
        - receive user's limit (and create if non-existent)
      </div>
      <div class="ui center aligned ten wide column" class="text3">
        {{t 'api.partnership-segment.block1.text15'}}
      </div>
      <div class="vert-list">
        <ul>
          <li><span>user_id - string;</span></li>
          <li><span>cur_in string (usd, eur)</span></li>
        </ul>
      </div>

      <div class="ui center aligned ten wide column" class="header1 small-indent">
        {{t 'api.partnership-segment.block1.text16'}}
      </div>
      <div class="ui center aligned ten wide column" class="text4">
        /api/GetCoinConvertAmount/{currencyFrom}/{currencyTo}/{amount:decimal}/{partner?}/{userId?}
      </div>
      <div class="ui center aligned ten wide column" class="text3 item-indent">
        {{t 'api.partnership-segment.block1.text17'}}
      </div>
      <div class="ui center aligned ten wide column" class="text3">
        {{t 'api.partnership-segment.block1.text18'}}
      </div>
      <div class="vert-list">
        <ul>
          <li><span>Currency string (usd, euro);</span></li>
          <li><span>Amount - numeric_string;</span></li>
          <li><span>PartnerName - string</span></li>
        </ul>
      </div>

    </div>

    <div class="ui six wide column"></div>

    <div class="ui five wide column">

      <div class="ui center aligned ten wide column" class="header1">
        {{t 'api.partnership-segment.block1.text19'}}
      </div>
      <div class="ui center aligned ten wide column" class="text4">
        POST /api/exgw_getTransactions
      </div>
      <div class="ui center aligned ten wide column" class="text3 item-indent">
        {{t 'api.partnership-segment.block1.text20'}}
      </div>
      <div class="ui center aligned ten wide column" class="text3">
        {{t 'api.partnership-segment.block1.text21'}}
      </div>
      <div class="vert-list">
        <ul>
          <li><span>user_id - string;</span></li>
          <li><span>tx_id - string;</span></li>
          <li><span>status - tx_status;</span></li>
          <li><span>created_at - int/timestamp;</span></li>
          <li><span>hash - string (or null);</span></li>
          <li><span>cur_in - string (usd, eur);</span></li>
          <li><span>cur_out - string (btc, eth, usd, euro);</span></li>
          <li><span>amount_in - numeric_string;</span></li>
          <li><span>amount_out - numeric_string;</span></li>
          <li><span>target_address - string;</span></li>
          <li><span>limit - int;</span></li>
          <li><span>offset - int</span></li>
        </ul>
      </div>
      <div class="ui center aligned ten wide column" class="text3">
        {{t 'api.partnership-segment.block1.text22'}}
      </div>

      <div class="ui center aligned ten wide column" class="header1 small-indent">
        {{t 'api.partnership-segment.block1.text23'}}
      </div>
      <div class="ui center aligned ten wide column" class="text4">
        POST /api/exgw_gettransactioninfo
      </div>
      <div class="ui center aligned ten wide column" class="text3 item-indent">
        {{t 'api.partnership-segment.block1.text24'}}
      </div>
      <div class="ui center aligned ten wide column" class="text3">
        {{t 'api.partnership-segment.block1.text25'}}
      </div>
      <div class="vert-list">
        <ul>
          <li><span>transaction_id - numeric</span></li>
        </ul>
      </div>

    </div>

  </div>

  <div class="ui row">
    <div class="title2" class="ui left aligned fourteen wide column">
    	{{t 'api.partnership-segment.block1.text26'}}
    </div>

    <div class="ui left aligned fourteen wide column">
    <div class="text1" class="ui left aligned fourteen wide column">
      $method = 'POST';<br>
      $target_url = 'https://indacoin.com/api/exgw_createTransaction';<br>
      $user_id = 'test_user@gmail.com';<br>
      $partnername = 'cigsspot';<br>
      $cur_in = 'usd';<br>
      $cur_out = 'btc';<br>
      $target_address = '1FeGgKxU5gjC562wZXd67VTVfwcSjpqv3Y'; // or use empty address if non crypto<br>  
      $amount_in = '55';<br>
      <br>
      $nonce = 1000000;<br>
      <br>
      $string= $partnername."_".$nonce;<br>
      $secret="secret";<br>
      $sig = base64_encode(hash_hmac('sha256', $string, $secret,true));<br>
      <br>
      $arr = array(<br>
      &nbsp;&nbsp;&nbsp;  'user_id' => $user_id,<br>
      &nbsp;&nbsp;&nbsp;  'cur_in' => $cur_in,<br>
      &nbsp;&nbsp;&nbsp;  'cur_out' => $cur_out,<br>
      &nbsp;&nbsp;&nbsp;  'target_address' => $target_address,<br>
      &nbsp;&nbsp;&nbsp;  'amount_in' => $amount_in<br>
      );<br>
      <br>
      $data = json_encode($arr);<br>
      <br>
      $options = array(<br>
      &nbsp;&nbsp;&nbsp;    'http' => array(<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        'header'  => "Content-Type: application/json\r\n"<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        ."gw-partner: ".$partnername."\r\n"<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        ."gw-nonce: ".$nonce."\r\n"<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        ."gw-sign: ".$sig."\r\n",<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        'method'  => $method,<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        'content' => $data<br>
      &nbsp;&nbsp;&nbsp;    )<br>
      )<br><br>
      $context = stream_context_create($options);<br>
      $result = file_get_contents($target_url, false, $context);<br>
      print_r($result);<br>
    </div>
    </div>
  </div>

  <div class="ui row">
    <div class="title3" class="ui left aligned fourteen wide column">
    	{{t 'api.partnership-segment.block1.text27'}}
    </div>
    <div class="text2" class="ui left aligned fourteen wide column">
      {{t 'api.partnership-segment.block1.text28'}}
    </div>
      <div class="text1" class="ui left aligned fourteen wide column">
        $transaction_id = 1154; //get from exgw_createTransaction method<br>
        $partnername = 'indacoin';<br>
        $string = $partnername."_".$transaction_id;<br>
        $secret = "secret";<br>
        {{!--$sig = base64_encode(base64_encode(hash_hmac('sha256', $string, $secret,true)));<br>--}}
        {{!--$sig = base64_encode(base64_encode(hash_hmac('sha256', partnerName + '_' + trInfo.transactionId, secret, true)));<br>--}}
        $sig = base64_encode(base64_encode(hash_hmac('sha256', $partnername.'_'.$transaction_id, $secret, true)));<br>
        $urlToRedirectClient = 'https://indacoin.com/gw/payment_form?transaction_id='.$transaction_id.'&partner='.$partnername.'&cnfhash='.$sig
      </div>
  </div>

  {{#unless (media 'isMobile')}}
    <div class="ui container">
      <div class="ui image" class="partnership-background-image" onselectstart="return false" onmousedown="return false">
        <img src="/ember/images/api/partnership-segment/icons.svg" onselectstart="return false" onmousedown="return false">
      </div>
        <p class="title-part-1">{{t 'api.partnership-segment.block1.text29'}}</p>
        <p class="text-part-1">{{t 'api.partnership-segment.block1.text30'}}</p>
        
        <p class="title-part-2">{{t 'api.partnership-segment.block1.text31'}}</p>
        <p class="text-part-2">{{t 'api.partnership-segment.block1.text32'}}</p>

        <p class="title-part-3">{{t 'api.partnership-segment.block1.text33'}}</p>
        <p class="text-part-3">{{t 'api.partnership-segment.block1.text34'}}</p>

        <p class="title-part-4">{{t 'api.partnership-segment.block1.text35'}}</p>
        <p class="text-part-4">{{t 'api.partnership-segment.block1.text36'}}</p>

        <p class="title-part-5">{{t 'api.partnership-segment.block1.text37'}}</p>
        <p class="text-part-5">{{t 'api.partnership-segment.block1.text38'}}</p>
    </div>
  {{/unless}}

</div>