<div id="secret-segment" class="ui center aligned grid">

  <div class="ui row">
    <div class="title1" class="ui center aligned sixteen wide column buying-title">
        {{managerMessage}}
    </div>
  </div>

</div>