<div id="statuses-segment" class="ui center aligned grid">

  <div class="ui row">
    <div class="title1" class="ui center aligned sixteen wide column">
      {{t 'api.statuses-segment.title'}}
    </div>
    <div class="text1" class="ui center aligned sixteen wide column">
    	/api/exgw_gettransactioninfo
    </div>
    <div class="text2" class="ui center aligned sixteen wide column">
    	/api/exgw_getTransactions
    </div>
  </div>

</div>