<div id="buying-segment" class="ui center aligned grid">

  <div class="ui row">
    <div class="ui center aligned eight wide computer twevle wide tablet sixteen wide mobile column buying-title">
        <p class="title">{{ t 'buying-segment.title' }}</p>
        <p class="sub-title">{{ t 'buying-segment.sub-title' }}</p>
    </div>
  </div>

  <div class="ui row">
    <div class="ui three wide computer six wide tablet seven wide mobile centered center aligned column">
        <button {{action 'linkToBuy'}} class="ui fluid button uppercase-button">
            <span>{{ t 'buy' }}</span>
        </button>
    </div>
  </div>

  {{!----}}<div class="btc-1">
      <img class="ui centered image" src="/ember/images/buying-segment/btc-1.svg">
  </div>
  <div class="btc-2">
      <img class="ui centered image" src="/ember/images/buying-segment/btc-2.svg">
  </div>
  <div class="eth-1">
      <img class="ui centered image" src="/ember/images/buying-segment/eth-1.svg">
  </div>
  <div class="eth-2">
      <img class="ui centered image" src="/ember/images/buying-segment/eth-2.svg">
  </div>

</div>