<div id="cryptocurrencies-segment" class="ui center aligned grid">

  <div class="ui row">
    <div class="ui ten wide computer sixteen wide tablet sixteen wide mobile center aligned column cryptocurrencies-title">
        {{!--{{ t 'cryptocurrencies-segment.title' }}--}}
        {{title}}
    </div>
  </div>

  <div class="ui row">

    {{#link-to 'lang.change' ENV.i18n.lang 'buy-ethereum-with-cardusd' class="ui image" tagName="a"}}
    <div class="cryptocurrencies-image crypto1">
      <span class='cryptocoins-available-wrapper'><i class="cryptocoins-available cryptocoins-available-crypto1"></i></span>
      <p>Ethereum</p>
    </div>
    {{/link-to}}

    {{!-- {{#link-to 'lang.change' ENV.i18n.lang 'buy-ethereum-with-cardusd' class="ui image" tagName="a"}}
    <div class="cryptocurrencies-image crypto1">
      <img class="ui image" src="/ember/images/cryptocurrencies-segment/coins/crypto1.svg" >
      <p>Ethereum</p>
    </div>
    {{/link-to}} --}}

    {{#link-to 'lang.change' ENV.i18n.lang 'buy-ybcoin-with-cardusd' class="ui image" tagName="a"}}
      <div class="cryptocurrencies-image crypto2">
        <span class='cryptocoins-available-wrapper'><i class="cryptocoins-available cryptocoins-available-crypto2"></i></span>
        <p>Ybcoin</p>
      </div>
    {{/link-to}}

    {{#link-to 'lang.change' ENV.i18n.lang 'buy-bitcoin-with-cardusd' class="ui image" tagName="a"}}
      <div class="cryptocurrencies-image crypto3">
        <span class='cryptocoins-available-wrapper'><i class="cryptocoins-available cryptocoins-available-crypto3"></i></span>
        <p>NEO</p>
      </div>
    {{/link-to}}

    {{#link-to 'lang.change' ENV.i18n.lang 'buy-goldcoin-with-cardusd' class="ui image" tagName="a"}}
      <div class="cryptocurrencies-image crypto4">
        <span class='cryptocoins-available-wrapper'><i class="cryptocoins-available cryptocoins-available-crypto4"></i></span>
        <p>Goldcoin</p>
      </div>
    {{/link-to}}

    {{#link-to 'lang.change' ENV.i18n.lang 'buy-litecoin-with-cardusd' class="ui image" tagName="a"}}
      <div class="cryptocurrencies-image crypto5">
        <span class='cryptocoins-available-wrapper'><i class="cryptocoins-available cryptocoins-available-crypto5"></i></span>
        <p>Litecoin</p>
      </div>
    {{/link-to}}

    {{#link-to 'lang.change' ENV.i18n.lang 'buy-peercoin-with-cardusd' class="ui image" tagName="a"}}
      <div class="cryptocurrencies-image crypto6">
        <span class='cryptocoins-available-wrapper'><i class="cryptocoins-available cryptocoins-available-crypto6"></i></span>
        <p>Peercoin</p>
      </div>
    {{/link-to}}

    {{#link-to 'lang.change' ENV.i18n.lang 'buy-ripple-with-cardusd' class="ui image" tagName="a"}}
      <div class="cryptocurrencies-image crypto7">
        <span class='cryptocoins-available-wrapper'><i class="cryptocoins-available cryptocoins-available-crypto7"></i></span>
        <p>Ripple</p>
      </div>
    {{/link-to}}

    {{#link-to 'lang.change' ENV.i18n.lang 'buy-new%20economy%20movement-with-cardusd' class="ui image" tagName="a"}}
      <div class="cryptocurrencies-image crypto8">
        <span class='cryptocoins-available-wrapper'><i class="cryptocoins-available cryptocoins-available-crypto8"></i></span>
        <p>NEM</p>
      </div>
    {{/link-to}}

    {{#link-to 'lang.change' ENV.i18n.lang 'buy-pinkcoin-with-cardusd' class="ui image" tagName="a"}}
      <div class="cryptocurrencies-image crypto9">
        <span class='cryptocoins-available-wrapper'><i class="cryptocoins-available cryptocoins-available-crypto9"></i></span>
        <p>Pinkcoin</p>
      </div>
    {{/link-to}}

    {{#link-to 'lang.change' ENV.i18n.lang 'buy-dash-with-cardusd' class="ui image" tagName="a"}}
      <div class="cryptocurrencies-image crypto10">
        <span class='cryptocoins-available-wrapper'><i class="cryptocoins-available cryptocoins-available-crypto10"></i></span>
        <p>Dash</p>
      </div>
    {{/link-to}}
  </div>

</div>