<div id="footer-segment" class="ui stackable grid">
  <div class="ui column">

    {{!-- <div class="questions-search-segment" class="ui center aligned grid">
      <div class="eight wide computer only sixteen wide tablet only column">
        <div class="ui row">
          <div class="ui center aligned eight wide computer twevle wide tablet sixteen wide mobile column title">
              {{t 'footer.offer-block.text'}}
          </div>
        </div>
        <div class="ui row">
          <div class="ui center aligned grid">
            <div class="search-field" class="ui ten wide column">
                <div class="ui search">
                    {{input class="prompt" value=email placeholder=(t 'footer.offer-block.input') type="text"}}
                    <div class="results"></div>
                </div>
            </div>
            <div class="search-field" class="ui six wide column">
              <button {{action 'goToExchange' email }} class="green-button">
                  {{t 'footer.offer-block.button'}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div> --}}


 {{!--   {{#if (media 'isDesktop')}} --}}
        <div class="ui six column stackable grid">
          <div class="column element-column">
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-bitcoin-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link1' }}{{/link-to}}
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-ethereum-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link2' }}{{/link-to}}
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-ripple-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link3' }}{{/link-to}}
          </div>

          <div class="column element-column">
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-bitcoin cash-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link4' }}{{/link-to}}
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-litecoin-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link5' }}{{/link-to}}
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-dash-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link6' }}{{/link-to}}
          </div>

          <div class="column element-column">
            {{#link-to 'lang.news' ENV.i18n.lang class="footer-segment-link" tagName="a"}}{{t 'navbar.news' }}{{/link-to}}
            {{#link-to 'lang.affiliate' ENV.i18n.lang class="footer-segment-link" tagName="a"}}{{t 'navbar.affiliate' }}{{/link-to}}
            {{!-- {{#link-to 'lang.api' ENV.i18n.lang class="footer-segment-link" tagName="a"}}API{{/link-to}} --}}
            {{#link-to 'lang.help' ENV.i18n.lang class="footer-segment-link" tagName="a"}}{{t 'footer.column2.link2' }}{{/link-to}}
          </div>

          <div class="column element-column">
            {{#link-to 'lang.terms-of-use' ENV.i18n.lang class="footer-segment-link" tagName="a"}}{{t 'footer.column2.link3' }}{{/link-to}}
            {{#link-to 'lang.locale' ENV.i18n.lang class="footer-segment-link" tagName="a"}}{{t 'footer.column3.link2' }}{{/link-to}}
          </div>

          <div class="column element-column">
            
            <div class="ui center aligned grid" class="footer-address">
              <div class="two column row">
                <div class="column" class="twitter-logo">
                  <a href='https://twitter.com/indacoin' class="ui centered image">
                    <img class="ui image footer-segment-social" src="/ember/images/header/twitter.svg">
                  </a>
                </div>
                {{!-- <div class="column" class="facebook-logo">
                  <a href='https://www.facebook.com/indacoinlimited/' class="ui centered image">
                    <img id="facebook-image" class="ui image footer-segment-social" src="/ember/images/header/facebook.svg">
                  </a>
                </div> --}}
                <div class="column" class="instagram-logo">
                  <a href='https://www.instagram.com/indacoin_limited/' class="ui centered image">
                    <img class="ui image footer-segment-social" src="/ember/images/header/instagram.svg">
                  </a>
                </div>
              </div>
            </div>

            <p class="footer-segment-contacts">support@indacoin.com<br />+44 207 048 25 82</p>

          </div>

          <div class="column element-column">
            <p class="footer-segment-adress">Indacoin Limited, Suite 4b, 43 Berkeley Square, Mayfair, London, Westminster, United Kingdom, W1J 5FJ Company Number 08924450</p>
          </div>

        </div>
  {{!--   {{/if}}--}}

{{!--
    {{#if (media 'isTablet')}}
        <div class="ui two column stackable grid">
          <div class="column element-column">
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-bitcoin-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link1' }}{{/link-to}}
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-ethereum-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'navbar.eth' }}{{/link-to}}
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-ripple-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link3' }}{{/link-to}}
          </div>

          <div class="column element-column">
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-bitcoin cash-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link4' }}{{/link-to}}
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-litecoin-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link5' }}{{/link-to}}
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-dash-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link6' }}{{/link-to}}
          </div>
        </div>
    {{/if}}

    {{#if (media 'isMobile')}}
        <div class="ui stackable grid">
          <div class="column element-column">
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-bitcoin-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link1' }}{{/link-to}}
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-ethereum-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'navbar.eth' }}{{/link-to}}
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-ripple-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link3' }}{{/link-to}}
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-bitcoin cash-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link4' }}{{/link-to}}
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-litecoin-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link5' }}{{/link-to}}
            {{#link-to 'lang.change' ENV.i18n.lang 'buy-dash-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link6' }}{{/link-to}}
          </div>
        </div>
    {{/if}}--}}

  </div>
</div>


{{!--
<div id="footer-segment" class="ui three column stackable grid">

  <div class="ui column">
    <div class="ui two column grid">

      <div class="column">
        <div class="footer-segment-header">{{t 'footer.column1.title'}}</div>
        <img class="ui image divider-line" src="/ember/images/footer-segment/divider-line.png">
        {{#link-to 'lang.change' ENV.i18n.lang 'buy-bitcoin-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link1' }}{{/link-to}}
        {{#link-to 'lang.change' ENV.i18n.lang 'buy-ethereum-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link2' }}{{/link-to}}
        {{#link-to 'lang.change' ENV.i18n.lang 'buy-ripple-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link3' }}{{/link-to}}
        {{#link-to 'lang.change' ENV.i18n.lang 'buy-bitcoin cash-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link4' }}{{/link-to}}
        {{#link-to 'lang.change' ENV.i18n.lang 'buy-litecoin-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link5' }}{{/link-to}}
        {{#link-to 'lang.change' ENV.i18n.lang 'buy-dash-with-cardusd' class="footer-segment-link" tagName="a"}}{{t 'footer.column1.link6' }}{{/link-to}}
      </div>
      <div class="column">
        <div class="footer-segment-header">{{t 'footer.column2.title'}}</div>
        <img class="ui image divider-line" src="/ember/images/footer-segment/divider-line.png">
        {{#link-to 'lang.news' ENV.i18n.lang class="footer-segment-link" tagName="a"}}{{t 'navbar.news' }}{{/link-to}}
        {{#link-to 'lang.affiliate' ENV.i18n.lang class="footer-segment-link" tagName="a"}}{{t 'navbar.affiliate' }}{{/link-to}}
        {{#link-to 'lang.api' ENV.i18n.lang class="footer-segment-link" tagName="a"}}API{{/link-to}}
        {{#link-to 'lang.help' ENV.i18n.lang class="footer-segment-link" tagName="a"}}{{t 'footer.column2.link2' }}{{/link-to}}
        {{#link-to 'lang.terms-of-use' ENV.i18n.lang class="footer-segment-link" tagName="a"}}{{t 'footer.column2.link3' }}{{/link-to}}
        {{#link-to 'lang.locale' ENV.i18n.lang class="footer-segment-link" tagName="a"}}{{t 'footer.column3.link2' }}{{/link-to}}
      </div>
    </div>
  </div>

  <div class="ui center aligned column">
    <img class="ui centered tiny image" src="/ember/images/indacoin.svg">
    <p class="footer-segment-contacts">support@indacoin.com<br />+44 207 048 25 82</p>
  </div>

  <div class="ui center aligned column">
    <div class="footer-segment-header">{{t 'footer.column4.title'}}</div>
    <img class="ui centered image divider-line" src="/ember/images/footer-segment/divider-line.png">
    <p class="footer-segment-adress">Indacoin Limited, Suite 4b, 43 Berkeley Square, Mayfair, London, Westminster, United Kingdom, W1J 5FJ Company Number 08924450</p>

    <a href='https://www.instagram.com/indacoin_limited/' class="ui centered image">
      <img class="ui image footer-segment-social" src="/ember/images/footer-segment/instagram.svg">
    </a>
    <a href='https://www.facebook.com/indacoinlimited/' class="ui centered image">
      <img id="facebook-image" class="ui image footer-segment-social" src="/ember/images/footer-segment/facebook.svg">
    </a>
    <a href='https://twitter.com/indacoin' class="ui centered image">
      <img class="ui image footer-segment-social" src="/ember/images/footer-segment/twitter.svg">
    </a>

  </div>

</div>
--}}