<div id="links-segment" class="ui center aligned grid">

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='http://bitcoinist.com/indacoin-buying-bitcoin-credit-card/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-1"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='http://www.ewdn.com/2017/09/25/this-app-aims-to-simplify-transactions-with-more-than-200-cryptocurrencies/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-2"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://www.cryptocoinsnews.com/indacoin-mobile-wallet-operate-200-cryptocurrencies-using-one-app/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-3"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://cointelegraph.com/press-releases/freewallet-has-launched-the-simplest-way-to-buy-bitcoins'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-4"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://wavesplatform.com/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-6"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://changelly.com/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-7"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://trustwalletapp.com/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-8"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://bitbay.net/en'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-9"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://changenow.io/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-10"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://crypto.tickets'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-11"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://www.dorado.tech'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-12"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://genesis.vision/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-13"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://guarda.co/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-14"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://coinranking.com/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-16"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://byteball.org/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-17"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://icoadm.in'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-18"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://phenom.team/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-19"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://coincheckup.com/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-20"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://www.edgeless.io/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-21"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://icobazaar.com/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-22"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://quickex.io/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-23"></i>
      </span>
    </a>
  </div>

  <div class="four wide computer eight wide tablet sixteen wide mobile column">
    <a rel="nofollow" href='https://suex.io/'>
      <span class='sprite-wrapper'>
        <i class="partners-blue partners-blue-24"></i>
      </span>
    </a>
  </div>

      {{!-- convert 22.png -fuzz 100% -fill '#87e6f0' -opaque black 22_blue.png --}}

</div>