{{!-- <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> --}}

      {{!-- <div class="ui sixteen wide center aligned column block-3">
                      <img style="width: 7em;" src="/ember/images/pos-all-2.png" class="ui centered image">
                    </div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, optio quo. Ex in ipsam facilis est explicabo temporibus laudantium cum? Dolorum deleniti quidem accusamus officia repudiandae magnam ab nihil expedita.
      Ad culpa corporis accusantium doloremque asperiores sequi iste odit fuga necessitatibus ratione vero, neque recusandae debitis pariatur in, autem aperiam explicabo labore officiis. Harum, a autem ut voluptate officia eos.
      Voluptatibus alias ullam eaque saepe dicta necessitatibus voluptates tenetur itaque officia unde provident molestiae modi asperiores quam quas sit, non quis repellendus obcaecati. Voluptate illo, sequi cumque repudiandae corrupti dicta!
      Vitae quasi, suscipit commodi architecto voluptas cupiditate, rerum quam debitis, autem ipsa atque. Assumenda nesciunt, accusantium modi accusamus consequatur, dolor, atque molestiae quam quibusdam expedita dolorem id officiis quod ad?
      Iste qui, mollitia consequatur minus eum illo provident voluptatem sint id libero, rerum saepe cum distinctio nulla alias quis aliquam! Saepe hic consequuntur ad quisquam fuga enim obcaecati dolorum vitae.</p> --}}
