<div id="map-segment" class="ui center aligned grid">

  <div class="ui row map-title">
    <div class="center aligned sixteen wide column title">
        <h2 class="ui header">{{t 'map-segment.title'}}</h2>
        <p>{{country}}</p>
    </div>
  </div>

  <img id="map-segment-world" class="ui image" src="/ember/images/map-segment/map.png">

  <div class="ui four column stackable row" class="map-images">

    <div class="ui column">
        <div class="ui center aligned header">
            <div class="ui image">
                <img class="ui image" src="/ember/images/map-segment/img-1.svg">
            </div>
            <p>{{t 'map-segment.blocks.title-1'}}</p>
        </div>
    </div>

    <div class="ui column">
        <div class="ui center aligned header">
            <div class="ui image">
                <img class="ui image" src="/ember/images/map-segment/img-2.svg">
            </div>
            <p>{{t 'map-segment.blocks.title-2'}}</p>
        </div>
    </div>

    <div class="ui column">
        <div class="ui center aligned header">
            <div class="ui image">
                <img class="ui image" src="/ember/images/map-segment/img-3.svg">
            </div>
            <p>{{t 'map-segment.blocks.title-3'}}</p>
        </div>
    </div>

    <div class="ui column">
        <div class="ui center aligned header">
            <div class="ui image">
                <img class="ui image" src="/ember/images/map-segment/img-4.svg">
            </div>
            <p>{{t 'map-segment.blocks.title-4'}}</p>
        </div>
    </div>

  </div>

</div>




{{!--
<div id="map-segment" class="ui center aligned grid">

  <div class="ui row">
    <div class="center aligned sixteen wide column">
          <h2 id="map-segment-title" class="ui header"><span>{{map-segment-country country}}</span></h2>
    </div>
  </div>

  <img id="map-segment-world" class="ui image" src="/ember/images/map-segment/map.png">

  <img id="label-1" class="ui image map-label" src="/ember/images/map-segment/label.svg">
  <img id="label-2" class="ui image map-label" src="/ember/images/map-segment/label.svg">
  <img id="label-3" class="ui image map-label" src="/ember/images/map-segment/label.svg">
  <img id="label-4" class="ui image map-label" src="/ember/images/map-segment/label.svg">
  <img id="label-5" class="ui image map-label" src="/ember/images/map-segment/label.svg">
  <img id="label-6" class="ui image map-label" src="/ember/images/map-segment/label.svg">
  <div id="map-container-num-1" class="map-container-num"><span id="map-num-1">2711</span></div>
  <div id="map-container-num-2" class="map-container-num"><span id="map-num-2">1435</span></div>
  <div id="map-container-num-3" class="map-container-num"><span id="map-num-3">826</span></div>
  <div id="map-container-num-4" class="map-container-num"><span id="map-num-4">972</span></div>
  <div id="map-container-num-5" class="map-container-num"><span id="map-num-5">864</span></div>
  <div id="map-container-num-6" class="map-container-num"><span id="map-num-6">591</span></div>

  <div class="ui four column stackable row">

    <div class="ui column" class="map-column">
        <div class="ui divided items">
            <div class="item map-popup-1">
                <img class="ui image" src="/ember/images/map-segment/picture_1.svg">
                <div class="middle aligned content">
                    <p>{{ t 'map-segment.text1'}}</p>
                </div>
            </div>
        </div>
    </div>

    <div  class="ui column" class="map-column">
        <div class="ui divided items">
            <div class="item map-popup-2">
                <img class="ui image" src="/ember/images/map-segment/picture_2.svg">
                <div class="middle aligned content">
                    <p>{{ t 'map-segment.text2'}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui column" class="map-column">
        <div class="ui divided items">
            <div class="item map-popup-3">
                <img class="ui image" src="/ember/images/map-segment/picture_3.svg">
                    <div class="middle aligned content">
                    <p>{{ t 'map-segment.text3'}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui column" class="map-column">
        <div class="ui divided items">
            <div class="item map-popup-4">
                <img class="ui image" src="/ember/images/map-segment/picture_4.svg">
                <div class="middle aligned content">
                    <p>{{ t 'map-segment.text4'}}</p>
                </div>
            </div>
        </div>
    </div>

  </div>

</div>
--}}