<div id="news-segment" class="ui center aligned grid">

  <div class="ui row">
    <div><img id="quotes" class="ui image" src="/ember/images/news-segment/quotes.svg"></div><br />
  </div>

  <div class="news-swiper-button-prev swiper-button-prev"></div>
  <div class="news-swiper-button-next swiper-button-next"></div>


{{#swiper-container id="news-swiper-container" pagination=false observeParents=true observer=true updateFor=news nextButton='.news-swiper-button-next' prevButton='.news-swiper-button-prev' centeredSlides=true simulateTouch=false loop=false spaceBetween=100 uniqueNavElements=true currentSlide=currentSlide spaceBetween=100 preventClicks=false preventClicksPropagation=false}}

  {{!--<div id="news-swiper-container" class="swiper-container" class="ui vertical aligned">
      <div class="swiper-wrapper">--}}
        
        {{#each news as |link|}}
        {{#swiper-slide}}
          <div class="swiper-slide">
            <p class="message">{{news-text link.shortText "250"}}</p>
            <p class="date">{{link.date}}</p>
          </div>
          {{/swiper-slide}}
        {{/each}}
      {{!--</div>--}}
      
  {{!--</div>--}}
  {{/swiper-container}}

</div>