<div id="phone-segment" class="ui center aligned grid">
  <div class="ui stackable row">
    <div id="phone-segment-left" class="ui eight wide column">


{{!--
      <picture>
          <source srcset="/assets/exclude/animated-mob-mobile.jpg" media="screen and (max-width: 768px)">
          <img class="ui middle aligned image" srcset="/assets/exclude/animated-mob.gif">
      </picture>
  2-3 4-1
--}}
          <img id="phone-segment-pic1" class="ui middle aligned image" src="/assets/exclude/phone-segment/{{t 'lang'}}/1.jpg" style="width: 13em;">
          <img id="phone-segment-pic2" class="ui bottom aligned image" src="/assets/exclude/phone-segment/{{t 'lang'}}/3.jpg" style="width: 11em;">


    </div>
    <div id="phone-segment-right" class="ui eight wide column">
      <div style="height: 100%" class="ui middle aligned grid">

        <div class="title" class="ui center aligned mobile grid row">
          {{ t 'phone-segment.title' }}
        </div>

        <div class="ui center aligned mobile grid row">
          <div class="ui three wide computer three wide tablet two wide mobile column">
            <img class="ui image phone-item-icon" src="/ember/images/phone-segment/img-1.svg">
          </div>
          <div class="ui nine wide computer thirteen wide tablet thirteen wide mobile column phone-segment-text">
            {{ t 'phone-segment.text1' }}
          </div>
        </div>

        <div class="ui center aligned mobile grid row">
          <div class="ui three wide computer three wide tablet two wide mobile column">

            <img class="ui image phone-item-icon" src="/ember/images/phone-segment/img-2.svg">
          </div>
          <div class="ui nine wide computer thirteen wide tablet thirteen wide mobile column phone-segment-text">
            {{ t 'phone-segment.text3' }}
          </div>
        </div>

        <div class="ui center aligned mobile grid row">
          <div class="ui three wide computer three wide tablet two wide mobile column">
            <img class="ui image phone-item-icon" src="/ember/images/phone-segment/img-3.svg">
          </div>
          <div class="ui nine wide computer thirteen wide tablet thirteen wide mobile column phone-segment-text">
            {{ t 'phone-segment.text2' }}
          </div>
        </div>

        <div class="ui row phone-segment-images">

          <div class="ui center aligned mobile column">
            <div class="ui tiny images">
                <a href='https://play.google.com/store/apps/details?id=com.indacoin.android'>
                  <img id="phone-segment-left-image" class="ui centered image" alt='Get it on Google Play' src="/assets/exclude/download-android/{{t 'lang'}}.png"/>
                </a>
                <a href="https://itunes.apple.com/ru/app/indacoin-bitcoin-wallet-and-store/id1255080553?l=en&mt=8">
                  <img id="phone-segment-right-image" class="ui centered image" alt='Get it on App Store' src="/assets/exclude/download-ios/{{t 'lang' }}.svg"/>
                </a>
            </div>
          </div>


        </div>

      </div>

    </div>
  </div>
</div>