<div id="social-segment" class="ui center aligned grid">

  <div id="faceBookButtonContainer" class="ui four wide centered center aligned column" style="display: none;">
    <button {{action 'goOnFaceBook' currentSlide}} id="faceBookButton" class="ui fluid teal button read-button">
      <span>{{ t 'social-segment.buttonText' }}</span>
    </button>
  </div>

  <div class="ui image social-segment-image">
    <img src={{object-at facebook currentSlide}}>
  </div>

  <div id="triangle"></div>

  <div class="social-swiper-button-prev swiper-button-prev"></div>
  <div class="social-swiper-button-next swiper-button-next"></div>

  {{#swiper-container id="social-segment-swipe" observeParents=true observer=true updateFor=facebook nextButton='.social-swiper-button-next' prevButton='.social-swiper-button-prev' loop=false spaceBetween=25 uniqueNavElements=true currentSlide=currentSlide spaceBetween=100 preventClicks=false preventClicksPropagation=false}}
  {{!--{{#each faceBooklinks as |link|}}--}}
  {{#each facebook as |link|}}
  {{#swiper-slide}}
      <p>{{link.name}} {{#if link.stars}}<img class="ui tiny image social-stars" src="/ember/images/social-segment/5stars.png">{{else}}<img class="ui tiny image social-stars" src="/ember/images/social-segment/4stars.png">{{/if}}</p>
      <p>{{link.text}}</p>
      <p>{{link.date}}</p>
  {{/swiper-slide}}
  {{/each}}
  {{/swiper-container}}

</div>