<div id="steps-content-error" class="ui center aligned grid">

  <div class="ui row">
    <div class="ui center aligned ten wide column" class="title1">
        {{t 'exchange-form.error-page'}}
    </div>
  </div>

</div>