{{#link-to 'currency' (query-params name=value.name) tagName = 'tr'}}
  <td><i class="hashtag small icon"></i>{{value.position}}</td>
  <td><h4 class="ui small header"><i class="cc-{{value.symbol}}"></i> {{value.name}}</h4></td>
  <td>
    <i class="dollar icon"></i>{{value.marketCap.usd}}
  </td>
  <td>
    <i class="dollar icon"></i>{{value.price.usd}}
  </td>
  <td>
    <i class="dollar icon"></i>{{value.volume24.usd}}
 </td>
  <td class="{{value.color}}">
    {{value.change24h}} <i class="small percent icon"></i><
  </td>
{{/link-to}}
