<div id="register-segment" class="ui center aligned grid">

  <div class="ui row">
    <div class="ui center aligned ten wide column" class="header1">

      <form id="registerForm" class="ui form">
        <div class="ui error message"></div>

        <div class="ui center aligned grid">
          <div class="ui grid center aligned row">
            <div class="ui nine wide column">
              <input class="email" type="text" name="email" placeholder={{t 'form.email'}} tabindex="1">
            </div>

            <div class="ui center aligned row">
              <div class="ui six wide column">
                <div class="ui left fluid input">
                  {{input name="captcha" type="text" placeholder=(t 'form.login.captcha') tabindex="2"}}
                </div>
              </div>
              <div {{action 'reCaptcha'}} class="captcha-img">
                <img src="/Tools/CaptchaHandler.ashx?type=new" id="registerCaptcha_img" width="125" height="30">
              </div>
            </div>

            <div class="ui row">
              <div class="ui five wide computer six wide tablet sixteen wide mobile centered center aligned column">
                <button {{action 'register'}} class="ui sign-in centered fluid button" tabindex="3">
                  {{t 'form.registration.create'}}
                </button>
              </div>
            </div>

          </div>
        </div>

      </form>
    </div>
  </div>

</div>