<div id="questions-segment" class="ui center aligned grid">

  <div class="ui row">
    <div class="ui center aligned sixteen wide mobile ten wide tablet column" class="header1">
        {{#if isPlatform}}
          <span>{{t 'faq.title'}}</span>
        {{else}}
          <span class="blue pointer" {{action "turnPlatform"}}>{{t 'faq.title'}}</span> / <span>{{segment}}</span>
        {{/if}}
    </div>
  </div>

  {{#if isPlatform}}

    <div class="ui two column stackable row">
      
      <div class="ui six wide left aligned column">
        <div class="header2">{{t 'faq.header1'}}</div>
        <div class="text-link" {{action "questTransition" 1 1}}>{{t 'faq.question1.title'}}</div>
        <div class="text-link" {{action "questTransition" 1 2}}>{{t 'faq.question2.title'}}</div>
        <div class="text-link" {{action "questTransition" 1 3}}>{{t 'faq.question3.title'}}</div>
        <div class="text-link" {{action "questTransition" 1 4}}>{{t 'faq.question4.title'}}</div>
        <div class="text-link" {{action "questTransition" 1 5}}>{{t 'faq.question5.title'}}</div>
        <div class="text-link" {{action "questTransition" 1 6}}>{{t 'faq.question6.title'}}</div>
        <div class="text-link" {{action "questTransition" 1 7}}>{{t 'faq.question7.title'}}</div>
      </div>

      <div class="ui four wide column"></div>

      <div class="ui six wide left aligned column">
        <div class="header2">{{t 'faq.header2'}}</div>
        <div class="text-link" {{action "questTransition" 2 8}}>{{t 'faq.question8.title'}}</div>
        <div class="text-link" {{action "questTransition" 2 9}}>{{t 'faq.question9.title'}}</div>
        <div class="text-link" {{action "questTransition" 2 10}}>{{t 'faq.question10.title'}}</div>
        <div class="text-link" {{action "questTransition" 2 11}}>{{t 'faq.question11.title'}}</div>
      </div>
    </div>

    <div class="ui two column stackable row">
      <div class="ui six wide left aligned column">
        <div class="header2">{{t 'faq.header3'}}</div>
        <div class="text-link" {{action "questTransition" 3 12}}>{{t 'faq.question12.title'}}</div>
        <div class="text-link" {{action "questTransition" 3 13}}>{{t 'faq.question13.title'}}</div>
        <div class="text-link" {{action "questTransition" 3 14}}>{{t 'faq.question14.title'}}</div>
        <div class="text-link" {{action "questTransition" 3 15}}>{{t 'faq.question15.title'}}</div>
        <div class="text-link" {{action "questTransition" 3 16}}>{{t 'faq.question16.title'}}</div>
        <div class="text-link" {{action "questTransition" 3 17}}>{{t 'faq.question17.title'}}</div>
        <div class="text-link" {{action "questTransition" 3 18}}>{{t 'faq.question18.title'}}</div>
      </div>

      <div class="ui four wide column"></div>

      <div class="ui six wide left aligned column">
        <div class="header2">{{t 'faq.header4'}}</div>
        <div class="text-link" {{action "questTransition" 4 19}}>{{t 'faq.question19.title'}}</div>
        <div class="text-link" {{action "questTransition" 4 20}}>{{t 'faq.question20.title'}}</div>
        <div class="text-link" {{action "questTransition" 4 21}}>{{t 'faq.question21.title'}}</div>
      </div>
    </div>

    <div class="ui two column stackable row">
      <div class="ui six wide left aligned column">
        <div class="header2">{{t 'faq.header5'}}</div>
        <div class="text-link" {{action "questTransition" 5 22}}>{{t 'faq.question22.title'}}</div>
        <div class="text-link" {{action "questTransition" 5 23}}>{{t 'faq.question23.title'}}</div>
        <div class="text-link" {{action "questTransition" 5 24}}>{{t 'faq.question24.title'}}</div>
        <div class="text-link" {{action "questTransition" 5 25}}>{{t 'faq.question25.title'}}</div>
        <div class="text-link" {{action "questTransition" 5 26}}>{{t 'faq.question26.title'}}</div>
        <div class="text-link" {{action "questTransition" 5 27}}>{{t 'faq.question27.title'}}</div>
      </div>
      <div class="ui four wide column"></div>

      <div class="ui six wide left aligned column"></div>
    </div>

  {{/if}}

  {{#if block1}}

  <div id="anchor-1" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question1.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question1.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-2" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question2.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question2.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-3" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question3.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question3.text'}}{{#link-to 'lang.affiliate' tagName="a"}}{{t 'navbar.affiliate'}}{{/link-to}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-4" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question4.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question4.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-5" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question5.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question5.text-part1'}}{{#link-to 'lang.change' 'buy-bitcoin-with-cardusd' tagName="a"}}{{t 'navbar.btc' }}{{/link-to}}{{t 'faq.question5.text-part2'}}
    </div>
    
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-6" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question6.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question6.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-7" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question7.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question7.text'}}</div>
  </div>

  {{help/answers-segment anchor=anchor}}

  {{/if}}

  {{#if block2}}

  <div id="anchor-8" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question8.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question8.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-9" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question9.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question9.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-10" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question10.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question10.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-11" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question11.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question11.text'}}</div>
  </div>

  {{help/answers-segment anchor=anchor}}

  {{/if}}

  {{#if block3}}

  <div id="anchor-12" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question12.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question12.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-13" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question13.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question13.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-14" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question14.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question14.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-15" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question15.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question15.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-16" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question16.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question16.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-17" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question17.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question17.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-18" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question18.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question18.text'}}</div>
  </div>

  {{help/answers-segment anchor=anchor}}

  {{/if}}

  {{#if block4}}

  <div id="anchor-19" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question19.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question19.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-20" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question20.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question20.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-21" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question21.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question21.text'}}</div>
  </div>

  {{help/answers-segment anchor=anchor}}

  {{/if}}

  {{#if block5}}

  <div id="anchor-22" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question22.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question22.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-23" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question23.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question23.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-24" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question24.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question24.text'}}
    </div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-25" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question25.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question25.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-26" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question26.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question26.text'}}</div>
    <div class="ui left aligned fifteen wide column">
      <div class="small-divider" class="ui divider"></div>
    </div>
  </div>

  <div id="anchor-27" class="ui row">
    <div class="ui left aligned sixteen wide column" class="header3">{{t 'faq.question27.title'}}</div>
    <div class="ui left aligned sixteen wide column" class="text">{{t 'faq.question27.text'}}</div>
  </div>

  {{help/answers-segment anchor=anchor}}

  {{/if}}

</div>