/*! Cryptocoins - cryptocurrency icon font | https://github.com/allienworks/cryptocoins */

@font-face {
  font-family: "cryptocoins-icons";
  src: url('cryptocoins-icons.woff2') format('woff2'),
    url('cryptocoins-icons.woff') format('woff'),
    url('cryptocoins-icons.ttf') format('truetype');
}

/* .cc:before { */
/* .cc::before { */
[class*="cc-"]:before {
  font-family: "cryptocoins-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}


.cc-ADA-alt:before {
  content: "\E001";
}

.cc-ADA:before {
  content: "\E002";
}

.cc-ADC-alt:before {
  content: "\E003";
}

.cc-ADC:before {
  content: "\E004";
}

.cc-AE:before {
  content: "\E005";
}

.cc-AEON-alt:before {
  content: "\E006";
}

.cc-AEON:before {
  content: "\E007";
}

.cc-AMP-alt:before {
  content: "\E008";
}

.cc-AMP:before {
  content: "\E009";
}

.cc-ANC-alt:before {
  content: "\E00A";
}

.cc-ANC:before {
  content: "\E00B";
}

.cc-ANT:before {
  content: "\E00C";
}

.cc-ARCH-alt:before {
  content: "\E00D";
}

.cc-ARCH:before {
  content: "\E00E";
}

.cc-ARDR-alt:before {
  content: "\E00F";
}

.cc-ARDR:before {
  content: "\E010";
}

.cc-ARK-alt:before {
  content: "\E011";
}

.cc-ARK:before {
  content: "\E012";
}

.cc-AUR-alt:before {
  content: "\E013";
}

.cc-AUR:before {
  content: "\E014";
}

.cc-BANX-alt:before {
  content: "\E015";
}

.cc-BANX:before {
  content: "\E016";
}

.cc-BAT-alt:before {
  content: "\E017";
}

.cc-BAT:before {
  content: "\E018";
}

.cc-BAY-alt:before {
  content: "\E019";
}

.cc-BAY:before {
  content: "\E01A";
}

.cc-BCC-alt:before {
  content: "\E01B";
}

.cc-BCC:before {
  content: "\E01C";
}

.cc-BCN-alt:before {
  content: "\E01D";
}

.cc-BCN:before {
  content: "\E01E";
}

.cc-BFT-alt:before {
  content: "\E01F";
}

.cc-BFT:before {
  content: "\E020";
}

.cc-BLK-alt:before {
  content: "\E021";
}

.cc-BLK:before {
  content: "\E022";
}

.cc-BLOCK:before {
  content: "\E023";
}

.cc-BNT:before {
  content: "\E024";
}

.cc-BRK-alt:before {
  content: "\E025";
}

.cc-BRK:before {
  content: "\E026";
}

.cc-BRX-alt:before {
  content: "\E027";
}

.cc-BRX:before {
  content: "\E028";
}

.cc-BSD-alt:before {
  content: "\E029";
}

.cc-BSD:before {
  content: "\E02A";
}

.cc-BTA:before {
  content: "\E02B";
}

.cc-BTC-alt:before {
  content: "\E02C";
}

.cc-BTC:before {
  content: "\E02D";
}

.cc-BTCD-alt:before {
  content: "\E02E";
}

.cc-BTCD:before {
  content: "\E02F";
}

.cc-BTG:before {
  content: "\E030";
}

.cc-BTM-alt:before {
  content: "\E031";
}

.cc-BTM:before {
  content: "\E032";
}

.cc-BTS-alt:before {
  content: "\E033";
}

.cc-BTS:before {
  content: "\E034";
}

.cc-BURST:before {
  content: "\E035";
}

.cc-CLAM-alt:before {
  content: "\E036";
}

.cc-CLAM:before {
  content: "\E037";
}

.cc-CLOAK-alt:before {
  content: "\E038";
}

.cc-CLOAK:before {
  content: "\E039";
}

.cc-CVC:before {
  content: "\E03A";
}

.cc-DAO-alt:before {
  content: "\E03B";
}

.cc-DAO:before {
  content: "\E03C";
}

.cc-DASH-alt:before {
  content: "\E03D";
}

.cc-DASH:before {
  content: "\E03E";
}

.cc-DCR-alt:before {
  content: "\E03F";
}

.cc-DCR:before {
  content: "\E040";
}

.cc-DCT-alt:before {
  content: "\E041";
}

.cc-DCT:before {
  content: "\E042";
}

.cc-DGB-alt:before {
  content: "\E043";
}

.cc-DGB:before {
  content: "\E044";
}

.cc-DGD:before {
  content: "\E045";
}

.cc-DGX:before {
  content: "\E046";
}

.cc-DMD-alt:before {
  content: "\E047";
}

.cc-DMD:before {
  content: "\E048";
}

.cc-DOGE-alt:before {
  content: "\E049";
}

.cc-DOGE:before {
  content: "\E04A";
}

.cc-EDG:before {
  content: "\E04B";
}

.cc-EMC-alt:before {
  content: "\E04C";
}

.cc-EMC:before {
  content: "\E04D";
}

.cc-EMC2:before {
  content: "\E04E";
}

.cc-ENG:before {
  content: "\E04F";
}

.cc-EOS-alt:before {
  content: "\E050";
}

.cc-EOS:before {
  content: "\E051";
}

.cc-ERC-alt:before {
  content: "\E052";
}

.cc-ERC:before {
  content: "\E053";
}

.cc-ETC-alt:before {
  content: "\E054";
}

.cc-ETC:before {
  content: "\E055";
}

.cc-ETH-alt:before {
  content: "\E056";
}

.cc-ETH:before {
  content: "\E057";
}

.cc-EXP:before {
  content: "\E058";
}

.cc-FAIR:before {
  content: "\E059";
}

.cc-FC2-alt:before {
  content: "\E05A";
}

.cc-FC2:before {
  content: "\E05B";
}

.cc-FCT-alt:before {
  content: "\E05C";
}

.cc-FCT:before {
  content: "\E05D";
}

.cc-FLO-alt:before {
  content: "\E05E";
}

.cc-FLO:before {
  content: "\E05F";
}

.cc-FRK-alt:before {
  content: "\E060";
}

.cc-FRK:before {
  content: "\E061";
}

.cc-FTC-alt:before {
  content: "\E062";
}

.cc-FTC:before {
  content: "\E063";
}

.cc-FUN:before {
  content: "\E064";
}

.cc-GAME-alt:before {
  content: "\E065";
}

.cc-GAME:before {
  content: "\E066";
}

.cc-GBG-alt:before {
  content: "\E067";
}

.cc-GBG:before {
  content: "\E068";
}

.cc-GBYTE-alt:before {
  content: "\E069";
}

.cc-GBYTE:before {
  content: "\E06A";
}

.cc-GDC-alt:before {
  content: "\E06B";
}

.cc-GDC:before {
  content: "\E06C";
}

.cc-GEMZ-alt:before {
  content: "\E06D";
}

.cc-GEMZ:before {
  content: "\E06E";
}

.cc-GLD-alt:before {
  content: "\E06F";
}

.cc-GLD:before {
  content: "\E070";
}

.cc-GNO-alt:before {
  content: "\E071";
}

.cc-GNO:before {
  content: "\E072";
}

.cc-GNT-alt:before {
  content: "\E073";
}

.cc-GNT:before {
  content: "\E074";
}

.cc-GRC-alt:before {
  content: "\E075";
}

.cc-GRC:before {
  content: "\E076";
}

.cc-GRS:before {
  content: "\E077";
}

.cc-GUP:before {
  content: "\E078";
}

.cc-HEAT-alt:before {
  content: "\E079";
}

.cc-HEAT:before {
  content: "\E07A";
}

.cc-ICN-alt:before {
  content: "\E07B";
}

.cc-ICN:before {
  content: "\E07C";
}

.cc-IFC-alt:before {
  content: "\E07D";
}

.cc-IFC:before {
  content: "\E07E";
}

.cc-IGNIS:before {
  content: "\E07F";
}

.cc-INCNT-alt:before {
  content: "\E080";
}

.cc-INCNT:before {
  content: "\E081";
}

.cc-IOC-alt:before {
  content: "\E082";
}

.cc-IOC:before {
  content: "\E083";
}

.cc-IOTA-alt:before {
  content: "\E084";
}

.cc-IOTA:before {
  content: "\E085";
}

.cc-JBS-alt:before {
  content: "\E086";
}

.cc-JBS:before {
  content: "\E087";
}

.cc-KCS:before {
  content: "\E088";
}

.cc-KMD-alt:before {
  content: "\E089";
}

.cc-KMD:before {
  content: "\E08A";
}

.cc-KOBO:before {
  content: "\E08B";
}

.cc-KORE-alt:before {
  content: "\E08C";
}

.cc-KORE:before {
  content: "\E08D";
}

.cc-LBC-alt:before {
  content: "\E08E";
}

.cc-LBC:before {
  content: "\E08F";
}

.cc-LDOGE-alt:before {
  content: "\E090";
}

.cc-LDOGE:before {
  content: "\E091";
}

.cc-LSK-alt:before {
  content: "\E092";
}

.cc-LSK:before {
  content: "\E093";
}

.cc-LTC-alt:before {
  content: "\E094";
}

.cc-LTC:before {
  content: "\E095";
}

.cc-MAID-alt:before {
  content: "\E096";
}

.cc-MAID:before {
  content: "\E097";
}

.cc-MANA:before {
  content: "\E098";
}

.cc-MCO-alt:before {
  content: "\E099";
}

.cc-MCO:before {
  content: "\E09A";
}

.cc-MINT-alt:before {
  content: "\E09B";
}

.cc-MINT:before {
  content: "\E09C";
}

.cc-MLN:before {
  content: "\E09D";
}

.cc-MONA-alt:before {
  content: "\E09E";
}

.cc-MONA:before {
  content: "\E09F";
}

.cc-MRC:before {
  content: "\E0A0";
}

.cc-MSC-alt:before {
  content: "\E0A1";
}

.cc-MSC:before {
  content: "\E0A2";
}

.cc-MTR-alt:before {
  content: "\E0A3";
}

.cc-MTR:before {
  content: "\E0A4";
}

.cc-MUE-alt:before {
  content: "\E0A5";
}

.cc-MUE:before {
  content: "\E0A6";
}

.cc-MUSIC:before {
  content: "\E0A7";
}

.cc-NAV:before {
  content: "\E0A8";
}

.cc-NBT:before {
  content: "\E0A9";
}

.cc-NEO-alt:before {
  content: "\E0AA";
}

.cc-NEO:before {
  content: "\E0AB";
}

.cc-NEOS-alt:before {
  content: "\E0AC";
}

.cc-NEOS:before {
  content: "\E0AD";
}

.cc-NEU-alt:before {
  content: "\E0AE";
}

.cc-NEU:before {
  content: "\E0AF";
}

.cc-NLG-alt:before {
  content: "\E0B0";
}

.cc-NLG:before {
  content: "\E0B1";
}

.cc-NMC-alt:before {
  content: "\E0B2";
}

.cc-NMC:before {
  content: "\E0B3";
}

.cc-NOTE-alt:before {
  content: "\E0B4";
}

.cc-NOTE:before {
  content: "\E0B5";
}

.cc-NVC-alt:before {
  content: "\E0B6";
}

.cc-NVC:before {
  content: "\E0B7";
}

.cc-NXT-alt:before {
  content: "\E0B8";
}

.cc-NXT:before {
  content: "\E0B9";
}

.cc-OK-alt:before {
  content: "\E0BA";
}

.cc-OK:before {
  content: "\E0BB";
}

.cc-OMG-alt:before {
  content: "\E0BC";
}

.cc-OMG:before {
  content: "\E0BD";
}

.cc-OMNI-alt:before {
  content: "\E0BE";
}

.cc-OMNI:before {
  content: "\E0BF";
}

.cc-OPAL-alt:before {
  content: "\E0C0";
}

.cc-OPAL:before {
  content: "\E0C1";
}

.cc-PART-alt:before {
  content: "\E0C2";
}

.cc-PART:before {
  content: "\E0C3";
}

.cc-PAY:before {
  content: "\E0C4";
}

.cc-PIGGY-alt:before {
  content: "\E0C5";
}

.cc-PIGGY:before {
  content: "\E0C6";
}

.cc-PINK-alt:before {
  content: "\E0C7";
}

.cc-PINK:before {
  content: "\E0C8";
}

.cc-PIVX-alt:before {
  content: "\E0C9";
}

.cc-PIVX:before {
  content: "\E0CA";
}

.cc-POT-alt:before {
  content: "\E0CB";
}

.cc-POT:before {
  content: "\E0CC";
}

.cc-POWR:before {
  content: "\E0CD";
}

.cc-PPC-alt:before {
  content: "\E0CE";
}

.cc-PPC:before {
  content: "\E0CF";
}

.cc-QRK-alt:before {
  content: "\E0D0";
}

.cc-QRK:before {
  content: "\E0D1";
}

.cc-QTUM-alt:before {
  content: "\E0D2";
}

.cc-QTUM:before {
  content: "\E0D3";
}

.cc-RADS-alt:before {
  content: "\E0D4";
}

.cc-RADS:before {
  content: "\E0D5";
}

.cc-RBIES-alt:before {
  content: "\E0D6";
}

.cc-RBIES:before {
  content: "\E0D7";
}

.cc-RBT-alt:before {
  content: "\E0D8";
}

.cc-RBT:before {
  content: "\E0D9";
}

.cc-RBY-alt:before {
  content: "\E0DA";
}

.cc-RBY:before {
  content: "\E0DB";
}

.cc-RCN:before {
  content: "\E0DC";
}

.cc-RDD-alt:before {
  content: "\E0DD";
}

.cc-RDD:before {
  content: "\E0DE";
}

.cc-REP-alt:before {
  content: "\E0DF";
}

.cc-REP:before {
  content: "\E0E0";
}

.cc-RISE-alt:before {
  content: "\E0E1";
}

.cc-RISE:before {
  content: "\E0E2";
}

.cc-RLC:before {
  content: "\E0E3";
}

.cc-SALT-alt:before {
  content: "\E0E4";
}

.cc-SALT:before {
  content: "\E0E5";
}

.cc-SAR-alt:before {
  content: "\E0E6";
}

.cc-SAR:before {
  content: "\E0E7";
}

.cc-SBD-alt:before {
  content: "\E0E8";
}

.cc-SBD:before {
  content: "\E0E9";
}

.cc-SC-alt:before {
  content: "\E0EA";
}

.cc-SC:before {
  content: "\E0EB";
}

.cc-SCOT-alt:before {
  content: "\E0EC";
}

.cc-SCOT:before {
  content: "\E0ED";
}

.cc-SDC-alt:before {
  content: "\E0EE";
}

.cc-SDC:before {
  content: "\E0EF";
}

.cc-SJCX-alt:before {
  content: "\E0F0";
}

.cc-SJCX:before {
  content: "\E0F1";
}

.cc-SLG-alt:before {
  content: "\E0F2";
}

.cc-SLG:before {
  content: "\E0F3";
}

.cc-SLS-alt:before {
  content: "\E0F4";
}

.cc-SLS:before {
  content: "\E0F5";
}

.cc-SNRG-alt:before {
  content: "\E0F6";
}

.cc-SNRG:before {
  content: "\E0F7";
}

.cc-SNT:before {
  content: "\E0F8";
}

.cc-START-alt:before {
  content: "\E0F9";
}

.cc-START:before {
  content: "\E0FA";
}

.cc-STORJ:before {
  content: "\E0FB";
}

.cc-STRAT-alt:before {
  content: "\E0FC";
}

.cc-STRAT:before {
  content: "\E0FD";
}

.cc-SWIFT-alt:before {
  content: "\E0FE";
}

.cc-SWIFT:before {
  content: "\E0FF";
}

.cc-SYNC-alt:before {
  content: "\E100";
}

.cc-SYNC:before {
  content: "\E101";
}

.cc-SYS-alt:before {
  content: "\E102";
}

.cc-SYS:before {
  content: "\E103";
}

.cc-TRIG-alt:before {
  content: "\E104";
}

.cc-TRIG:before {
  content: "\E105";
}

.cc-TX-alt:before {
  content: "\E106";
}

.cc-TX:before {
  content: "\E107";
}

.cc-UBQ-alt:before {
  content: "\E108";
}

.cc-UBQ:before {
  content: "\E109";
}

.cc-UNITY-alt:before {
  content: "\E10A";
}

.cc-UNITY:before {
  content: "\E10B";
}

.cc-USDT-alt:before {
  content: "\E10C";
}

.cc-USDT:before {
  content: "\E10D";
}

.cc-VIA:before {
  content: "\E10E";
}

.cc-VIOR-alt:before {
  content: "\E10F";
}

.cc-VIOR:before {
  content: "\E110";
}

.cc-VNL-alt:before {
  content: "\E111";
}

.cc-VNL:before {
  content: "\E112";
}

.cc-VPN-alt:before {
  content: "\E113";
}

.cc-VPN:before {
  content: "\E114";
}

.cc-VRC-alt:before {
  content: "\E115";
}

.cc-VRC:before {
  content: "\E116";
}

.cc-VTC-alt:before {
  content: "\E117";
}

.cc-VTC:before {
  content: "\E118";
}

.cc-WAVES-alt:before {
  content: "\E119";
}

.cc-WAVES:before {
  content: "\E11A";
}

.cc-WTC:before {
  content: "\E11B";
}

.cc-XAI-alt:before {
  content: "\E11C";
}

.cc-XAI:before {
  content: "\E11D";
}

.cc-XBS-alt:before {
  content: "\E11E";
}

.cc-XBS:before {
  content: "\E11F";
}

.cc-XCP-alt:before {
  content: "\E120";
}

.cc-XCP:before {
  content: "\E121";
}

.cc-XDN:before {
  content: "\E122";
}

.cc-XEM-alt:before {
  content: "\E123";
}

.cc-XEM:before {
  content: "\E124";
}

.cc-XLM-alt:before {
  content: "\E125";
}

.cc-XLM:before {
  content: "\E126";
}

.cc-XMG:before {
  content: "\E127";
}

.cc-XMR:before {
  content: "\E128";
}

.cc-XMY:before {
  content: "\E129";
}

.cc-XPM-alt:before {
  content: "\E12A";
}

.cc-XPM:before {
  content: "\E12B";
}

.cc-XRP-alt:before {
  content: "\E12C";
}

.cc-XRP:before {
  content: "\E12D";
}

.cc-XTZ-alt:before {
  content: "\E12E";
}

.cc-XTZ:before {
  content: "\E12F";
}

.cc-XVC:before {
  content: "\E130";
}

.cc-XVG-alt:before {
  content: "\E131";
}

.cc-XVG:before {
  content: "\E132";
}

.cc-XZC-alt:before {
  content: "\E133";
}

.cc-XZC:before {
  content: "\E134";
}

.cc-YBC-alt:before {
  content: "\E135";
}

.cc-YBC:before {
  content: "\E136";
}

.cc-ZCL:before {
  content: "\E137";
}

.cc-ZEC-alt:before {
  content: "\E138";
}

.cc-ZEC:before {
  content: "\E139";
}

.cc-ZEIT-alt:before {
  content: "\E13A";
}

.cc-ZEIT:before {
  content: "\E13B";
}