<div id="sidebar--start" class="ui top attached segment">
        <h4 class="ui header"><i class="cubes icon"></i>{{t 'sidebar.orders.title'}}</h4>
      </div>
      <div class="ui center aligned bottom attached segment">
        <div class="ui left fluid input">
          {{input type="text" placeholder=(t 'sidebar.orders.order') value=order}}
        </div>
        <br>
        <div class="ui left fluid input">
          {{input type="text" placeholder=(t 'sidebar.orders.confirm') value=orderConfirm}}
        </div>
        <br>
        <div>
          <a href="https://indacoin.com/notify?confirm_code={{orderConfirm}}&request_id={{order}}"><div class="ui teal fluid basic {{orderStatus}} button">{{t 'sidebar.orders.check'}}</div></a>
        </div>

        <div class="ui horizontal divider">{{t 'sidebar.orders.or'}} </div>
        <a href="https://indacoin.com/change/"><div class="ui orange fluid basic button">{{t 'sidebar.orders.new'}}</div></a>
      </div>

      <div class="ui top attached segment">
        <h4 class="ui header">
          <i class="facebook icon"></i>
          <div class="content">Facebook Reviews</div>
        </h4>
      </div>
      {{sidebar/facebook-reviews}}

        <div class="ui top attached segment">
          <h4 class="ui header">
            <i class="users icon"></i>
            <div class="content">{{t 'sidebar.social.title'}}</div>
          </h4>
        </div>
        <div class="ui bottom attached segment">
          <div class="ui list">
            <div class="item">
              <a href="https://www.facebook.com/indacoinlimited/" class="ui facebook fluid button"><i class="facebook icon"></i> Facebook </a>
            </div>
            <div class="item">
              <a href="https://twitter.com/indacoin" class="ui twitter fluid button"><i class="twitter icon"></i> Twitter </a>
            </div>
          </div>
        </div>

      <div id="sidebarSticky" class="ui sticky">
        <div class="ui top attached segment">
          <h4 class="ui header"><i class="credit card alternative icon"></i>{{t 'sidebar.accept.title'}}</h4>
        </div>
        <div class="ui center aligned bottom attached segment">
          <div class="ui horizontal list">
            <div class="item"><i class="visa huge icon"></i></div>
            <div class="item"><i class="mastercard huge icon"></i></div>
          </div>
        </div>
      </div>
