<div class="ui bottom attached segment">
  <div class="ui grid">
    <div class="ui row">
      <div class="ui twelve wide column">
        <div id="fb-name" class="ui header">
          Indacoin
          <div class="sub header">
            Right now
          </div>
        </div>
      </div>
      <div class="ui four wide column">
        <img height='37px' id="fb-img" src="https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-1/p200x200/18033560_1856555191260195_2903784171229680178_n.jpg?oh=5c3565384587c3057af948adb82509f2&oe=59B5E1A2">
      </div>
    </div>
  </div>
  <div id="fb-msg" class="ui text-container">
    You can read more reviews on our facebook page! Click 'Read on facebook' below.
  </div>
  <br>
  <div id="fb-msg" class="ui text-container">
    <div class="ui grid">
      <div class="ui row">
        <div class="ui sixteen wide center aligned column">
          <button id="fb-prev" class="ui basic icon left floated button"><i class="ui chevron left icon"></i></button>
          <a id="fb-link" href="https://www.facebook.com/indacoinlimited/reviews/" class="ui basic button">Read more</a>
          <button id="fb-next" class="ui basic icon right floated button"><i class="ui chevron right icon"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
