<div class="ui top attached segment">
  <h4 class="ui header"><i class="info circle icon"></i>{{t 'sidebar.youtube.title'}}</h4>
</div>
<div id="youtube--block" class="ui center aligned bottom attached segment">
  <div class="ui basic segment">
    <div id="youtube" class="ui embed" data-url="https://www.youtube.com/embed/n1sXko6dIX8" data-placeholder="/ember/images/indacoin-logo--b.svg"></div>
    <button id="youtube--play" class="ui labeled icon basic tiny button"><i class="ui play icon"></i>{{t 'sidebar.youtube.play'}}</button>
  </div>
</div>

<div id="youtube-modal" class="ui basic modal">
  <div class="content">

  </div>
</div>
