<div id="stop-sidebar" class="ui center aligned grid">
    <div class="ui row">
        <div class="center aligned sixteen wide column" style="height: 35px;">
            <div class="header1">
                {{t 'stop-sidebar.title'}}
            </div>
        </div>

        {{!-- <div class="center aligned sixteen wide column">
            <div class="text1">
                We apologize for the inconvenience. For urgent matters, please write us to <span class="blue">support@indacoin.com</span>
            </div>
        </div> --}}

        <div class="center aligned sixteen wide column">
            <div class="text1">
                {{t 'stop-sidebar.text'}}
            </div>
        </div>

        <div class="text2" class="ui bottom attached label">{{t 'stop-sidebar.time'}}</div>
    </div>
</div>