<div id="login-segment" class="ui center aligned grid">

  <div class="ui row"></div>

    {{#unless isForgot}}
    <div class="ui center aligned ten wide column" class="header1">
      <form id="loginForm" class="ui form">
        <div class="ui error message"></div>
        <div class="ui center aligned grid">
          <div class="ui grid center aligned row">
            <div class="ui nine wide column">
              <input class="email" type="text" name="email" placeholder={{t 'form.email'}} tabindex="1">
            </div>
            <div class="ui nine wide column">
              <input class="password" type="password" name="loginPassword" placeholder={{t 'form.password'}} tabindex="2">
            </div>
            <div class="ui center aligned row">
              <div class="ui six wide column">
                  <div class="ui left fluid input">
                      {{input name="captcha" type="text" placeholder=(t 'form.login.captcha') tabindex="3"}}
                  </div>
              </div>
              <div {{action 'reCaptcha'}} class="captcha-img">
                <img src="/Tools/CaptchaHandler.ashx?type=new" id="loginCaptcha_img" width="125" height="30">
                {{!--<img src="https://indacoin.io/Tools/CaptchaHandler.ashx?type=new" id="loginCaptcha_img" width="125" height="30">--}}
              </div>
            </div>
            <div class="ui grid center aligned row">
              <div class="ui sixteen wide column">
                <span class="switch" tabindex="5">
                  <a {{action 'toForgot'}} class="login-forgot">
                    {{t 'form.login.forgot'}}
                  </a>
                </span>
                <div {{action 'login'}} class="sign-in" class="ui eight wide positive button" tabindex="4">
                  {{t 'form.login.signIn'}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    {{else}}
    <div class="ui center aligned ten wide column" class="header1">

      <form id="forgotForm" class="ui form">
        <div class="ui error message"></div>

        <div class="ui center aligned grid">
          <div class="ui grid center aligned row">
            <div class="ui nine wide column">
              <input class="email" type="text" name="email" placeholder={{t 'form.email'}} tabindex="0">
            </div>

            <div class="ui center aligned row">
              <div class="ui six wide column">
                <div class="ui left fluid input">
                  {{input name="captcha" type="text" placeholder=(t 'form.login.captcha') tabindex="1"}}
                </div>
              </div>
              <div {{action 'forgotReCaptcha'}} class="captcha-img">
                <img src="/Tools/CaptchaHandler.ashx?type=new" id="forgotCaptcha_img" width="125" height="30">
              </div>
            </div>

            <div class="ui row">
              <div class="ui five wide computer six wide tablet sixteen wide mobile centered center aligned column">
                <button {{action 'reset'}} class="ui sign-in centered fluid button" tabindex="2">
                  {{t 'form.login.reset'}}
                </button>
              </div>
            </div>

          </div>
        </div>

      </form>
    </div>
    {{/unless}}

</div>