
{{#if showSmartBanner}}
  {{#unless FASTBOOT}}
    {{smart-banner}}
  {{/unless}}
{{/if}}

{{#if showLayout}}
  {{misc/reveal-plugin}}
  {{#if showHeader}}
    {{fullpage-header value=model.value model=model}}
  {{/if}}

  <div id="">

    {{!----}}

  </div>

  <main id="main" class="">

    {{!-- Informer right sidebar about expired currency --}}
    {{!--<div class="row">
      <div class=" ui basic segment container">
        {{#if stopSidebar}}
          {{sidebar/stop-sidebar}}
        {{/if}}
      </div>
    </div>--}}

    <div class="row">
      <div class="ui sixteen wide computer sixteen wide tablet sixteen wide mobile column">

            {{outlet}}

      </div>

      <div class="ui four wide computer sixteen wide tablet sixteen wide mobile column">
        <div id="sidebar" class="ui row">

          {{!--
          {{sidebar/stop-sidebar}}--}}

        </div>
      </div>

    </div>
  </main>

  <div id="footer-segment-container">
    <div class="buy-page ui basic segment container">
      {{change/footer-segment lang=langRoute}}
    </div>
  </div>

{{else}}
  {{outlet}}
{{/if}}

{{#if cookieAgree}}

<div class="cookie-message">

    <div class="ui grid">
      <div class="ui centered row">

        <div class="message-section" class="ui fourteen wide computer ten wide tablet ten wide mobile middle aligned column">
          <div>{{cookieMessage}}</div>
        </div>
        
        <div class="button-section" class="ui two wide computer four wide tablet six wide mobile middle aligned column">
            <button {{action 'confirmCookiePolicy'}} class="ui fluid button">
              {{t 'modals.cookie-modal.accept-button'}}
            </button>
        </div>

      </div>
    </div>
  </div>

{{/if}}