{{!--{{title pageTitle}}--}}
{{misc/reveal-plugin}}

<div class="fullpage-alt">
  <div id="navbar-alt" class="ui row">
    <div id="top-header" class="ui container">
        <div class="ui center aligned column">
          {{application/navbar-header}}
        </div>
    </div>
  </div>

    {{!-- Informer right sidebar about expired currency --}}
    {{#if model.cashinfo.changeDirection}}
    <div class="ui basic segment container">
        {{sidebar/stop-sidebar}}
    </div>
    {{/if}}
           
    <div class="ui row">
        {{#unless ENV.isfastboot}}
        {{#unless errorMobGetCurrencies}}
        <div id="steps-content" class="ui centered column container ">
          <div id="payment-steps" class="ui five top attached steps">
          <div {{action 'setStep' 1}} class="active step">
            <i class="shop icon"></i>
            <div class="content">
              <div class="title">{{t 'change.step1.title'}}</div>
            </div>
          </div>
          <div {{action 'setStep' 2}} class="disabled step">
            <i class="user icon"></i>
            <div class="content">
              <div class="title">{{t 'change.step3.title'}}</div>
            </div>
          </div>
          <div {{action 'setStep' 3}} class="disabled step">      
            <i class="payment icon"></i>
            <div class="content">
              <div class="title">{{t 'change.step2.title'}}</div>
            </div>
          </div>
          <div {{action 'setStep' 4}} class="disabled step">
            <i class="protect icon"></i>
            <div class="content">
              <div class="title">{{t 'change.step4.title'}}</div>
            </div>
          </div>
          <div {{action 'setStep' 5}} class="disabled step">
            <i class="wait icon"></i>
            <div class="content">
              <div class="title">{{t 'change.step5.title'}}</div>
            </div>
          </div>
        </div>

          <div id="partnerBackLink" class="ui grid" style="display: none;">
              <div class="ui center aligned row">
                  <div class="ui center aligned column">
                      <a>Go back to partner:</a>
                  </div>
              </div>
          </div>

          <div id="buying-block" class="ui bottom attached segment">
          <div class="ui grid">
          <div class="ui stackable row">
          <div id='change-info' class="five wide computer sixteen wide tablet sixteen wide mobile centered column">
            <div class="ui segment">
              <h1 class="ui large header">
                {{!--<p id="buyCryptoTitle">{{buyingLeftTitle}} {{cryptocurrencyName}}</p>
                <p id="buyCryptoSubTitle">{{buyingLeftSubTitle}}</p>--}}
                {{cryptoHeader}}
              </h1>

            </div>
          </div>
          <div id="change-content" class="ui ten wide computer sixteen wide tablet sixteen wide mobile centered column segment">
          {{#if step1}}

          <form  id="form-step1" class="ui form">
            <div class="ui dividing header">{{t 'change.step1.header'}}
              <img id="payment-card-image-1" class="ui image card-image" src="/ember/images/cards.svg">
            </div>

            {{index/exchange-form-nosubmit currency=currency take=take model=model}}

            <div class="field">
              <input id="exchangeFormEmail" type="text" name="email" placeholder={{t 'form.email'}}>
            </div>

            <div class="field">
              <input id="exchangeOutAddress" type="text" name="outAddress" placeholder={{t 'form.cryptoAdress' name=currency}}>
            </div>

            {{#if isRipple}}
              {{index/ripple-tag}}
            {{/if}}

          <div class="checkbox-fields">
            <div class="field" id="createWalletField-box">
              <div class="ui checkbox" id="createWalletField">
                <input type="checkbox" id="createWalletCheckBox" name="createWallet" {{action "toggleCreateWallet" on="change"}}>
                <label>{{t 'change.wallet'}}</label>
              </div>
            </div>

            <div class="field" id="acceptAgreement-box">
              <div class="ui checkbox" id="acceptAgreementField">
                <input type="checkbox" id="acceptAgreementCheckBox" name="acceptAgreement" {{action "toggleAcceptAgreement" on="change"}}>
                <label>{{termsOfUse}}</label>
              </div>
            </div>

            <div class="fields" id="couponeField" style="display: none;">
              <div class="five wide field">
                <div class="ui checkbox" id="couponeCheckField">
                  <input type="checkbox" id="couponeCheckBox" name="coupone" {{action "toggleCheckBox" on="change"}}>
                  <label>{{t 'change.coupone'}}</label>
                </div>
              </div>
              <div class="seven wide field">
                  <input type="text" id="couponeCode" name="couponeCode" placeholder={{t 'form.couponeCode'}}>
              </div>
            </div>
          </div>

          </form>

          {{change/payment-step1 formData=formData step=step giveCur=giveCur give=give}}
          {{/if}}
          {{#if step3}}
          <div class="ui grid">
            <div class="ui row">
              <div class="ui sixteen wide column">
                <div class="ui dividing header" id="form-step2-header">{{t 'change.step2.header'}}
                  <img id="payment-card-image-2" class="ui image card-image" src="/ember/images/cards.svg">
                </div>
              </div>
            </div>
            <div style="margin-top: 0" class="ui stackable grid">

              <div id="card-form-part-1" class="ui eight wide column">
                <form id="form-step3" class="ui card-form form">
                  <div class="field">
                    <input type="tel" name="cardNumber" placeholder={{t 'form.cardNumber'}}>
                  </div>
                  <div class="fields">
                    <div class="four wide field">
                      <input type="tel" name="cardExpMM" placeholder={{t 'form.month'}}>
                    </div>
                    <div class="four wide field">
                      <input type="tel" name="cardExpYY" placeholder={{t 'form.year'}}>
                    </div>
                    <div class="eight wide field">
                      <input type="tel" name="cardCVV" placeholder="CVV">
                    </div>

                  </div>
                  <div class="field">
                    <input type="text" name="cardName" placeholder={{t 'form.name'}}>
                  </div>
                </form>
              </div>
              
              <div id="card-form-part-2" class="ui eight wide column">
                <form id="form-step2-plus" class="ui card-form form">
                  <div class="ui dividing header"> CVV
                  </div>

                  <div class="cvv-text">
                    <img id="cvv-icon" src="/ember/images/cvv.svg"/>
                    {{t 'change.step2.card.text'}}
                  </div>

                </form>
              </div>

              <div id="billing-descriptor" class="ui sixteen wide column">The billing descriptor you will see on your card statement will be indacoin.com +44 207 048 25 82.<br>Indacoin Limited, Suite 4b, 43 Berkeley Square, Mayfair, London, Westminster, United Kingdom, W1J 5FJ</div>

            </div>
          </div>

          {{change/payment-step3 formData=formData step=step}}
          {{/if}}

          {{#if step2}}
          <form id="form-step2" class="ui loading form">
            <div class="ui dividing header">{{t 'change.step3.header'}}
              <img id="payment-card-image-3" class="ui image card-image" src="/ember/images/cards.svg">
            </div>

            <div class="field">
              <input type="text" id="fullName" name="fullName" placeholder={{t 'form.fullName'}}>
            </div>

            <div class="field">
              <input type="tel" name="phone" placeholder={{t 'form.mobilePhone'}}>
            </div>

            <div class="field">
              <input type="text" name="birthday" placeholder={{t 'form.birth'}}>
            </div>
          </form>
          <br />
          {{change/payment-step2 formData=formData step=step lang=lang}}
          {{/if}}

          {{#if step3-2}}
          <form id="form-step3-2" class="ui loading form">
            <div class="ui dividing header">{{t 'change.step3.header'}}
            </div>
            <div class="ui error message">

            </div>

            <div class="field">
              <input type="text" name="birthday" placeholder="Your date of birth in format MM.DD.YYYY">
            </div>
          </form>
          {{change/payment-step3-2 formData=formData step=step lang=lang}}
          {{/if}}

          {{#if step4}}
          <div id="phone-step">
            <form id="form-step4" class="ui form">
              <div class="ui dividing header">{{t 'change.step4.header'}}
              </div>
              <div class="ui error message">
              </div>
              <br />
              <br />
              <br />
              <div class="fields">
                <div class="twelve wide field">
                  <input type="tel" name="phoneCode" placeholder="Phone Code">
                </div>
                <div class="four wide field">
                  {{change/payment-step4 formData=formData step=step}}
                </div>
              </div>
              <br />
            </form>
          </div>

          <div id="cardNumber-step">
            <form id="form-step4-2" class="ui form">
              <div class="ui dividing header">Enter your code from payment page
              </div>
              <div class="ui error message">
              </div>
              <br />
              <br />
              <br />
              <div class="fields">
                <div class="twelve wide field">
                  <input type="tel" name="cardVerificationCode" placeholder="Verifitacion Code">
                </div>
                <div class="four wide field">
                  {{change/payment-step4-2 formData=formData step=step}}
                </div>
              </div>
              <br />
            </form>
          </div>

          <div id="video-step">
            <div class="ui grid">
              <div class="ui row">
                <div class="ui sixteen wide column">
                  <div class="ui dividing header">{{t 'cange.step4.recordVideo'}}
                  </div>
                  <div {{action 'showHelp'}} id="video-help">
                    <i class="ui big help icon"></i>
                  </div>
                </div>
              </div>
              <div class="ui row">
                <div class="ui sixteen wide column">
                  <div id="video-help-message" class="ui message">
                    <div class="header">
                      What should I do exactly?
                    </div>
                    <ul class="list">
                      <li>Press Record button down below</li>
                      <li>Show your passport and your face</li>
                      <li>Press stop when you're done.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div style="display: none" class="ui indicating teal progress">
              <div class="bar"></div>
            </div>

              <div id="verification">
                <div id="vidverif">
                  <i class="play icon"></i>
                </div>
              </div>
              <br />
              <div class="ui grid center aligned row">
                <div class="ui six wide column">
                  <div id="btn-start-recording" class="ui fluid teal button">
                    Record
                  </div>
                </div>
              </div>
            </div>
            <br />
            <script src="https://webrtcexperiment-webrtc.netdna-ssl.com/RecordRTC.js"></script>
            <script src="https://webrtcexperiment-webrtc.netdna-ssl.com/gumadapter.js"></script>
            <script src="/ember/scripts/video.js"></script>
          {{/if}}

          {{#if step5}}


          <div id="form-step5" class="forms-steps">
            <div class="ui grid container">
              <div class="ui row">
                <div class="ui sixteen wide column">
                  <table class="orders_table ui very basic table">
                    <tbody>

                      <tr>
                        <td class="order">{{t 'exchangeOrder.order'}} #<span class="orderId"></span></td>
                        <td class="status" width="60%">{{t 'exchangerStatuses.MoneySend'}}</td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'exchangeOrder.payAmount.title'}}</td>
                        <td><span class="payAmount"></span>&nbsp;<span class="cashIn"></span></td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'change.withdrawalAmount'}}</td>
                        <td><span class="payOutAmount"></span>&nbsp;<span class="payOutCurrencyId"></span></td>
                      </tr>

                      {{#if internalAccount}}

                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td>
                            {{t 'exchangeOrder.internalAccount-1'}}
                            {{#link-to 'lang.login' ENV.i18n.lang tagName="a" class="blue"}}
                              {{t 'exchangeOrder.internalAccount-link'}}
                            {{/link-to}}
                            {{t 'exchangeOrder.internalAccount-2'}}
                          </td>
                        </tr>

                      {{else}}
                      
                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td><span class="cryptoAdress" style="color: #10ADE4;"></span></td>
                        </tr>

                      {{/if}}
                      
                      <tr>
                        <td></td>
                        <td class="orderDate"></td>
                      </tr>
                      
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

          </div>

          {{!--<div id="form-step5">
          <div class="ui grid container">
            <div class="ui row">
              <div class="ui sixteen wide column">
                <h2 class="ui header">
                  {{t 'exchangeOrder.order'}} #<span class="orderId"></span>
                  <div class="sub header">
                    <span class="orderDate"></span>
                  </div>
                </h2>
                <div class="ui clearing divider"></div>

                <table class="orders_table ui single line table">
                  <tbody>
                    <tr>
                      <td>{{t 'exchangeOrder.status.title'}}</td>
                      <td width="60%"><span class="status"></span></td>
                    </tr>
                    <tr>
                      <td>{{t 'exchangeOrder.payAmount.title'}}</td>
                      <td><span class="payAmount"></span>&nbsp;<span class="cashIn"></span></td>
                    </tr>
                    <tr>
                      <td>{{t 'change.withdrawalAmount'}}</td>
                      <td><span class="payOutAmount"></span>&nbsp;<span class="payOutCurrencyId"></span></td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
          </div>--}}

          {{#if videoVerificationPassed}}
            <div class="ui grid row">
              <div class="eight wide column">
                <button {{action 'backToVideo'}} class="ui left labeled icon fluid button">
                  <i class="left chevron icon"></i>
                    {{t 'form.verification'}}
                </button>
              </div>
              <div class="eight wide column">
              </div>
            </div>
          {{else}}
            <div class="ui center aligned grid row">
              <div class="six wide column steps-left-button-container">
                <button {{action 'backToVideo'}} class="ui fluid button">
                    {{t 'form.verification'}}
                </button>
              </div>
              {{!--<div class="six wide column steps-right-button-container">--}}
              <div class="six wide column steps-right-button-container">
                {{#if haveTransactionId}}
                  <button id="nextStepBtn" {{action 'outerStep'}} class="ui fluid button">
                      {{t 'form.status'}}
                  </button>
                {{/if}}
              </div>
            </div>
          {{/if}}

          {{change/payment-step5 formData=formData step=step lang=lang}}
          {{/if}}

          {{#if step6}}
          <script src="/assets/exclude/scripts/RecordRTC.js"></script>

          <div id="form-step6" class="forms-steps">
            <div class="ui grid container">
              <div class="ui row">
                <div class="ui sixteen wide column">
                  <table class="orders_table ui very basic table">
                    <tbody>

                      <tr>
                        <td class="order">{{t 'exchangeOrder.order'}} #<span class="orderId"></span></td>
                        <td class="status" width="60%">{{t 'exchangerStatuses.MoneySend'}}</td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'exchangeOrder.payAmount.title'}}</td>
                        <td><span class="payAmount"></span>&nbsp;<span class="cashIn"></span></td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'change.withdrawalAmount'}}</td>
                        <td><span class="payOutAmount"></span>&nbsp;<span class="payOutCurrencyId"></span></td>
                      </tr>

                      {{#if internalAccount}}

                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td>
                            {{t 'exchangeOrder.internalAccount-1'}}
                            {{#link-to 'lang.login' ENV.i18n.lang tagName="a" class="blue"}}
                              {{t 'exchangeOrder.internalAccount-link'}}
                            {{/link-to}}
                            {{t 'exchangeOrder.internalAccount-2'}}
                          </td>
                        </tr>

                      {{else}}
                      
                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td><span class="cryptoAdress" style="color: #10ADE4;"></span></td>
                        </tr>

                      {{/if}}

                      <tr>
                        <td></td>
                        <td class="orderDate"></td>
                      </tr>
                      
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

              <div class="ui center aligned stackable grid row">
                <div class="six wide computer eight wide tablet column" id="step6-left-button" style="display: none;">
                  <button {{action 'videoVerification'}} class="ui left fluid button">
                      {{t 'change.passKYCVerification'}}
                  </button>
                </div>

                

                {{#if isVideoRecord}}
                {{#unless pressVideoRecord}}
                  <div class="six wide computer eight wide tablet column" id="step6-right-button">
                    <button {{action 'turnVideoRecord'}} class="ui right fluid button">
                      {{t 'recordVideo.button'}}
                    </button>
                  </div>
                {{/unless}}
                {{/if}}

                
              </div>

              <div id="soccerLegends" class="ui center aligned stackable grid row" class="display_none">
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="soccerLegends" {{action "toggleSoccerLegends" on="change"}}>
                    <label>{{t 'change.soccer-legends'}}</label>
                  </div>
                </div>
              </div>

            {{#if isVideoRecord}}
              {{#if pressVideoRecord}}
                {{#if isMobile.any}}

                <div id="videoForMobile" style="margin: 2em 0 0 4em;">

                    <div>
                        <label class="uploadbutton">
                            <div class='input'>Not recorded</div>
                              <input type="file" id="verification_video_upload" name="video" accept="video/*" capture onchange="this.previousSibling.previousSibling.innerHTML = this.value"/>
                        </label>
                    </div>

                    <div>
                        <div class="ui center aligned stackable grid row">
                          <input {{action 'uploadVideo'}} type="submit" value="Upload" id ="uploadVideoButton">
                        </div>
                    </div>


                </div>




                {{else}}
                  {{!--I'm on a computer!--}}
                  <div id="videoForDesktop">
                      <div class="uploadVideo" class="ui center aligned grid">

                          <video id="video" style="margin-top: 2em;"></video>
                          <div class="ui center aligned stackable grid row">
                              <div class="five wide computer five wide tablet column">
                                  <button {{action 'startRecording'}} id="startRecordingButton" class="ui fluid button">
                                    {{t 'recordVideo.record'}}
                                  </button>
                              </div>
                              <div class="five wide computer five wide tablet column">
                                  <button {{action 'stopRecording'}} disabled="" id="stopRecordingButton" class="ui fluid button">
                                    {{t 'recordVideo.stop'}}
                                  </button>
                              </div>
                              <div class="five wide computer five wide tablet column">
                                  <button {{action 'sendRecording'}} disabled="" id="sendRecordingButton" class="ui fluid button">
                                    {{t 'recordVideo.send'}}
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
                {{/if}}
              {{else}}

              {{/if}}
            {{/if}}

          </div>

          {{change/payment-step6 formData=formData step=step lang=lang}}
          {{/if}}

          {{#if step7}}
            <div>
              <form id="form-step7" class="ui form">
                <h2 class="ui header">
                  {{t 'exchangeOrder.order'}} #<span class="orderId"></span>
                  <div class="sub header">
                    <span class="orderDate"></span>
                  </div>
                </h2>
                <div class="ui clearing divider"></div>

                <table class="orders_table ui single line table">
                  <tbody>
                    <tr>
                      <td>{{t 'exchangeOrder.status.title'}}</td>
                      <td width="60%"><span class="status"></span></td>
                    </tr>
                    <tr>
                      <td>{{t 'exchangeOrder.payAmount.title'}}</td>
                      <td><span class="payAmount"></span>&nbsp;<span class="cashIn"></span></td>
                    </tr>
                    <tr>
                      <td>{{t 'change.withdrawalAmount'}}</td>
                      <td><span class="payOutAmount"></span>&nbsp;<span class="payOutCurrencyId"></span></td>
                    </tr>

                      {{#if internalAccount}}

                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td>
                            {{t 'exchangeOrder.internalAccount-1'}}
                            {{#link-to 'lang.login' ENV.i18n.lang tagName="a" class="blue"}}
                              {{t 'exchangeOrder.internalAccount-link'}}
                            {{/link-to}}
                            {{t 'exchangeOrder.internalAccount-2'}}
                          </td>
                        </tr>

                      {{else}}
                      
                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td><span class="cryptoAdress" style="color: #10ADE4;"></span></td>
                        </tr>

                      {{/if}}

                  </tbody>
                </table>

                <br />
                <div class="fields">
                  <div class="twelve wide field">
                    <input id="authCodeForm" type="tel" name="phoneCode" placeholder="{{t 'exchangeOrder.sms-code'}}">
                  </div>
                  <div class="four wide field">
                    <button {{action 'nextStep7'}} class="ui icon fluid button">
                      {{t 'change.nextButton'}}
                    </button>
                  </div>
                </div>


                <div class="ui center aligned grid row" class="KYCUrl-block">
                    <div class="ui six wide computer six wide tablet seven wide mobile centered center aligned column">

                      <button id='resendPhoneCode' style="display: none;" {{action 'resendButton'}} class="ui icon fluid button">
                        {{t 'exchangeOrder.resend-phone-code'}}
                      </button>

                    </div>
                </div>

                <br />
              </form>
            </div>
            {{change/payment-step7 formData=formData step=step}}
          {{/if}}

          {{#if step8}}

          <div id="form-step8" class="forms-steps">
            <div class="ui grid container">
              <div class="ui row">
                <div class="ui sixteen wide column">
                  <table class="orders_table ui very basic table">
                    <tbody>

                      <tr>
                        <td class="order">{{t 'exchangeOrder.order'}} #<span class="orderId"></span></td>
                        <td class="status" width="60%">{{t 'exchangerStatuses.MoneySend'}}</td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'exchangeOrder.payAmount.title'}}</td>
                        <td><span class="payAmount"></span>&nbsp;<span class="cashIn"></span></td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'change.withdrawalAmount'}}</td>
                        <td><span class="payOutAmount"></span>&nbsp;<span class="payOutCurrencyId"></span></td>
                      </tr>

                      {{#if internalAccount}}

                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td>
                            {{t 'exchangeOrder.internalAccount-1'}}
                            {{#link-to 'lang.login' ENV.i18n.lang tagName="a" class="blue"}}
                              {{t 'exchangeOrder.internalAccount-link'}}
                            {{/link-to}}
                            {{t 'exchangeOrder.internalAccount-2'}}
                          </td>
                        </tr>

                      {{else}}
                      
                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td><span class="cryptoAdress" style="color: #10ADE4;"></span></td>
                        </tr>

                      {{/if}}

                      <tr>
                        <td></td>
                        <td class="orderDate"></td>
                      </tr>
                      
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

          </div>

          {{change/payment-step8 formData=formData step=step lang=lang}}
          {{/if}}

          {{#if step9}}

          <div id="form-step9" class="forms-steps">
            <div class="ui grid container">
              <div class="ui row">
                <div class="ui sixteen wide column">
                  <table class="orders_table ui very basic table">
                    <tbody>

                      <tr>
                        <td class="order">{{t 'exchangeOrder.order'}} #<span class="orderId"></span></td>
                        <td class="status" width="60%">{{t 'exchangerStatuses.MoneySend'}}</td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'exchangeOrder.payAmount.title'}}</td>
                        <td><span class="payAmount"></span>&nbsp;<span class="cashIn"></span></td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'change.withdrawalAmount'}}</td>
                        <td><span class="payOutAmount"></span>&nbsp;<span class="payOutCurrencyId"></span></td>
                      </tr>

                      {{#if internalAccount}}

                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td>
                            {{t 'exchangeOrder.internalAccount-1'}}
                            {{#link-to 'lang.login' ENV.i18n.lang tagName="a" class="blue"}}
                              {{t 'exchangeOrder.internalAccount-link'}}
                            {{/link-to}}
                            {{t 'exchangeOrder.internalAccount-2'}}
                          </td>
                        </tr>

                      {{else}}
                      
                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td><span class="cryptoAdress" style="color: #10ADE4;"></span></td>
                        </tr>

                      {{/if}}

                      <tr>
                        <td></td>
                        <td class="orderDate"></td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>

                 {{#if qrcode}}

                    <div class="ui sixteen wide column">
                      <img class="ui centered image qrcode" alt="QR-code" src="https://indacoin.com/tools/ImageProxy.ashx?hash=jQGi7&imgurl=http://chart.apis.google.com/chart?cht=qr&chs=150x150&chl=13heUiw42UycaF5aoRoMVKuedxipHybQ6w">
                    </div>

                  {{/if}}

              </div>
            </div>

            <div id="cssload-contain">
              <div class="cssload-wrap" id="cssload-wrap1">
                <div class="cssload-ball" id="cssload-ball1"></div>
              </div>
              <div class="cssload-wrap" id="cssload-wrap2">
                <div class="cssload-ball" id="cssload-ball2"></div>
              </div>
              <div class="cssload-wrap" id="cssload-wrap3">
                <div class="cssload-ball" id="cssload-ball3"></div>
              </div>
              <div class="cssload-wrap" id="cssload-wrap4">
                <div class="cssload-ball" id="cssload-ball4"></div>
              </div>
            </div>

          </div>        

          {{change/payment-step9 formData=formData step=step lang=lang}}
          {{/if}}

          {{#if step10}}

          <div id="form-step10" class="forms-steps">
            <div class="ui grid container">
              <div class="ui row">
                <div class="ui sixteen wide column">
                  <table class="orders_table ui very basic table">
                    <tbody>

                      <tr>
                        <td class="order">{{t 'exchangeOrder.order'}} #<span class="orderId"></span></td>
                        <td class="status" width="60%">{{t 'exchangerStatuses.MoneySend'}}</td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'exchangeOrder.payAmount.title'}}</td>
                        <td><span class="payAmount"></span>&nbsp;<span class="cashIn"></span></td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'change.withdrawalAmount'}}</td>
                        <td><span class="payOutAmount"></span>&nbsp;<span class="payOutCurrencyId"></span></td>
                      </tr>

                      {{#if internalAccount}}

                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td>
                            {{t 'exchangeOrder.internalAccount-1'}}
                            {{#link-to 'lang.login' ENV.i18n.lang tagName="a" class="blue"}}
                              {{t 'exchangeOrder.internalAccount-link'}}
                            {{/link-to}}
                            {{t 'exchangeOrder.internalAccount-2'}}
                          </td>
                        </tr>

                      {{else}}
                      
                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td><span class="cryptoAdress" style="color: #10ADE4;"></span></td>
                        </tr>

                      {{/if}}

                      <tr>
                        <td></td>
                        <td class="orderDate"></td>
                      </tr>
                      
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>

          {{change/payment-step10 formData=formData step=step lang=lang}}
          {{/if}}

          {{#if step11}}
          {{!----}}
          <div id="form-step11" class="forms-steps">
            <div class="ui grid container">
              <div class="ui row">
                <div class="ui sixteen wide column">
                  <table class="orders_table ui very basic table">
                    <tbody>

                      <tr>
                        <td class="order">{{t 'exchangeOrder.order'}} #<span class="orderId"></span></td>
                        <td class="status" width="60%">{{t 'exchangerStatuses.MoneySend'}}</td>
                      </tr>

                      <tr class="frame">
                        <td class="bor">{{t 'exchangeOrder.payAmount.title'}}</td>
                        <td class="bor"><span class="payAmount"></span>&nbsp;<span class="cashIn"></span></td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'change.withdrawalAmount'}}</td>
                        <td><span class="payOutAmount"></span>&nbsp;<span class="payOutCurrencyId"></span></td>
                      </tr>
                      
                      {{#if internalAccount}}

                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td>
                            {{t 'exchangeOrder.internalAccount-1'}}
                            {{#link-to 'lang.login' ENV.i18n.lang tagName="a" class="blue"}}
                              {{t 'exchangeOrder.internalAccount-link'}}
                            {{/link-to}}
                            {{t 'exchangeOrder.internalAccount-2'}}
                          </td>
                        </tr>

                      {{else}}
                      
                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td><span class="cryptoAdress" style="color: #10ADE4;"></span></td>
                        </tr>

                      {{/if}}

                      <tr>
                        <td></td>
                        <td class="orderDate"></td>
                      </tr>
                      
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
          
          {{!--
          <div id="form-step11">
            <div class="ui grid container">
              <div class="ui row">
                <div class="ui sixteen wide column">
                  <h2 class="ui header">
                    {{t 'exchangeOrder.order'}} #<span class="orderId"></span>
                    <div class="sub header">
                      <span class="orderDate"></span>
                    </div>
                  </h2>

                  <div class="ui clearing divider"></div>

                  <table class="orders_table ui single line table">
                    <tbody>
                      <tr>
                        <td>{{t 'exchangeOrder.status.title'}}</td>
                        <td>{{t 'exchangerStatuses.MoneySend'}}</td>
                      </tr>
                      <tr>
                        <td>{{t 'exchangeOrder.payAmount.title'}}</td>
                        <td><span class="payAmount"></span>&nbsp;<span class="cashIn"></span></td>
                      </tr>
                      <tr>
                        <td>{{t 'change.withdrawalAmount'}}</td>
                        <td><span class="payOutAmount"></span>&nbsp;<span class="payOutCurrencyId"></span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
          --}}

          {{change/payment-step11 formData=formData step=step lang=lang}}
          {{/if}}

          {{#if step12}}

          <div id="form-step12" class="forms-steps">
            <div class="ui grid container">
              <div class="ui row">
                <div class="ui sixteen wide column">
                  <table class="orders_table ui very basic table">
                    <tbody>

                      <tr>
                        <td class="order">{{t 'exchangeOrder.order'}} #<span class="orderId"></span></td>
                        <td class="status" width="60%">{{t 'exchangerStatuses.MoneySend'}}</td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'exchangeOrder.payAmount.title'}}</td>
                        <td><span class="payAmount"></span>&nbsp;<span class="cashIn"></span></td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'change.withdrawalAmount'}}</td>
                        <td><span class="payOutAmount"></span>&nbsp;<span class="payOutCurrencyId"></span></td>
                      </tr>

                      {{#if internalAccount}}

                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td>
                            {{t 'exchangeOrder.internalAccount-1'}}
                            {{#link-to 'lang.login' ENV.i18n.lang tagName="a" class="blue"}}
                              {{t 'exchangeOrder.internalAccount-link'}}
                            {{/link-to}}
                            {{t 'exchangeOrder.internalAccount-2'}}
                          </td>
                        </tr>

                      {{else}}
                      
                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td><span class="cryptoAdress" style="color: #10ADE4;"></span></td>
                        </tr>

                      {{/if}}

                      <tr>
                        <td></td>
                        <td class="orderDate"></td>
                      </tr>
                      
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>

          {{change/payment-step12 formData=formData step=step lang=lang}}
          {{/if}}

          {{#if step13}}

          <div id="form-step13" class="forms-steps">
            <div class="ui grid container">
              <div class="ui row">
                <div class="ui sixteen wide column">
                  <table class="orders_table ui very basic table">
                    <tbody>

                      <tr>
                        <td class="order">{{t 'exchangeOrder.order'}} #<span class="orderId"></span></td>
                        <td width="60%" class="status">{{t 'exchangerStatuses.MoneySend'}}</td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'exchangeOrder.payAmount.title'}}</td>
                        <td><span class="payAmount"></span>&nbsp;<span class="cashIn"></span></td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'change.withdrawalAmount'}}</td>
                        <td><span class="payOutAmount"></span>&nbsp;<span class="payOutCurrencyId"></span></td>
                      </tr>

                      {{#if internalAccount}}

                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td>
                            {{t 'exchangeOrder.internalAccount-1'}}
                            {{#link-to 'lang.login' ENV.i18n.lang tagName="a" class="blue"}}
                              {{t 'exchangeOrder.internalAccount-link'}}
                            {{/link-to}}
                            {{t 'exchangeOrder.internalAccount-2'}}
                          </td>
                        </tr>

                      {{else}}
                      
                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td><span class="cryptoAdress" style="color: #10ADE4;"></span></td>
                        </tr>

                      {{/if}}

                      <tr>
                        <td></td>
                        <td class="orderDate"></td>
                      </tr>
                      
                    </tbody>
                  </table>

                  <div class="ui center aligned grid row">
                      <div class="ui six wide computer six wide tablet seven wide mobile centered center aligned column">
                        {{#link-to 'lang.register' ENV.i18n.lang tagName="a"}}
                          <button class="ui teal fluid small button"><span>{{t 'exchangeOrder.registration'}}</span>
                          </button>
                        {{/link-to}}
                      </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          {{change/payment-step13 formData=formData step=step lang=lang}}
          {{/if}}

          {{#if step14}}

          <div id="form-step14" class="forms-steps">
            <div class="ui grid container">
              <div class="ui row">
                <div class="ui sixteen wide column">
                  <table class="orders_table ui very basic table">
                    <tbody>

                      <tr>
                        <td class="order">{{t 'exchangeOrder.order'}} #<span class="orderId"></span></td>
                        <td class="status" width="70%">{{t 'exchangerStatuses.Non3DS'}}</td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'exchangeOrder.payAmount.title'}}</td>
                        <td><span class="payAmount"></span>&nbsp;<span class="cashIn"></span></td>
                      </tr>

                      <tr class="frame">
                        <td>{{t 'change.withdrawalAmount'}}</td>
                        <td><span class="payOutAmount"></span>&nbsp;<span class="payOutCurrencyId"></span></td>
                      </tr>

                      {{#if internalAccount}}

                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td>
                            {{t 'exchangeOrder.internalAccount-1'}}
                            {{#link-to 'lang.login' ENV.i18n.lang tagName="a" class="blue"}}
                              {{t 'exchangeOrder.internalAccount-link'}}
                            {{/link-to}}
                            {{t 'exchangeOrder.internalAccount-2'}}
                          </td>
                        </tr>

                      {{else}}
                      
                        <tr class="frame" class="cryptoAdressRow">
                          <td>{{t 'form.cryptoAdress'}}</td>
                          <td><span class="cryptoAdress" style="color: #10ADE4;"></span></td>
                        </tr>

                      {{/if}}

                      <tr>
                        <td></td>
                        <td class="orderDate"></td>
                      </tr>
                      
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

          </div>

          {{change/payment-step14 formData=formData step=step lang=lang}}
          {{/if}}

          {{#if step15}}
          <div id="form-step15" class="forms-steps">
            <div class="ui grid container">
              <div class="ui row">
                <div class="ui sixteen wide column">

                </div>
              </div>
            </div>
          </div>
          {{change/payment-step15 formData=formData step=step lang=lang}}
          {{/if}}

          {{#if step16}}

          <div class="ui center aligned grid">
            <div class="ui ten wide computer sixteen wide tablet sixteen wide mobile center aligned column">

              <div id="form-step16" class="forms-steps">
                <div class="ui grid container">
                  <div class="ui row">

                    <div class="ui sixteen wide center aligned column" class="block-1">
                      <p>{{sendCurrencyText}}</p>
                    </div>

                    <div class="ui sixteen wide center aligned column" class="block-2">
                      <p></p>
                    </div>

                    <div class="ui sixteen wide center aligned column" class="block-3">
                      {{#if copiedToClipboard}}
                        <span class="copied">{{t 'exchangeOrder.changeCrypto.copied'}}</span>
                      {{else}}
                        <span class="copy">{{t 'exchangeOrder.changeCrypto.copy'}}</span>
                      {{/if}}
                    </div>

                    <div class="ui sixteen wide column">
                      <img class="ui centered image qrcode" alt="QR-code" src="">
                    </div>

                    <div class="ui sixteen wide column" class="block-4">
                      <p></p>
                    </div>

                  </div>
                </div>

              </div>

            </div>
          </div>
          {{change/payment-step16 formData=formData step=step lang=lang sendCurrencyText=sendCurrencyText}}
          {{/if}}


          {{#if step17}}

          <div class="ui center aligned grid form-step17-container">
            <div class="ui thirteen wide computer sixteen wide tablet sixteen wide mobile center aligned column">

              <div id="form-step17" class="forms-steps">
                <div class="ui grid container">
                  <div class="ui row">

                    <div class="ui sixteen wide left aligned column block-1" class="block-1">
                      <span class="orderName">{{t 'exchangeOrder.order'}}</span><span class="orderId"></span>
                    </div>

                    <div class="ui sixteen wide center aligned column" class="block-2">
                      <p>
                        <span class="text-1">{{t 'exchangeOrder.step17.sentText'}} </span>
                        <span class="text-2 sentAmount"></span>

                      </p>
                      <p class="text-3 fromCryptoAdress"></p>
                      <p>
                        <span class="text-1">{{t 'exchangeOrder.step17.receiveText'}} </span>
                        <span class="text-2 receiveCryptoAdress"></span>
                      </p>
                      <p class="text-3 toCryptoAdress"></p>
                      <p class="rate"></p>
                    </div>

                    <div class="ui sixteen wide center aligned column" class="block-3">
                      {{!-- <img class="ui centered image" src="/ember/images/pos-all-3.png"> --}}
                      <img class="ui centered image" src="/ember/images/part2.gif">
                    </div>

                    <div class="ui sixteen wide center aligned column" class="block-4">
                      <div class="ui three column grid">
                        <div class="row">
                          <div class="column"><p>{{t 'exchangeOrder.step17.status-1'}}</p></div>
                          <div class="column">
                            <p>
                              <span>{{t 'exchangeOrder.step17.status-2'}}</span><br>
                              <span class="sub">{{t 'exchangeOrder.step17.status-2-sub'}}</span>
                            </p>
                          </div>
                          <div class="column"><p>{{t 'exchangeOrder.step17.status-2'}}</p></div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>


              <div class="ui grid bottom-part">
                <div class="three wide column">
                  <img class="ui centered image" src="/ember/images/pos-ok.png">
                </div>
                <div class="thirteen wide column">
                  <p>{{t 'exchangeOrder.step17.transaction-completed'}}</p>
                </div>
              </div>
              {{!-- <div class="ui sixteen wide center aligned column" class="block-4">
                <img class="ui centered image" src="/ember/images/pos-ok.png">
                Congratulations, you transaction has been completed!
              </div> --}}




            </div>
          </div>

          {{change/payment-step17 formData=formData step=step lang=lang sendCurrencyText=sendCurrencyText}}
          {{/if}}

          {{#if step18}}

          <div class="ui center aligned grid form-step18-container">
            <div class="ui thirteen wide computer sixteen wide tablet sixteen wide mobile center aligned column">

              <div id="form-step18" class="forms-steps">
                <div class="ui grid container">
                  <div class="ui row">

                    <div class="ui sixteen wide left aligned column block-1" class="block-1">
                      <span class="orderName">{{t 'exchangeOrder.order'}}</span><span class="orderId"></span>
                    </div>

                    <div class="ui sixteen wide center aligned column" class="block-2">
                      <p>
                        <span class="text-1">{{t 'exchangeOrder.step17.sentText'}} </span>
                        <span class="text-2 sentAmount"></span>

                      </p>
                      <p class="text-3 fromCryptoAdress"></p>
                      <p>
                        <span class="text-1">{{t 'exchangeOrder.step17.receiveText'}} </span>
                        <span class="text-2 receiveCryptoAdress"></span>
                      </p>
                      <p class="text-3 toCryptoAdress"></p>
                      <p class="rate"></p>
                    </div>

                    <div class="ui sixteen wide center aligned column" class="block-3">
                      {{!-- <img class="ui centered image" src="/ember/images/pos-all-2.png"> --}}
                      <img class="ui centered image" src="/ember/images/part1.gif">
                    </div>

                    <div class="ui sixteen wide center aligned column" class="block-4">
                      <div class="ui three column grid">
                        <div class="row">
                          <div class="column"><p>{{t 'exchangeOrder.step17.status-1'}}</p></div>
                          <div class="column">
                            <p>
                              <span>{{t 'exchangeOrder.step17.status-2'}}</span><br>
                              <span class="sub">{{t 'exchangeOrder.step17.status-2-sub'}}</span>
                            </p>
                          </div>
                          <div class="column"><p>{{t 'exchangeOrder.step17.status-3'}}</p></div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

            </div>
          </div>

          {{change/payment-step18 formData=formData step=step lang=lang sendCurrencyText=sendCurrencyText}}
          {{/if}}

          {{#if step1}}

            <div class="ui center aligned grid row step1">
              <div class="ui six wide mobile four wide tablet four wide computer column steps-left-button-container">
                {{#if prevStep}}
                <button {{action 'prevStep'}} id="prevStepBtn" class="ui left fluid button">
                  <label>{{t 'change.previousButton'}}</label>
                </button>
                {{/if}}
              </div>

              <div class="ui four wide mobile eight wide tablet eight wide computer column"></div>

              <div class="ui six wide mobile four wide tablet four wide computer column steps-right-button-container">
                {{#if nextStep}}
                  {{async-button id="nextStepBtn" action=(action "nextStep") class="ui right fluid button" default=(t 'change.nextButton') pending=(t 'change.nextButton')}}
                {{/if}}
              </div>
            </div>

          {{else}}

            <div class="ui center aligned grid row">
              <div class="ui six wide mobile four wide tablet four wide computer column steps-left-button-container">
                {{#if prevStep}}
                <button {{action 'prevStep'}} id="prevStepBtn" class="ui left fluid button">
                  <label>{{t 'change.previousButton'}}</label>
                </button>
                {{/if}}
              </div>

              <div class="ui four wide mobile eight wide tablet eight wide computer column"></div>

              <div class="ui six wide mobile four wide tablet four wide computer column steps-right-button-container">
                {{#if nextStep}}
                  {{async-button id="nextStepBtn" action=(action "nextStep") class="ui right fluid button" default=(t 'change.nextButton') pending=(t 'change.nextButton')}}
                {{/if}}
              </div>
            </div>

          {{/if}}

          </div>
        </div>
        </div>
        </div>

      {{#if step5}}
        <div id="anim-only-bank" class="buy-animation" class="ui center aligned grid" style="">
          <div class="ui row">
            <div class="ui one wide mobile six wide computer six wide tablet column">
            </div>
            <div class="ui fifteen wide mobile ten wide tablet ten wide computer column">
              <div id="svgContainer"></div>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if step6}}
        <div id="anim-verification" class="buy-animation" class="ui center aligned grid">
          <div class="ui row">
            <div class="ui one wide mobile six wide computer six wide tablet column">
            </div>
            <div class="ui fifteen wide mobile ten wide tablet ten wide computer column">
                <div id="svgContainer"></div>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if step7}}
        <div style="margin-bottom: 8em" class="ui row"></div>
      {{/if}}

      {{#if step8}}
        <div id="anim-buy-coins-repeat" class="buy-animation" class="ui center aligned grid">
          <div class="ui row">
            <div class="ui one wide mobile six wide computer six wide tablet column">
            </div>
            <div class="ui fifteen wide mobile ten wide tablet ten wide computer column">
                <div id="svgContainer"></div>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if step9}}
        <div style="margin-bottom: 8em" class="ui row"></div>
      {{/if}}

      {{#if step10}}
        <div id="anim-buy-coins" class="buy-animation" class="ui center aligned grid">
          <div class="ui row">
            <div class="ui one wide mobile six wide computer six wide tablet column">
            </div>
            <div class="ui fifteen wide mobile ten wide tablet ten wide computer column">
                <div id="svgContainer"></div>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if step11}}
        <div id="anim-only-bank" class="buy-animation" class="ui center aligned grid" style="">
          <div class="ui row">
            <div class="ui one wide mobile six wide computer six wide tablet column">
            </div>
            <div class="ui fifteen wide mobile ten wide tablet ten wide computer column">
              <div id="svgContainer"></div>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if step12}}
        <div id="anim-part1" class="buy-animation" class="ui center aligned grid">
          <div class="ui row">
            <div class="ui one wide mobile six wide computer six wide tablet column">
            </div>
            <div class="ui fifteen wide mobile ten wide tablet ten wide computer column">
              <div id="svgContainer"></div>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if step14}}
        <div id="anim-part1" class="buy-animation" class="ui center aligned grid">
          <div class="ui row">
            <div class="ui one wide mobile six wide computer six wide tablet column">
            </div>
            <div class="ui fifteen wide mobile ten wide tablet ten wide computer column">
              <div id="svgContainer"></div>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if step15}}
        <div style="margin-top: -16em;" class="buy-animation" class="ui center aligned grid">
          <div class="ui row">
            <div class="ui one wide mobile six wide computer six wide tablet column">
            </div>
            <div class="ui fifteen wide mobile ten wide tablet ten wide computer column">
              <div id="svgContainer"></div>
            </div>
          </div>
        </div>
      {{/if}}
      
      </div>

{{else}}
  {{change/steps-content-error}}

{{/unless}}



{{#if (not returned)}}

  <div id="map-segment-container">
    <div  class="buy-page ui basic segment container">
      {{change/map-segment country=countryLang}}
    </div>
  </div>

  <div id="buying-segment-container">
    <div  class="buy-page ui basic segment container">
      {{change/buying-segment}}
    </div>
  </div>

  <div id="phone-segment-container">
    <div class="buy-page ui basic segment container">
      {{change/phone-segment}}
    </div>
  </div>

  <div id="social-segment-container">
    <div class="buy-page ui basic segment container">
      {{change/social-segment facebook=model.facebook}}
    </div>
  </div>

  <div id="cryptocurrencies-segment-container">
    <div class="buy-page ui basic segment container">
      {{change/cryptocurrencies-segment}}
    </div>
  </div>

  <div id="news-segment-container">
    <div class="buy-page ui basic segment container">
      {{#unless errorNews}}
        {{change/news-segment news=model.news}}
      {{else}}
        {{change/news-segment-error}}
      {{/unless}}
    </div>
  </div>



  <div id="links-segment-container">
    <div class="buy-page ui basic segment container">
      {{change/links-segment}}
    </div>
  </div>

{{/if}}

{{else}}
<div id="steps-content-error" class="ui center aligned grid">

  <div class="ui row">
    <div class="ui center aligned ten wide column" class="title1">

      {{!-- Spinner loading --}}
      <div class="windows8">
        <div class="wBall" id="wBall_1">
          <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
          <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
          <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
          <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
          <div class="wInnerBall"></div>
        </div>
      </div>

      {{!-- {{t 'form.loading'}} --}}
      {{change/loading-block}}
    </div>
    
  </div>

  

</div>

{{/unless}}

  <div id="footer-segment-container">
    <div class="buy-page ui basic segment container">
      {{change/footer-segment lang=langRoute}}
    </div>
  </div>

</div>

</div>

<div id="priceChangedModal" class="ui tiny modal">
  <div class="header">{{t 'modals.price-changed.header'}}</div>
  <div class="content">
    <p id="priceChangedModalMessage"></p>
  </div>

  <div class="actions">
    <button class="ui black deny button">
      {{t 'modals.price-changed.cancel'}}
    </button>
    <button class="ui positive right button">
      {{t 'modals.price-changed.agree'}}
    </button>
  </div>
  
</div>

<div id="errorModal" class="ui tiny modal">
  <div class="header">{{t 'error.title'}}</div>
  <div class="content">
    <p id="errorModalMessage"></p>
  </div>
  <div class="actions">
    <button class="ui positive right button">
      OK
    </button>
  </div>
</div>

<div id="attentionModal" class="ui tiny modal">
  <div class="content">
    {{!----}}<p style="font-size: 1.4em; text-align: center;">{{t 'modals.accept-agreement.text'}}</p>
    {{!--<p id="attentionModalLink" style="font-size: 1.4em; text-align: center;">{{notifTermsOfUse}}</p>--}}
  </div>
  <div class="actions">
    <button class="ui positive right button">OK</button>
  </div>
</div>

<div id="attention" class="ui tiny modal">
  <div class="content">
    <p>{{t 'usAlert'}}</p>
  </div>

  <p style="text-align: center;"></p>
  <div class="actions">
    <div class="ui positive right button">
      OK
    </div>
  </div>
</div>

<div id="loginModal" class="ui tiny modal">

  <form class="ui form">
    <div class="ui error message"></div>

    <div class="ui center aligned grid">
      <div class="ui grid center aligned row">
        <div class="ui nine wide column">
          <input class="email" type="text" name="email" placeholder={{t 'form.email'}}>
        </div>
        <div class="ui nine wide column">
          <input class="password" type="text" name="password" placeholder={{t 'form.password'}}>
        </div>

        <div class="ui center aligned row">
          <div class="ui five wide column">
              <div class="ui left fluid input">
                  {{input type="text" placeholder=(t 'affiliate.accounts.captchaPlaceholder')}}
              </div>
          </div>

          <div class="captcha-img">
            <img src="/Tools/CaptchaHandler.ashx" id="loginCaptcha_img" width="125" height="30"><span id="loginCaptcha_imgHint" class="hint">?</span>
          </div>
        </div>
        <div class="ui grid center aligned row">
          <div class="ui sixteen wide column">
            <a class="login-forgot" href="#">
              Forgot Password
            </a>
            <div {{action 'signIn'}} class="sign-in" class="ui eight wide positive button">
              Sign in
            </div>

          </div>
        </div>

      </div>
    </div>

  </form>
  
</div>

{{!-- KYC modal window --}}
<div id="KYCModal" class="ui fullscreen modal">
  {{!--<i class="close icon"></i>--}}
  <div class="content">
    <iframe id="KYCiframe" src="" style="width: 100%;"></iframe>
  </div>
  <div class="actions">
    <div class="ui positive right button">
      OK
    </div>
  </div>
</div>

<div id="successVideoRecord" class="ui tiny modal">
  <div class="content">
    <p>{{t 'modals.success-video.text'}}</p>
  </div>
  <div class="actions">
    <div class="ui positive right button">
      OK
    </div>
  </div>
</div>