<div id="content" class="ui segment">
  <div class="ui grid container">
    <div class="ui row">
      <div class="ui sixteen wide column">
        <div class="ui breadcrumb">
        {{#link-to 'index'}}<a class="section"><i class="home icon"></i>Home</a>{{/link-to}}
          {{#if model.info.0.name}}
            <i class="right angle icon divider"></i>
            <div class="active section">{{model.info.0.name}}</div>
          {{/if}}
        </div>
      </div>
    </div>


    <div class="ui row">
      <div class="ui eight wide column">
        <h2 class="ui header">{{model.info.0.name}}
          <div class="sub header">Rank #{{model.info.0.rank}}</div>
        </h2>
      </div>
      <div class="ui right floated four wide tablet only computer only column">
        {{misc/buy-button symbol=model.info.0.symbol}}
      </div>
      <div class="ui right floated eight wide mobile only column">
        {{misc/buy-button symbol=model.info.0.symbol}}
      </div>
    </div>

    <div class="ui tablet only computer only row">
      <div class="ui sixteen wide column">
        <div class="ui top attached segment">
          <h3 class="ui header">History graph for current year</h3>
        </div>
        <div class="ui bottom attached segment">
          {{ember-chart type='line' data=chart.data height=120}}
        </div>
      </div>
    </div>

    {{#if model.wiki.article}}
    {{currency-wiki wiki=model.wiki}}
    {{/if}}

    <div class="ui row">
      <div class="ui sixteen wide column">
        <table id="currency--basic-info" class="ui celled unstackable table">
          <thead>
          <tr>
            <th>Market Cap</th>
            <th>Price</th>
            <th>Volume (24h)</th>
          </tr></thead>
          <tbody>

            <tr>
              <td><i class="dollar icon"></i> {{format-money model.info.0.market_cap_usd symbol=selectedCurrency format="%v"}}</td>
              <td><i class="dollar icon"></i> {{format-money model.info.0.price_usd symbol=selectedCurrency format="%v"}}</td>
              <td><i class="dollar icon"></i> {{format-money model.info.0.24h_volume_usd symbol=selectedCurrency format="%v"}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="ui row">
      <div class="ui sixteen wide column">
        <table id="currency--change" class="ui celled unstackable selectable table">
          <thead>
          <tr>
            <th>Change in 1 hour</th>
            <th>Change in 24 hours</th>
            <th>Change in 7 days</th>
          </tr></thead>
          <tbody>

            <tr>
              <td class="{{model.info.0.color1h}}">{{model.info.0.percent_change_1h}} <i class="small percent icon"></i></td>
              <td class="{{model.info.0.color24h}}">{{model.info.0.percent_change_24h}} <i class="small percent icon"></i></td>
              <td class="{{model.info.0.color7d}}">{{model.info.0.percent_change_7d}} <i class="small percent icon"></i></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>


    <div class="ui row">
      <div class="ui sixteen wide centered column">
        <table class="ui celled padded center aligned unstackable table">
          <thead>
          <tr>
            <th>Available supply</th>
          </tr></thead>
          <tbody>

            <tr>
              <td><i class="dollar icon"></i> {{format-money model.info.0.available_supply symbol=selectedCurrency format="%v"}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>


    <div class="ui row">
      <div class="ui four wide centered column">
        {{misc/buy-button symbol=model.info.0.symbol}}
      </div>
    </div>


{{outlet}}
  </div>
</div>
