<div id="content" class="ui segment">
  <div class="ui grid container">

    <div class="ui row">
      <div class="ui sixteen wide column">
        <h2>Error!</h2>
        <h2 class="ui header">{{t 'error.title'}}<div class="sub header">{{t 'error.sub'}}</div></h2>
        <div class="ui clearing divider"></div>

      </div>
    </div>
    <div class="ui row">
      <div class="ui sixteen wide column">
        <div class="ui red message">
            <!-- <div class="ui active text loader">Loading</div> -->
            <div class="ui center aligned fluid basic segment">
              <div class="ui left aligned top attached segment"><h4 class="ui inverted header">Error log</h4></div>
              <div class="ui left aligned instructive attached segment"><code class="code html">
                <p>{{model}}</p>
              </code></div><br>
              <div class="ui fluid basic segment">
                <h4 class="ui header">{{t 'error.text'}}</h4>
              </div>
              <div class="ui fluid basic segment">
                <p>{{#link-to 'index'}}<a class="ui basic red button">{{t 'error.home'}}</a>{{/link-to}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>
